<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./index.css"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meu Perfil</title>
    
    
    <link rel="stylesheet" href="./alterarperfil.css" type="text/css">
    <script src="./alterarperfil.js" defer></script>
    
    <link rel="stylesheet" href="../globals/footer.css">
    <link rel="stylesheet" href="../globals/header.css">
    <script src="../globals/auth.js" defer></script>
    <script src="../globals/sidebar.js" defer></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
</head>
<style>
   
</style>
<body>

    <div id="spinning"></div>
    <div class="success-message-container"></div>
    <div class="fail-message-container"></div>

    <header class="header">
        <div style="height: 100%; display: flex; align-items: center; background-color: rgb(250,250,250);" class="logo-header-container" onClick="window.location.href = '/'">
            <img src="../assets/logo.png" style="width: 100%; height: 100%; margin-left: 8px; min-width: 75px; max-width: 85px;" alt="">
            <div class="company-name" style="height: fit-content; display: flex; padding: 0 35px;">
                <span style="font-family: monospace; font-size: 1.6em; color:rgb(41, 41, 41); text-decoration: solid;">
                    Go
                </span>
                <span style="font-family: monospace; font-size: 1.6em;color:rgb(122, 192, 16); font-weight: 800;">
                    Green
                </span>
            </div>
        </div>

        <div class="header-main">
            <p class="nav-item"><a href="/" style="color: rgb(68,68,68)">Home</a></p>
            <p class="nav-item"><a href="/sobre" style="color: rgb(68,68,68)">Sobre</a></p>
            <p class="nav-item"><a href="/produtos" style="color: rgb(68,68,68)">Produtos</a></p>
            <div class="nav-item" id="procurar-nav-item">
            <p id="procurar-and-icon-container">
                Procurar
                <i class="fa-solid fa-caret-down" id="seta" style="font-size: .9em; margin-left: 3px; height: fit-content;"></i>
            </p>
            <div class="procurar-painel-container" isOpen="false">
                <p style="margin: 0;" id="produtores-item" onClick="window.location.href = '/procurarUsuario'">Produtores</p>
                <p style="margin: 0; margin-top: 8px;"id="produtos-item" onClick="window.location.href = '/procurarProduto'">Produtos</p>
            </div>
            </div>
            <p class="hamburger-icon"><i class="fa-solid fa-bars"></i></p>
        </div>


        <div id="register-and-login" style="margin-left: 25px; display: flex; background-color: rgb(249, 249, 249); justify-content: center;">
            <p style="margin:0; padding-right: 15px; border-right: 1px solid rgb(92, 92, 92);" ><a href="/registrar" style="text-decoration: none;">
                <i class="fa-solid fa-user-plus" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
            </a>
        </p>
            <p style="margin:0; padding-left: 15px;">
                <a href="/login" style="text-decoration: none;">
                    <i class="fa-solid fa-right-to-bracket" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
                </a>
            </p>
        </div>

        <div class="header-user-icon-container">
            <img class="header-user-icon" src="" style="position:relative;">
            <div class="header-painel" style="visibility: hidden;">
                <li class="user-painel-item" style="margin-top: 0;">
                    <a href="/"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Home</a></li>
                <li class="user-painel-item" style="margin-top: 0;">
                    <a href="/MeuPerfil"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Meu Perfil</a></li>
                <li class="user-painel-item"><a href="/criar"
                    style="text-decoration: none; color: rgb(177, 177, 177);">Criar</a></li>
                <li class="user-painel-item"><a href="/criar"
                    style="text-decoration: none; color: rgb(177, 177, 177); margin-bottom:25px;"
                    >Meus produtos</a></li>
                <button class="logout-btn">Logout</button>
            </div>
        </div>
    </header>


    <div class="sidebar" isOpen="false">
        <div class="sidebar-items">
            <p class="sidebar-item" onclick="window.location.href = '/'">Home</p>
            <p class="sidebar-item" onclick="window.location.href = '/sobreNos'">Sobre Nós</p>
            <p class="sidebar-item" onclick="window.location.href = '/produtos'">Produtos</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarProduto'">Procurar Produto</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarUsuario'">Procurar Produtor</p>
            <h2 id="click-to-close">CLICK PRA FECHAR</h2>
        </div>
    </div>



    <div class="bell-container">
        <div class="bell-inside-container">
            <i class="fa-regular fa-bell" style="font-size: 2.5em;"></i>
            <div class="bell-painel">
                <div class="bell-painel-inside">
                <!-- <div class="select-all-messages-container">
                    <button class="delete-messages-button">Apagar pra mim</button>
                </div> -->
                <div class="all-messages-container">

                </div>
            </div>
        </div>
    </div>
    </div>






    










    

    <div class="container">
        <div class="c1">
              
            <h2 id="c1-main-name" style="
            text-align: center;
                text-overflow: ellipsis; overflow: hidden; width: 95%;max-height: 150px;"></h2>
            
            <div class=circle>
                <div class="edit-circle-icon-container">
                    <i class="fa-solid fa-pencil"></i>
                </div>
                <input type="file" name="file" id="files" accept="image/png, image/jpeg, image/jpg">
                    <img id="circle-change-image-cover" src="" alt="user-profile-pic"
                    style="width: 100%; height: 100%; border-radius: 50%;"
                    ></img>
            </div>

            <div class="warning-about-file-size-container">
                <p class="warning-about-file-size-text">Faça updload de um novo avatar. Imagens maiores que 
                    <span style="font-weight: 700;">200Kbs</span> não serão aceitas. É recomendavel que sua imagem tenha lados proporcionais</p>
            </div>
            <p id="membro-desde" style="margin-top: 45px; font-size: .8em; color: rgb(160, 160, 160);">Membro desde
                
                <span id="mes"></span>
                de
                <span id="ano"></span>
            </p>
     
                    <!-- <div style="width: 85%; display: flex; align-items: center; justify-content: center; background-color: white; color:rgb(198, 198, 198);">
                        <p>koasokcakos</p>
                        <i class="fa-regular fa-copy"
                            style="cursor: pointer; font-size: 1.1em; color: rgb(106,106,106); margin-left: 5px;"
                        ></i>
                    </div>
       -->
        </div>


        <div class="c2">
            <div class="c2-first-container" >
   
                <h2 class="main-title"  id="ola-message" style="
                    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
                    margin: 0; font-size: 2.3em; color:rgb(24, 24, 24); font-weight: 700;">Olá, </h2>

                <div class="user-info-and-advanced-container">
                    <div class="category-text-container" id="category-user-info" style="border-bottom: 2px solid rgb(126, 176, 28); color: rgb(18,18,18);">
                        <h3 class="category-text" id="user-info-text">User info</h3>
                    </div>
                    <div class="category-text-container" id="category-advanced"  style="margin-left:30px;">
                        <h3 class="category-text" id="avancado-text">Avancado</h3>
                    </div>
                </div>
            </div>


            <div class="c2-second-container" >
                <div class="c2-advanced-info">
                    <!-- <div style="display: flex; justify-content: start;">
                        <div style="width: 45%; height: 80px; background: rgba(235, 254, 200, 0.865);
                            border-radius: 12px;
                            border: 1px solid rgb(126, 176, 28);
                            display: flex;
                            align-items: center;
                            padding: 10px 15px 10px 15px;
                   
                        ">
                        <div style="margin-right: 15px;">
                            <input style="accent-color: rgb(126, 176, 28);" type="radio" name="user-type" value="default" checked>  
                        </div>
                        <div>
                            <p style="font-size: 1em; margin: 0; font-weight: 700; color: rgb(223, 223, 223);">Usuario Padrao</p>  
                            <p style="font-size: .7em; margin: 0; font-weight: 600; color:rgb(126, 176, 28);">Sou um usuario sem conhecimentos de produtos organicos</p>  
                        </div>
                    </div>
                    <div style="width: 45%; height: 80px; background: rgb(248, 248, 248);
                            border-radius: 12px;
                            border: 1px solid rgb(180, 180, 180);
                            display: flex;
                            align-items: center;
                            padding: 10px 15px 10px 15px;
                            margin-left: 10px;
                   
                        ">
                        <div style="margin-right: 15px;">
                            <input style="accent-color: rgb(209, 209, 209);" type="radio" name="user-type" value="produtor">  
                        </div>
                        <div>
                            <p style="font-size: 1em; margin: 0; font-weight: 700; color: rgb(150, 150, 150);">Produtor</p>  
                            <p style="font-size: .7em; margin: 0; font-weight: 600; color:rgb(150, 150, 150);">Planto produtos e gostaria de divulga-los</p>  
                        </div>
                    </div>
                    </div> -->
                    <div class="label-and-input-from-c1">
                        <label for="name">email</label>
                        <input type="text" disabled value="xiiguilhermeiix@gmail.com" id="profile-email-input">
                    </div>
                    
          
                    <div class="label-and-input-from-c1">
                        <label >Alterar Senha</label>
                        <input type="text" value="" id="profile-password-input">
                    </div>
                    <div class="label-and-input-from-c1">
                        <label >Confirmar Senha</label>
                        <input type="text" value="" id="profile-confirmar-password-input">
                    </div>
                    <!-- <button id="deletar-btn">
                        <div id="inside-salvar-btn-circle" style="pointer-events: none;"></div>
                        <div id="deletar-btn" style="pointer-events: none;">Excluir conta</div>
                    </button> -->

                    <button id="deletar-btn" style="background-color: red;  margin-top: 15px;">
                        <div id="inside-confirmar-btn-circle" style="pointer-events: none;"></div>
                        <span id="confirmar-btn-text" style="pointer-events: none;">Excluir conta</span>
                    </button>
                </div>


                <div class="c2-user-info">
                <div class="label-and-input-from-c1" style="margin-top: 15px;">
                    <label for="name">name</label>
                    <input type="text" id="profile-name-input">
                    </div>
            <div class="label-and-input">
                <label for="Local/Cidade">Local/Cidade</label>
                <input type="text" id="profile-cidade-input" >
            </div>
            
            <div class="label-and-input">
                <label for="Sobre">Sobre (detalhada)</label>
                <textarea type="text" style="height: 80px; resize: none;" id="profile-sobre-input" ></textarea>
            </div>
            
            <div class="gender-and-born-date">
                <div class="label-and-input" style="width: 35%;">
                    <label>Genero</label>
                    <select name="select" id="profile-genero-input">
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                        <option value="3" selected>Outro</option>
                    </select>
                </div>
                

                    <div class="label-and-input" style="width: 60%;">
                        <label for="Data de Nascimento">Data de Nascimento</label>
                        <input type="date" id="profile-data-nascimento-input">
                    </div>
            </div>
                
                <div class="label-and-input">
                    <label for="Sobre">Telefone para contato</label>
                <input type="text" placeholder="" id="profile-phone-input">
            </div>

            <div class="label-and-input">
                <label for="Bio">Bio (Breve descricão)</label>
                <textarea type="text" id="profile-bio-input" style="resize: none;"></textarea>
            </div>
            <div style="width: 85%; margin-top: 15px;">
                <button id="salvar-btn">
                    <div id="inside-salvar-btn-circle" style="pointer-events: none;"></div>
                    <div id="salvar-btn-text" style="pointer-events: none;">Atualizar Perfil</div>
                </button>

            </div>

            </div>
        </div>





        
    </div>
    <div class="empty"></div>
    </div>




    <div class="footer">
        <div class="footer-circle">
            <div class="footer-circle-inside"></div>
        </div>
        <div class="footer-circle-2">
            <div class="footer-circle-inside-2">
            <div class="sobre-nos-text">
                    <p>
                        <i class="fa-solid fa-phone"></i>Atendimento: (11) 964988-2424 
                    </p>
                    <p>
                        <i class="fa-solid fa-plus"></i>
                        Sobre nós        
                    </p>
                </div>
            </div>
        </div>
        <div class="f1">
            <div class="f1-main">
                <h1 class="f1-title">GO GREEN</h1>
                <h2 class="f1-second-title">Produtos Orgânicos</h2>
                <p class="f1-text">A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para te</p>
            </div>
        </div>
        <div class="f2">
            <div class="f2-circle"></div>
            <h3 style="color:rgb(60,68,55); margin-bottom: 0;">GoGreen</h3>
            <h5 style="color: rgb(119,181,12);">Viva Bem</h5>
        </div>
        <div class="f3"></div>
    </div>
</body>
</html>