<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./alterarperfil.css" type="text/css">
    <link rel="stylesheet" href="../assets/header.css">
    <link rel="stylesheet" href="../assets/sidebar.css">
    
    <script src="../assets/auth.js" defer></script>
    <script src="../assets/toggeSidebar.js" defer></script>
    <script src="./alterarperfil.js" defer></script>
    
    <title>Alterar Perifl</title>

    <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
</head>
<body onclickclose="true">


    <div id="spinning"></div>
    <div class="success-message-container"></div>
    <div class="fail-message-container"></div>

    <header class="header">
        <div style="height: 100%; display: flex; align-items: center;">
            <img src="../assets/gg.png" style="width: 100%; height: 100%; margin-left: 8px; min-width: 75px; max-width: 85px;" alt="">
            <!-- <nav class="company-name" style="margin-right: 45px;">Girassol</nav> -->
        </div>
        <div class="header-main">
            <p class="nav-item">Home</p>
            <p class="nav-item">Sobre</p>
            <p class="nav-item">Produtos</p>
            <div class="nav-item" id="procurar" style="background-color: blue;">Procurar 
                <div id="procurar-painel" isOpen="false" style="background-color: yellow;">
                    <li><a href="/pageprocurarusuario" style="background-color: red;">Produtores</a></li>
                    <li><a href="/pageprocurarusuario">Produtos</a></li>
                </div>
            </div>
            <p class="hamburger-icon"><i class="fa-solid fa-bars"></i></p>
        </div>
        <div id="register-and-login" style="display: flex;">
            <p style="margin:0; margin-right: 9px;" ><a href="/pagecadastrar" style="text-decoration: none;">Cadastrar</a></p>
        
            <p style="margin:0;"><a href="/pagelogin" style="text-decoration: none;">Login</a></p>
        </div>

        <div class="header-user-icon-container">
            <img class="header-user-icon" src="" style="position:relative;">
            <div class="header-painel" style="visibility: hidden;">
                <li class="user-painel-item" style="margin-top: 0;"><a href="/pagealterarusuario"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Meu Perfil</a></li>
                <li class="user-painel-item"><a href="/criar"
                    style="text-decoration: none; color: rgb(177, 177, 177);">Criar</a></li>
                <li class="user-painel-item"><a href="/criar"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Meus produtos</a></li>
                <button class="logout-btn">Logout</button>
            </div>
        </div>
    </header>


    <div class="sidebar" isOpen="false">
        <div class="sidebar-items">
            <p class="sidebar-item">Home</p>
            <p class="sidebar-item">Sobre Nós</p>
            <p class="sidebar-item">Produtos</p>
            <p class="sidebar-item">Procurar Produto</p>
            <p class="sidebar-item">Procurar Produtor</p>
            <h2 id="click-to-close">CLICK PRA FECHAR</h2>
        </div>
    </div>

   
    <div class="janela-confirmacao">
        <button id="close-btn" style="float:right;" onclick="closePainel()">x</button>
        <h1>Confirmar</h1>
        <p style="color: #747474; font-size: 1.2em; font-weight: 600; font-family: 'Inter', sans-serif;">Sua conta e seus posts serão deletados para sempre. Confirmar?</p>
        <button id="confirmar-btn">
            <div id="inside-confirmar-btn-circle" style="pointer-events: none;"></div>
            <span id="confirmar-btn-text" style="pointer-events: none;">Confirmar</span>
        </button>
    </div>
















    
    
    <form class="container" onclickclose="true" id="form">
        <div class="c1" onclickclose="true">
            <div class="triangle1"></div>
            <div class="triangle2"></div>
            <div class="c1-first-container" ><h1 class="main-title" style="margin-bottom: 10px;">Editar Perfil</h1>
                <h2 class="main-title"  id="ola-message" style="margin: 0; margin-bottom: 42px; font-size: 1.9em;">Olá, </h2>
            </div>
            <div class="c1-second-container" onclickclose="true">
                <div class="circle" >
                    <input type="file" name="file" id="files" accept="image/png, image/jpeg, image/jpg">
                    <img id="circle-change-image-cover" src="" alt="user-profile-pic"
                    style="width: 100%; height: 100%; background-color: red;"
                    ></img>
                </div>
                <div class="profile-email" id="profile-email-input"></div>
                
                    <input type="text" value="" id="profile-name-input" style="height: 50px; font-size: 1.2em; color: #b9b9b9">
                
            </div>
            <!-- <div class="c1-third-container">
                <h2>Imagens de Perfil: </h2>
                <li>O tamanho máximo para imagens é de 230KB</li>
            </div> -->

        </div>    




        <div class="c2" onclickclose="true">
            <div class="c2-first-container" >
                <div style="flex-grow: 1; border-bottom: 1px solid rgba(201, 201, 201, 0.819); border-radius: 2px;">

                    <div class="label-plus-input-container">
                        <label>Cidade</label>
                        <input type="text" class="form-field-input" id="profile-cidade-input" value="">
                    </div>
                    <div class="label-plus-input-container">
                        <label>Sobre</label>
                        <textarea name=""  cols="30" rows="13" id="profile-sobre-input"></textarea>
                    </div>
                </div>
                <div class="label-plus-input-container" >
                    <label>Bio</label>
                    <textarea name="" cols="30" rows="09" id="profile-bio-input"></textarea>
                </div>
            </div>
            <div class="c2-second-container">
                <div class="label-plus-input-container">
                    <label>Data de Nascimento - yyyy-mm-dd</label>
                    <input type="text" class="form-field-input" id="profile-data-nascimento-input" value="">
                </div>
                <div class="label-plus-input-container">
                    <label>Genero</label>
                    <select name="select" id="profile-genero-input">
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                        <option value="3" selected>Outro</option>
                      </select>
                </div>
                <div class="label-plus-input-container">
                    <label>Sociais</label>
                    <input type="text"  class="social-input" value=""  placeholder="Numero para contato" id="profile-social-one-input" style="margin-top: 0;">
                    <input type="text" class="social-input" value="meuinstagram.com.br" id="profile-social-two-input">
                    <input type="text" class="social-input" value="(11) 97584-8533" id="profile-social-three-input">
                </div>
                <button id="salvar-btn">
                    <div id="inside-salvar-btn-circle" style="pointer-events: none;"></div>
                    <div id="salvar-btn-text" style="pointer-events: none;">Salvar</div>
                    </button>
            </div>
        </div>
        <div class="c3">
            <div class="c3-first-container">
                <div class="avancado-container">
                    <div style="background: white; padding: 20px 15px 20px 15px; box-sizing: border-box">
                        <h1 style="color: #868686;"><i class="fa-solid fa-circle-exclamation" style="font-size: 0.9em; margin-right: 8px; color: #A9A9A9;"></i>Avançado</h1>
                        <p style="color: #747474;">Todas as suas publicaçoes serão deletadas.</p>
                        <p style="color: #747474;">Caso o campo Alterar Senha esteja vazio, a senha será mantida.</p>
                    </div>

                    <div class="label-plus-input-container" style="width: 100%">
                        <label>Alterar Senha</label>
                        <input type="password" class="form-field-input" value="" id="profile-password-input">
                        <label>Confirmar Senha</label>
                        <input type="password" class="form-field-input" value="" id="profile-confirmar-password-input">
                    </div>

                    <button id="deletar-btn" type="button">
                    
                        Deletar</button>
                </div>

            </div>
        </div>
    </form>
</body>
</html>