@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); /*price*/

:root{
    --main-green: rgb(118, 184, 42);
}
.voltar-component{
    position: absolute; top: 5px; right: 25px; font-size: 2em; cursor: pointer; color: rgb(198, 198, 198)
}
.container2{
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "c1 c1 c2 c2 c2 c2 c2"
    /* "benefits benefits benefits benefits benefits benefits benefits" */
    /* "products products products products products products products" */
    "comments comments comments comments comments comments comments";
    ;
    
    /* padding: 0 300px 0 300px; */
    max-width: 2000px;
    /* background-color: rgb(125, 194, 61); */
    /* position: absolute;
    inset: 0 0 0 0; */
    width: 85vw;
    margin: 35px auto 100px auto;
    color: rgb(60,58,45);
    row-gap: 50px;
}
.products{
    grid-area: products;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-between;
    grid-row: auto;
}
.propaganda{
    grid-area: propaganda;
    padding: 0 70px 0 70px;
}
.propaganda-inside{
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/2050999/pexels-photo-2050999.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-size: cover;
}
.benefits{
    background-color:var(--main-green);
    grid-area: benefits;
    padding: 25px 0 25px 0;
    margin-top: 75px;
}
.benefits-title{
    text-align: center;
    /* padding: 25px 0 25px 0; */
    font-weight: 200;
    font-size: 2.4em;
    margin-bottom: 30px;
}
.benefits-cards-container{
    display: flex;
    padding: 0 55px 0 55px;
    justify-content: space-between;

}
.benefits-one, .benefits-two, .benefits-three{
    height: auto;
    width: 300px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    padding: 30px 0 30px 0;
    align-items: center;
    flex-direction: column;
    color: rgb(2, 64, 6);
}
.benefits-two{}
.benefits-three{}
.benefits-circle{
    width: 80px;
    height: 80px;
    background-color: rgb(2, 64, 6);
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 12px;
}
.c1,.c2{
    padding: 25px;
}
.c1{
    grid-area: c1;
    background-color: red;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}
.product-image{
    width: 100%;
    height: 320px;
}
.product-buttons-container{
    display: flex;
    margin: auto;
    width: 100%;
    height: fit-content;
    background-color: yellow;
    justify-content: space-between;
}
.product-buttons{
    margin-top: 25px;
    padding: 20px;
    background-color: var(--main-green);
    color: white;
    border: none;
}
#avaliar-btn{
    border: 1px solid var(--main-green);
    color: var(--main-green);
    background-color: rgba(255, 255, 255, 0);
}
#adicionar-carrinho-btn, #remover-carrinho-btn{
    font-weight: 700;
    visibility: hidden;
    position: absolute;
}
#remover-carrinho-btn{
    background-color: rgba(255, 255, 255, 0);
    color: var(--main-green);
    border: 1px solid var(--main-green);
}
.product-stars{
    color: var(--main-green);
    font-size: 0.9em;
    display: flex;
    margin: 12px 0 12px 0;
    align-items: center;
}
.rating-counts{
    margin: 0;
    margin-left: 8px;
}
.c2{
    grid-area: c2;
    border: 1px solid rgb(225,225,225);
    background-color: green;
}


.eight{
    font-size: .8em;
    color: rgb(120,120,120);
}
.nine{
    font-size: .9em;
    color: gray;
    display: -webkit-box;
    width: 80%;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.product-name{
    display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;

}
#price{
    font-family: 'Lato', sans-serif;
    color: var(--main-green);
    font-size: 2.4em;
    font-weight: 600;
}

.fa-solid, .fa-regular{
    margin-right: 3px;
}

.ratting-input{
    visibility: hidden;
}
.ratting-btn{
    visibility: hidden;
}


/* COMMENT ELEMENT*/
.comments{
    grid-area: comments;
    padding: 0 35px 50px 35px;
    display: flex; 
    background-color: hotpink;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
    
}
.load-more-comments-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(41, 11, 11, 0.179));
    z-index: 2;
    display: flex;
    justify-content: center;
}
#carregar-mais-btn{
    margin: auto;
    background-color: rgba(255, 255, 255);
    color: gray;
    opacity: 85%;
    border: 1px solid rgb(200,200,200);
    border-radius: 2px;
    padding: 5px 25px 5px 25px;
}
.comment-container{
    position: relative;
    border: 1px solid rgb(225,225,225);
    width: 100%;
    padding: 25px 25px 15px 25px;
    margin: 8px 0 8px 0;
}
.comment-thrash{
    position: absolute;
    top: 0;
    right: 0;
}
.comment-image-and-username-container{
    display: flex;
    align-items: center;
    padding: 12px 8px 12px 8px;
    border-top: 1px solid rgb(235,235,235); margin-top: 30px; padding-top: 15px;
    background-color: aqua;
}
.comment-image-and-username-container:hover{
    cursor: pointer;
    opacity: 75%;
}

.comment-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
}
.comment-username{
    margin: 0;
    font-weight: 700;
}
.comment-stars-container{
    display: flex;
    margin: 8px 0 8px 0;
    color: var(--main-green);
    font-size: .9em;
}
.comment-created-at, .comment-text{
    margin: 0;
}
.comment-text{
    margin: 8px 0 8px 0;
}
.comment-created-at{
    font-size: .6em;
    color: gray;
}


.comment-design-container{
    height: 255px;
    background-color: purple;
    position: relative;
    width: 100%;
    margin-top: 45px;
}
.comment-design{
    width: 330px;
    height: 90px;
    padding: 17px 15px 17px 15px;
    border-radius: 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    background-color: pink;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.183);
    margin: auto;
    left: 0;
    right: 0;
}
.comment-design-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    border: 3px solid var(--main-green);
}
.comment-design-pic-inside{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
    background-color: rgb(225,225,225);
}
#my-create-comment-pic{
    width: 38px;
    height: 38px;
}

.comment-design-texts-container{
    width: 70%;
    height: 100%;
    padding: 5px 8px 8px 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#comment-design-pic-diff{
    position: absolute;
    bottom: 18px;
    z-index: 2;
    right: 18px;
    width: 85px;
    height: 85px;
    border: 4px solid var(--main-green);
}
#comment-design-pic-inside-diff{
    width: 69px;
    height: 69px;
}
#comment-design-diff{

    height: 260px;
    border-bottom-right-radius: 2px;
}
#comment-design-text-diff{

    width: 100%;
}
#comment-design-one{
    top: 0;
    background-color: green;
    right: 35px;
}
#comment-design-two{
    bottom: 0;
    background-color: blue;
    left: 60px;
}
#comment-design-three{
    bottom: 45px;
    background-color: yellow;
}
#comment-design-four{
    bottom: 0px;
    right: 105px;
}
.comment-design-bar-one, .comment-design-bar-two{
    width: 95%;
    height: 18px;
    border-radius: 6px;
    background-color: rgb(240,240,240);
}
.comment-design-bar-two{
    width: 55%;
}

/* COMMENT ELEMENT*/

.create-comment-container{
    display: flex;
    padding: 0 25px 15px 25px;
    margin-bottom: 50px;
    width: 600px;
    visibility: hidden;

    margin-top: 25px;
}
.pic-and-textarea-container{
    display: flex;
    background-color: rgb(245,245,245);
    width: 100%;
    align-items: center;
    justify-content: start;
    height: fit-content;
    padding: 8px;
}
#my-create-comment-pic{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}
#my-create-comment-pic:hover{
    opacity: 85%;
}
#my-create-comment-pic-inside{
    height: 41px;
    width: 41px;
}
.create-comment-title{
    text-align: center;
    color: rgb(159, 159, 159);
    font-size: 1em;
    margin: 30px 0 12px 0;
}
.textarea-and-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.create-comment-stars-container{
    display: flex;
    font-size: 1.4em;
    margin: auto;
    width: fit-content;
    color: var(--main-green);
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}
#star1, #star2, #star3, #star4, #star5{
    padding-left: 0; margin: 0 2px 0 2px;
}
#star1{
    padding-left: 0; margin: 0 2px 0 0;
}

.ratting-input{
    flex-grow: 1;
    border: none;
    background-color: rgba(255,255,255,0);
    resize: none;
    height: 55px;
    padding: 8px;
    outline: none;
}

.fa-heart:hover{
    cursor: pointer;
    opacity: 70%;
}
.ratting-btn{
    width: 200px;
    border: none;
    background-color: var(--main-green);
    color: white;
    padding: 5px 19px 5px 19px;
    border-radius: 4px;
}
.comment-design-diff-container{
    width: 450px;

    height: 300px;
    margin-top: 45px;
    position: relative;
}











/* cards test */
.card-container{
    position: relative;
    background-color: white;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.101);
    /* border: 1px solid rgb(235,235,235); */
    min-height: 350px;
    height: fit-content;
    /* margin: 0 15px 0 15px; */
    width: 220px;
}

.card-container:hover{
    opacity: 95%;
    cursor: pointer;
}
.card-first{
    pointer-events: none;
    width: 100%;
    height: 300px;
    filter: brightness(65%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease-in-out;
    border: none;
}
.card-first:hover{
    filter: none;
}
.card-second{
    pointer-events: none;
    width: 100%;
    min-height: 20%;
    height: fit-content;
    
    box-sizing: border-box;
    
    padding: 8px 8px 8px 8px;
    color: #5B5B5B;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.card-title{
    text-align: start;
    color: rgb(101, 101, 101);
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: .9em;
    width: 100%;
    pointer-events: none;
    margin-bottom: 0;
}
.card-tags{
    display: flex;
    font-size: .6em;
    word-break: keep-all;
    margin: 0;
}
.card-stars{
    display: flex;
    justify-content: start;
    width: fit-content;
    font-size: .8em;
    margin: 4px 0 4px 0;
    color: var(--main-green);
}
.fa-heart{
    margin: 0;
    padding: 0 2px 0 2px;
}
.card-price{
    text-align: start;
    color: var(--main-green);
    font-size: .9em;
    margin: 0;
    margin: 4px 0 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}
/* cards test */
@media (max-width: 1000px){
    .container2{
        display: grid;
        padding: 0 5px 0 5px;
        max-width: 2000px;
        background-color: rgb(4, 6, 2);
        position: unset;
        inset: 0 0 0 0;
        margin: auto;
        height: fit-content;
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "c1 c1 c2 c2 c2 c2 c2"
    "comments comments comments comments comments comments comments";

    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "c1 c1 c2 c2 c2 c2 c2"
    /* "benefits benefits benefits benefits benefits benefits benefits" */
    /* "products products products products products products products" */
    "comments comments comments comments comments comments comments";
    ;
    }


    .voltar-component{
        position: absolute; top: 5px; right: 5px; font-size: 2em; cursor: pointer; color: rgb(198, 198, 198)
    }
    #voltar-text{
        display: none;
    }

}

@media (max-width: 710px){
    .container2{
        display: grid;
        grid-template-columns: 1fr;
        min-width: 290px;
        background-color: rgb(255, 255, 255);
        position: unset;
        inset: 0 0 0 0;
        margin: auto;
        height: fit-content;
        background-color: black;
        grid-template-rows: auto auto;
        grid-template-areas: "c1"
                            "c2"
                            "comments";

    /* "comments comments comments comments comments comments comments"; */
    }

    .c1{
        background-color: red;
    }
    .c1,.c2{
        padding: 8px;
        /* padding: 20px; */

    }
.product-buttons-container{
    background-color: gray;
    justify-content: space-around;
}

    .product-buttons{
        margin-top: 25px;
        /* padding: 12px 0 12px 0; */
        background-color: var(--main-green);
        color: white;
        border: none;
        /* font-size: 0.7em; */
    }
    #avaliar-btn{
        border: 1px solid var(--main-green);
        color: var(--main-green);
        background-color: rgba(255, 255, 255, 0);
    }
    #adicionar-carrinho-btn, #remover-carrinho-btn{
        font-weight: 700;
        visibility: hidden;
        /* padding: 0!important; */
        position: absolute;
        background-color: red;
    }
    #adicionar-carrinho-btn{
        visibility: visible;
        position: static;

    }
    #remover-carrinho-btn{
    
        background-color: rgba(255, 255, 255, 0);
        color: var(--main-green);
        border: 1px solid var(--main-green);
    }

    .comments{
        padding: 10px 15px 10px 15px;
    }
    .comment-container{
        width: 90%;
        max-width: 430px;
        background-color: black;
        padding: 0;
    }

    #comment-design-two{
        bottom: 90px;
        background-color: blue;
        left: 60px;
        right: 0;
    }

  

   

    #price{
        display: flex;
        flex-direction: column;
    }

    #comment-design-one{
        top: 0;
        left: 0;
        background-color: green;
        right: 35px;
    }
    #comment-design-two{
        top: 30px;
        background-color: blue;
        left: 70px;
        right: 0;
    }
    #comment-design-three{
        bottom: 45px;
        background-color: yellow;
        left: 45px;
        margin: auto;
        right: 0;
    }
    #comment-design-four{
        bottom: 0px;
        right: 45px;
        background-color: black;
        left: 0;
        margin: auto;
    }
}



@media (max-width: 550px){
    .product-buttons{
        margin-top: 25px;
        /* padding: 12px 0 12px 0; */
        background-color: var(--main-green);
        color: white;
        border: none;
        /* font-size: 0.7em; */
    }
    #avaliar-btn{
        border: 1px solid var(--main-green);
        color: var(--main-green);
        background-color: rgba(255, 255, 255, 0);
    }
    #adicionar-carrinho-btn, #remover-carrinho-btn{
        font-weight: 700;
        visibility: hidden;
        padding: 0!important;
        position: absolute;
        background-color: red;
    }
    #adicionar-carrinho-btn{
        visibility: visible;
        position: static;

    }
    #remover-carrinho-btn{
    
        background-color: rgba(255, 255, 255, 0);
        color: var(--main-green);
        border: 1px solid var(--main-green);
    }

    .comments{
        padding: 0;
    }

    .comment-container{
        width: 100%;
        max-width: 100%;
        background-color: black;
        padding: 0;
    }

    #comment-design-two{
        top: 30px;
        background-color: blue;
        left: 10px;
        right: 0;
    }

 
}