@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); /*price*/

:root{
    --main-green: rgb(118, 184, 42);
}
.container2{
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "c1 c1 c2 c2 c2 c2 c2"
    "benefits benefits benefits benefits benefits benefits benefits"
    "products products products products products products products"
    "comments comments comments comments propaganda propaganda propaganda";
    
    /* padding: 0 300px 0 300px; */
    max-width: 2000px;
    /* background-color: rgb(125, 194, 61); */
    /* position: absolute;
    inset: 0 0 0 0; */
    width: 85vw;
    margin: 20px 0 100px 0;
    margin: auto;
    height: fit-content;
    margin-top: 35px;
    color: rgb(60,58,45);
    row-gap: 50px;
}
.products{
    grid-area: products;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-between;
    grid-row: auto;
}
.propaganda{
    grid-area: propaganda;
    padding: 0 70px 0 70px;
}
.propaganda-inside{
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/2050999/pexels-photo-2050999.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-size: cover;
}
.benefits{
    background-color:var(--main-green);
    grid-area: benefits;
    padding: 25px 0 25px 0;
    margin-top: 75px;
}
.benefits-title{
    text-align: center;
    /* padding: 25px 0 25px 0; */
    font-weight: 200;
    font-size: 2.4em;
    margin-bottom: 30px;
}
.benefits-cards-container{
    display: flex;
    padding: 0 55px 0 55px;
    justify-content: space-between;

}
.benefits-one, .benefits-two, .benefits-three{
    height: auto;
    width: 300px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    padding: 30px 0 30px 0;
    align-items: center;
    flex-direction: column;
    color: rgb(2, 64, 6);
}
.benefits-two{}
.benefits-three{}
.benefits-circle{
    width: 80px;
    height: 80px;
    background-color: rgb(2, 64, 6);
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 12px;
}
.c1,.c2{
    padding: 25px;
}
.c1{
    grid-area: c1;
    /* background-image: url('https://images.pexels.com/photos/256318/pexels-photo-256318.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    background-size: cover;
    filter: brightness(90%) opacity(90%);
    background-position: center center;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}
.product-image{
    width: 100%;
    height: 320px;
}
.product-buttons-container{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}
.product-buttons{
    margin-top: 25px;
    padding: 20px;
    background-color: var(--main-green);
    color: white;
    border: none;
}
#avaliar-btn{
    border: 1px solid var(--main-green);
    color: var(--main-green);
    background-color: rgba(255, 255, 255, 0);
}
#adicionar-carrinho-btn{
    font-weight: 700;
}
.product-stars{
    color: var(--main-green);
    font-size: 0.9em;
    display: flex;
    margin: 12px 0 12px 0;
    align-items: center;
}
.rating-counts{
    margin: 0;
    margin-left: 8px;
}
.c2{
    grid-area: c2;
    border: 1px solid rgb(225,225,225);
}


.eight{
    font-size: .8em;
    color: rgb(120,120,120);
}
.nine{
    font-size: .9em;
    color: gray;
}
#price{
    font-family: 'Lato', sans-serif;
    color: var(--main-green);
    font-size: 2.4em;
    font-weight: 600;
}

.fa-solid, .fa-regular{
    margin-right: 3px;
}

.ratting-input{
    visibility: hidden;
}
.ratting-btn{
    visibility: hidden;
}


/* COMMENT ELEMENT*/
.comments{
    grid-area: comments;
    padding: 0 35px 50px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
    
}
.load-more-comments-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(41, 11, 11, 0.179));
    z-index: 2;
    display: flex;
    justify-content: center;
}
#carregar-mais-btn{
    margin: auto;
    background-color: rgba(255, 255, 255);
    color: gray;
    opacity: 85%;
    border: 1px solid rgb(200,200,200);
    border-radius: 2px;
    padding: 5px 25px 5px 25px;
}
.comment-container{
    position: relative;
    border: 1px solid rgb(225,225,225);
    width: 100%;
    padding: 25px 25px 15px 25px;
    margin: 8px 0 8px 0;
}
.comment-thrash{
    position: absolute;
    top: 0;
    right: 0;
}
.comment-image-and-username-container{
    display: flex;
    align-items: center;
}
.comment-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
}
.comment-username{
    margin: 0;
    font-weight: 700;
}
.comment-stars-container{
    display: flex;
    margin: 8px 0 8px 0;
    color: var(--main-green);
    font-size: .9em;
}
.comment-created-at, .comment-text{
    margin: 0;
}
.comment-text{
    margin: 8px 0 8px 0;
}
.comment-created-at{
    font-size: .6em;
    color: gray;
}


/* COMMENT ELEMENT*/

.create-comment-container{
    display: flex;
    padding: 0 25px 15px 25px;
    border-bottom: 1px solid rgb(225,225,225);
    margin-bottom: 50px;
}
.create-comment-title{
    text-align: center;
    color: rgb(159, 159, 159);
    font-size: 1em;
    margin: 30px 0 12px 0;
}
.textarea-and-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.create-comment-stars-container{
    display: flex;
    font-size: 1.7em;
    margin: auto;
    width: fit-content;
    color: var(--main-green);
    width: 175px;
    height: fit-content;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    justify-content: space-evenly;
}
.ratting-input{
    width: 100%;
    border: 1px solid rgb(225,225,225);
    resize: none;
    height: 120px;
    padding: 8px;
    outline: none;
}

.fa-heart:hover{
    cursor: pointer;
    opacity: 70%;
}
.ratting-btn{
    width: 200px;
    border: none;
    background-color: var(--main-green);
    color: white;
    padding: 5px 19px 5px 19px;
    margin: 12px 0 12px 0;
    border-radius: 4px;
    float: right;
    align-self: flex-end;
}












/* cards test */
.card-container{
    position: relative;
    background-color: white;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.101);
    /* border: 1px solid rgb(235,235,235); */
    min-height: 350px;
    height: fit-content;
    /* margin: 0 15px 0 15px; */
    width: 220px;
}

.card-container:hover{
    opacity: 95%;
    cursor: pointer;
}
.card-first{
    pointer-events: none;
    width: 100%;
    height: 300px;
    filter: brightness(65%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease-in-out;
    border: none;
}
.card-first:hover{
    filter: none;
}
.card-second{
    pointer-events: none;
    width: 100%;
    min-height: 20%;
    height: fit-content;
    
    box-sizing: border-box;
    
    padding: 8px 8px 8px 8px;
    color: #5B5B5B;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.card-title{
    text-align: start;
    color: rgb(101, 101, 101);
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: .9em;
    width: 100%;
    pointer-events: none;
    margin-bottom: 0;
}
.card-tags{
    display: flex;
    font-size: .6em;
    word-break: keep-all;
    margin: 0;
}
.card-stars{
    display: flex;
    justify-content: start;
    width: fit-content;
    font-size: .8em;
    margin: 4px 0 4px 0;
    color: var(--main-green);
}
.fa-heart{
    margin: 0;
    padding: 0 2px 0 2px;
}
.card-price{
    text-align: start;
    color: var(--main-green);
    font-size: .9em;
    margin: 0;
    margin: 4px 0 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}
/* cards test */
@media (max-width: 1000px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 550px auto;
        grid-template-areas: "c1"
        "c2";
        padding: 0 5px 0 5px;
        max-width: 2000px;
        background-color: rgb(125, 194, 61);
        position: unset;
        inset: 0 0 0 0;
        margin: auto;
        height: fit-content;
    }

}

@media (max-width: 510px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 550px auto;
        grid-template-areas: "c1"
        "c2";
        min-width: 290px;
        background-color: rgb(255, 255, 255);
        position: unset;
        inset: 0 0 0 0;
        margin: auto;
        height: fit-content;
    }

    .c1,.c2{
   
        padding: 20px;

    }
}