<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="shortcut icon" href="../assets/logo_transparente.png" />

 
    <!-- PAGE -->
    <script src="./globalChat.js" defer></script>
    <link rel="stylesheet" href="./globalChat.css">

     <!-- GLOBALS -->
     <script src="../globals/auth.js" defer></script>
     <script src="../globals/sidebar.js" defer></script>
     <link rel="stylesheet" href="../globals/header.css" type="text/css">
     <link rel="stylesheet" href="../globals/footer.css">
     
 
     <!-- BOOTSTRAP CONFIG -->
     <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- WEBSOCKET -->
<script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>

</head>

<style>
    body{
        height: fit-content;
        background-image: url('https://images.pexels.com/photos/593158/pexels-photo-593158.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-image: url('https://images.pexels.com/photos/1487835/pexels-photo-1487835.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-image: url('https://images.pexels.com/photos/3942924/pexels-photo-3942924.jpeg?auto=compress&cs=tinysrgb&w=600');
        background: linear-gradient(to bottom right, rgb(208, 208, 208), whitesmoke);
        background:  linear-gradient(to bottom right, #336bc5, #3C78D8); 
        background:  linear-gradient(to bottom right, #71a52c, #3C78D8); 
        background:  linear-gradient(to bottom right, #71a52c, #3f4348); 
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>


    <div id="spinning"></div>


    <header class="header">
        <div style="height: 100%; display: flex; align-items: center; background-color: rgb(250,250,250);" class="logo-header-container" onClick="window.location.href = '/'">
            <img src="../assets/logo_sem_marcadagua.png" style="width: 100%; height: 100%; margin-left: 8px; min-width: 75px; max-width: 85px;" alt="">
            <div class="company-name" style="height: fit-content; display: flex; padding: 0 35px;">
                <span style="font-family: monospace; font-size: 1.6em; color:rgb(41, 41, 41); text-decoration: solid;">
                    Go
                </span>
                <span style="font-family: monospace; font-size: 1.6em;color:rgb(122, 192, 16); font-weight: 800;">
                    Green
                </span>
            </div>
        </div>

        <div class="header-main">
            <p class="nav-item"><a href="/" style="color: rgb(68,68,68)">Home</a></p>
            <p class="nav-item"><a href="/sobre" style="color: rgb(68,68,68)">Sobre</a></p>
            <p class="nav-item"><a href="/produtos" style="color: rgb(68,68,68)">Produtos</a></p>
            <div class="nav-item" id="procurar-nav-item">
            <p id="procurar-and-icon-container">
                Procurar
                <i class="fa-solid fa-caret-down" id="seta" style="font-size: .9em; margin-left: 3px; height: fit-content;"></i>
            </p>
            <div class="procurar-painel-container" isOpen="false">
                <p style="margin: 0;" id="produtores-item" onClick="window.location.href = '/procurarUsuario'">Produtores</p>
                <p style="margin: 0; margin-top: 8px;"id="produtos-item" onClick="window.location.href = '/procurarProduto'">Produtos</p>
            </div>
            </div>
            <p class="hamburger-icon"><i class="fa-solid fa-bars"></i></p>
        </div>


        <div id="register-and-login" style="margin-left: 25px; display: flex; background-color: rgb(249, 249, 249); justify-content: center;">
            <p style="margin:0; padding-right: 15px; border-right: 1px solid rgb(92, 92, 92);" ><a href="/registrar" style="text-decoration: none;">
                <i class="fa-solid fa-user-plus" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
            </a>
        </p>
            <p style="margin:0; padding-left: 15px;">
                <a href="/login" style="text-decoration: none;">
                    <i class="fa-solid fa-right-to-bracket" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
                </a>
            </p>
        </div>

        <div class="header-user-icon-container">
            <img class="header-user-icon" src="" style="position:relative;">
            <div class="header-painel" style="visibility: hidden;">
                <li class="user-painel-item">
                    <a href="/"
                    style="text-decoration: none;" class="header-painel-li"
                    >Home</a></li>
                <li class="user-painel-item" >
                    <a href="/MeuPerfil"
                    style="text-decoration: none;"
                    class="header-painel-li"
                    >Meu Perfil</a></li>
                <li class="user-painel-item">
                    <a href="/estacaoDeCriacao"
                    style="text-decoration: none;"
                    class="header-painel-li">
                    Criar</a></li>
                <li class="user-painel-item"><a href="/meusProdutos"
                    style="text-decoration: none; margin-bottom:25px;" class="header-painel-li"
                    >Meus produtos</a></li>
                <button class="logout-btn">
                    <p style="margin: 0; margin-left: 15px;">Sair</p>
                    <i class="fa-solid fa-person-walking-arrow-right" style="margin-left: 8px;"></i>
                </button>
            </div>
        </div>
    </header>


    <div class="sidebar" isOpen="false">
        <div class="sidebar-items">
            <p class="sidebar-item" onclick="window.location.href = '/'">Home</p>
            <p class="sidebar-item" onclick="window.location.href = '/sobreNos'">Sobre Nós</p>
            <p class="sidebar-item" onclick="window.location.href = '/produtos'">Produtos</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarProduto'">Procurar Produto</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarUsuario'">Procurar Produtor</p>
            <h2 id="click-to-close">CLICK PRA FECHAR</h2>
        </div>
    </div>





    <div class="bell-container">
        <div class="bell-inside-container">
            <i class="fa-regular fa-bell" id="bell-icon"></i>
            <div class="bell-painel">
                <div class="bell-painel-inside">
                <div class="all-messages-container">
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container"></div>
  


    <div class="container2">
        <div class="facade">


            <h1 class="main-chat-title">Chat Global <i class="fa-regular fa-comments"></i></h1>


            <div class="home"><i class="fa-solid fa-house" onclick="window.location.href = '/'"></i></div>
            <!-- <div class="home"><i class="fa-solid fa-person-walking-arrow-right" onclick="window.location.href = '/'"></i></div> -->
           
        </div>
        
        <div class="chat-messages">
        </div>
        <div class="friends">
           
        </div>


        <form class="type-form">
            <div class="input-and-btn-container">
                <input type="text" class="chat-message-input" placeholder="Sua mensagem..."> 
                <button type="submit" class="chat-send-message-button"> <i class="fa-solid fa-paper-plane"></i>  </button>
            </div>
        </form>
    </div>



    

    





















    <footer class="footer" style="margin-top: 150px;">
        <div class="f2">
            <div class="f2-circle"></div>
            <h3 style="color:rgb(60,68,55); margin-bottom: 0;">Go<span style="color:rgb(122, 192, 16)">Green</span></h3>
            <h5 style="color: rgb(84, 84, 84);">Viva Bem</h5>
        </div>
        </div>
    </footer>


  

            
    </body>
 
</html>

           
    