@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');/*label INTER*/ 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.container{
    /* display: flex; */
    background-color: rgb(34, 34, 136);
    width: 100vw;
    margin-left: 0;
    height: fit-content;
}
.c1{
    background: linear-gradient(to right, #89d72f, #385b11);
    grid-area: c1;
   
    width: 100vw;
    margin: auto;
    padding: 50px 100px 50px 100px;
    margin: 0;
}

.main-texts-containers{
    /* background-color: aqua; */
}

.main-title{
        text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
     margin: 0; font-size: 2.6em;
     font-weight: 700;
  width: 100%;
color: white;
}

.main-text{
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}


.containers-of-inputs{
    /* background-color: blue; */
}
.input-and-search-btn-container{
    display: flex;
    height: 45px;
    width: 100%;
    /* background-color: gray; */
    margin-top: 25px;
}
.pesquisar-input{
    width: 70%;
}
.pesquisar-btn{
    background-color: white;
    border: none;
    width: 30%;

}


.checkbox-and-text-container{
    display: flex; justify-content: start; align-items: center; margin-bottom: 65px; 
    padding: 7px 0 0 0;
    color: white;
    width: 100%;
    height: fit-content;
}


.c2{
    grid-area: c2;
    background-color: rgb(240,240,240);
    background-color: green;
}

.resultados-container-sem-info, .resultados-container-com-info{
    /* position: absolute; */
    width: 100%;
    height: 90%;
    background-color: yellow;
    /* margin: auto; */
}
.resultados-container-sem-info{
    padding: 50px 0 50px 0;
}
.resultados-container-com-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    height: fit-content;
    padding: 20px;
    gap: 25px;
    background-color: rgb(51, 155, 130);
    width: 100%;
    margin: auto;
}




.card-container{
    margin: auto;
    border: 1px solid rgb(228,228,228);
    width: 225px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 45px 10px 0 10px;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.154);
    height: fit-content;
    margin-bottom: 100px;
}

.card-circle{
    width: 75px;
    height: 75px;
    border-radius: 35%;
    border: 2px solid rgba(116, 193, 102, 0.916);
    margin-bottom: 15px;
    padding: 8px;
}

.card-title{
    font-size: 1em;  
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0 10px 0 10px;
    width: fit-content;
    width: 100%;
    color: rgb(60,60,60);
    text-overflow: ellipsis;
}

.card-text{
    font-size: 0.9em;
    max-height: 80px;
    box-sizing: border-box;
    margin: 0;
    color: rgb(148, 148, 148);
    text-align: center;
    padding: 8px 0 8px 0;
}

.view-profile-container{
    width: fit-content;
    margin: auto;
    padding: 9px;
    margin-top: 25px;
    height: fit-content;
}
.view-profile-btn{
    background-color: unset;
    color: rgb(70,70,70);
    font-weight: 700;
    border: none;
    font-size: 1em;
}



.no-user-found-container{
    font-family: 'Inter', sans-serif;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    font-size: .9em;
}




input{
    width: 80%;
    height: 45px;
    border: none;
    padding-left: 15px;
    font-weight: 800;

}



/* .pesquisar-btn{
    border-radius: 0 5px 5px 0;
    padding: 7px 15px 7px 15px;
    border-top-right-radius: 45px;

    color: #5b8f1f;
    border: none;
    margin-right: 10px;
    height: 100%;
    width: 30%;
    border: none;
    background-color: rgb(232, 232, 232);
    background-color:white;
    font-weight: 600;
} */


/* 
.card-button-container{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.visitar-btn{
    font-size: .9em;
    padding: 4px 12px 4px 12px;
    border-radius: 2px;
    color: white;
    border: none;
    margin-right: 25px;
    margin-bottom: 13px;
    background-color: #7cc925;
} */



/* .success-message-container {
    background: linear-gradient(to bottom, #95d920, #72b006);
}

.fail-message-container{
    background: linear-gradient(to bottom, #D21B1B, #C10606);
} */













#profile-name-input{
    width: 365px;
    width: 85%;
}

#circle-change-image-cover{
    position: absolute;
    height: 55px;
    margin: auto;
    background-color: rgba(245, 245, 245, 0.767);
    right: 0;
    left: 0;
    bottom: 0;
}



























@media (max-width:880px) {
    body{
        background-color: rgb(95, 13, 219);
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .resultados-container-com-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: auto; */
        box-sizing: border-box;
        height: fit-content;
        padding: 20px;
        background-color: rgb(16, 16, 155);
        /* background-color: rgb(98, 53, 53); */
        margin-top: 0;
    }
  

    .container{
        grid-template-rows: 850px 1450px 600px;
        min-width: 400px;
        width: 100%;
        max-width: none;
        background-color: rgb(68, 255, 0);
    }

    

    

    
    
    
    
   
    
    .c1{
        background-color: rgb(255, 27, 2);
        padding: 10px 0 10px 0;
        width: 100%;
        min-width: 400px;
    }


    .c1-second-container{
        width: 100%;

    }
    
    .c1-third-container{
        visibility: hidden;
    }
    
    




.success-message-container, .fail-message-container{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1.6em;
    font-weight: lighter;
    text-align: center;
    position: fixed;
    margin: auto;
    inset: -150px 0 0 0;
    bottom: unset;
    z-index: 2;
    border-radius: 15px;
    padding: 38px 15px 38px 15px;
    width: fit-content;
    height: fit-content;
    transition: 0.3s ease-in-out;
}

}


@media (max-width: 450px){
    .resultados-container-com-info{
        grid-template-columns: 1fr;
        background-color: #89d72f;
    }
}