<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./procurarUsuario.css" type="text/css">
    <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
    <script src="./procurarUsuario.js" defer></script>
</head>
<body>

    <div class="success-message-container">
        <!-- Perfil atualizado com sucesso -->
    </div>

    <div class="fail-message-container">
        <!-- Algo deu errado. Tente novamente -->
    </div>

    <div class="janela-confirmacao">
        <button id="close-btn" style="float:right;" onclick="closePainel()">x</button>
        <h1>Confirmar</h1>
        <p style="color: #747474; font-size: 1.2em; font-weight: 600;">Sua conta e seus posts serão deletados para sempre. Confirmar?</p>
        <button id="confirmar-btn">
            <div id="inside-confirmar-btn-circle" style="pointer-events: none;"></div>
            <span id="confirmar-btn-text" style="pointer-events: none;">Confirmar</span>
        </button>
    </div>
    
    <div class="container">
        <div class="c1">
            <div class="c1-first-container">
                <h1 class="main-title">Procurar Usuários</h1>
                <div style="background-color: rgb(106, 29, 29); display: flex; flex-direction: column; justify-content: center; height: fit-content;">

                    <div style="display: flex; background: gray;">
                        <input type="text" placeholder="Pesquisar..." id="pesquisar-input">
                        <button class="pesquisar-btn">Pesquisar</button>
                    </div>
                    <div style="display: flex; justify-content: start; align-items: center; background-color: orange; margin-bottom: 65px; padding: 25px 0 25px 0;">
                        <input type="checkbox" checked="true" id="procurar-descricao-input" style="background-color: rgb(80, 192, 80); margin-right: 15px; width: 35px;">
                        <p style="background-color: green; margin: 0; height: fit-content;">Procurar na descricao do usuário</p>
                    </div>
                </div>
            
            </div>
            <div class="c1-second-container">
               <h1 style="text-align: start; background: yellow; width: 100%; margin: 0; margin-bottom: 40px;">Resultados</h1>

               <div class="resultados-container-sem-info">
                   
                   <div class="no-user-found-container">
                       <img src="./assets/no_user_img.png" style="width: 145px;" alt="">
                       <h2 >O Usuario que voce esta procurando não existe...</h2>
                    </div>
                </div>

                 <div class="resultados-container-com-info">
                    <div class="card-container">
                        <div class="card-first">
                            <div class="card-circle"c></div>
                        </div>
                        <div class="card-second">
                            <div class="card-title-container">
                                <h2 class="card-title">Joao da Silva antonia of oaerk gaporekg pakpog poare gpoak pog</h2>
                            </div>
                            <div class="card-text-container">
                                <p class="card-text">
                                    
                                    aoskcoaskcoaskoao da Silva antonia of oaerk gaporekg pakpog poare gpoak pogozaovoavko
                                    oao da Silva antonia of oaerk gaporekg pakpog poare gpoak pogoao da Silva antonia of oaerk gaporekg pakpog poare gpoak pogoao da Silva antonia of oaerk gaporekg pakpog poare gpoak po
                                    oao da Silva antonia of oaerk gaporekg pakpog poare gpoak pogv
                                </p>
                            </div>
                            <div class="card-button-container">
                                <button class="visitar-btn">Visitar Perfil</button>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="card-container"></div>
                    <div class="card-container"></div>
                    <div class="card-container"></div>
                    <div class="card-container"></div>
                    <div class="card-container"></div>
                    <div class="card-container"></div>  -->
               </div> 
                
            </div>
          

        </div>    




       
    </div>
</body>
</html>