<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./home.js" defer></script>
    <link rel="stylesheet" href="./home.css">
    <title>home</title>
</head>
<body>
    <div id="spinning"></div>
    <header class="header" onclickclose="true">
        <div class="profile-icon-circle">
            <div class="profile-icon-painel">
    
                
                <li style="margin-top: 0;">editar perfil</li>
                <li>criar</li>
                <li>meus produtos</li>
                <button class="logout-btn">Logout</button>
            </div>
        </div>
    </header>


    <main class="container"></main>
    <h1>HOME</h1>
</body>
</html>