<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
    <style>
        .main-container{
            visibility: hidden;
        }

        #spinning{
            border-radius: 50%;
            border: 3px solid black;
            border-bottom: 3px solid white;
            margin: auto;
            position: absolute;
            inset: 0 0 175px 0;
            width: 50px;
            height: 50px;
            animation: infinite 1s rotate linear;
            visibility: hidden;
        }

        @keyframes rotate{
            from{transform: rotate(0deg);}
            to{transform: rotate(359deg);}
        }
    </style>
<body>
    <div id="spinning"></div>
    
    <div class="main-container">
    <h1>Login</h1>
    <input type="text" placeholder="email" id="field-email">
    <input type="text" placeholder="password" id="field-password">
    
    <button type="submit" id="btn-logar">Login</button>

    <a href="./pagealterarusuario">alterar</a>
    <a href="./pagecadastrar">cadastrar</a>
    <a href="./pagecriarproduto">criarproduto</a>
    </div>


    <script defer>
        window.onload = async () => {
            const spinning = document.getElementById("spinning");
            spinning.style.visibility = 'visible'
            const main = document.querySelector('.main-container');
            main.style.visibility = 'hidden'

            const token = getStoredToken();
            console.log(token)
            if (token){
                const res = await fetch("http://localhost:3000/auth", {
                    method: "GET",
                    headers: {
                        "Content-type": "application/json",
                        "authorization": token
                    }
                })
                const data = await res.json();
                if (!data.auth) {
                    main.style.visibility = 'visible'
                    spinning.style.visibility = 'hidden'
                }
                if (data.auth) window.location.href = 'http://localhost:3000/pagehome'
            }
            document.querySelector('.main-container').style.visibility = 'visible'
            spinning.style.visibility = 'hidden'
        }
        
        
        const email = document.getElementById("field-email");
        const password = document.getElementById("field-password");
        const buttonLogar = document.getElementById("btn-logar");


        
        buttonLogar.addEventListener("click", (e) => {
           

            e.preventDefault();
            const userData = {
                email: email.value,
                password: password.value,
            }
            logar(userData);
        })

        async function logar(userData){
            const res = await fetch("http://localhost:3000/loginuser", {
                method: "POST",
                body: JSON.stringify(userData),
                headers: {
                    "Content-type": "application/json",
                }
            })
            const data = await res.json();
            if (data.token && !data.error) {
                storeToken(data.token);
                alert('logado');
                window.location.href = 'http://localhost:3000/pagehome'
                return
            }

            alert(data.message);
        }

        function storeToken(token){
            // document.cookie = "token=" + token
            window.localStorage.setItem("token", token);
        }

        function getStoredToken(){
            // const cookieToken = document.cookie = "token=" + token
            const localToken = window.localStorage.getItem("token");
            return localToken
        }

    </script>

</body>
</html>