body{
    background: linear-gradient(to bottom right, rgb(234, 247, 214), #51a12cae);
    background-size: cover;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "c1 c1"
                        "c3 c2"
                         "c4 c4 "
                         "c5 c5 "
                         "footer footer";
    grid-template-rows: auto auto 375px auto 375px;
    row-gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 80px;
 
    /* margin-bottom: 100px; */
}


.c1, .c2, .c3, .c4, .c5{
    background-color: rgba(255, 255, 255, 0.174);
    /* border: 1px solid black; */
    /* border: 1px solid black; */
}

.c1{
    grid-area: c1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 45px 45px 10px 45px;
    
    /* background-color: rgb(220, 220, 220); */
}

.circle{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: white;
    background-image: url('../../assets/user.jpg');
    background-size: cover;
}

.c1-title{
    /* background-color: red; */
    font-size: 3em;
    width: 680px;
}
.c2{
    grid-area: c2;
    /* background-color: rgb(195, 195, 195); */
    padding: 95px 55px 20px 55px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
   
    /* background-color: blue; */
}

.c2-title{
    text-align: center;
}

.c2-text{
    /* background-color: red; */
    text-align: center;
}

.banner-text{
    display: flex; flex-direction: column; position: absolute; left: 65px; top: 0; bottom:0; margin: auto; height: fit-content;
                font-size: 5.5em; color: white; font-weight: bolder; line-height: 100px;
}


.c3{
    grid-area: c3;
    padding: 45px 20px 20px 20px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
 
    
    
}
.c3-info-container{
    height: fit-content;
    /* background-color: rgb(228, 228, 228); */
    width: fit-content;
    padding: 30px 40px 30px 40px;

    margin-bottom: 75px;
}
.phone-container{
    width: 100%;
    height: 55px;
    display: flex;
    background-color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    left: 0;
}

.c4{
    grid-area: c4;
    border: none;
    position: relative;
    font-family: 'Work Sans', sans-serif;
    position: relative;
}

.image-banner{
    background-image: url('https://images.pexels.com/photos/96715/pexels-photo-96715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    filter: contrast(75%);
    filter: brightness(85%);
}

.image-banner:hover{
    filter: contrast(75%);
    filter: brightness(103%);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.c5{
    grid-area: c5;
    padding: 260px 0 40px 0;
    position: relative;
}

.mais-produtos-title{
    position: absolute; top: 5px; left: 20px; color: #3f3f3f; width: 100%; text-overflow: ellipsis; overflow: hidden; 
            max-height: 150px; width: 90%; font-size: 4em;
            
}


.empty-container{
    background-color: whitesmoke;
    width: 400px;
    height: 380px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* .------------------------------ */

.mais-produtos-container{
    width: 97%;
    margin: auto;
    height: fit-content;
    max-height: 925px;
    overflow-y: scroll;
    display: grid;
    padding: 15px 0 15px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 450px;
    row-gap: 20px;
}

.card-container{
    margin: auto;
    position: relative;
    width: 260px;
    height: 450px;
    background-color: white;
}

.card-container:hover{
    opacity: 95%;
    cursor: pointer;
}
.card-title{
    position: absolute;
    color: white;
    background-color: rgba(39, 39, 39, 0.09);
    margin-top: 0;
    padding: 5px 5px 10px 5px;
    top: 0;
    left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.9em;
    width: 245px;
}
.card-first{
    background-color: white;
    width: 100%;
    height: 70%;
    background-image: url('https://images.pexels.com/photos/1391505/pexels-photo-1391505.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-second{
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    overflow-y: scroll;
    word-break: break-all;
    text-align: start;
    padding: 8px 10px 10px 10px;
    color: #5B5B5B;
}

.footer{
    /* width: 100vw; */
    grid-area: footer;
    background-color: rgb(198, 198, 198);
    display: flex;
    color: #3f3f3f;
    justify-content: space-evenly;
    margin-top: 100px;
}
.footer-one, .footer-two, .footer-three{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    width: 80px;
    height: 80px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
    position: relative;
    margin-bottom: 45px;
}

@media (max-width: 1150px){
    .container{
        display: grid;
        grid-template-columns: 1fr 0.2fr 1fr;
        grid-template-areas: "c1  c1 c2"
                            "c3 c3 c3"
                             "c4 c4 c4"
                             "c5 c5 c5"
                             "footer footer footer";
        grid-template-rows: auto auto 375px auto 375px;
        row-gap: 20px;
        max-width: 1300px;
        width: 100%;
        margin: auto;
        margin-top: 80px;
       
    }

    .banner-text{
        display: flex; flex-direction: column; position: absolute; left: 15px; top: 0; bottom:0; margin: auto; height: fit-content;
                    font-size: 4.7em; color: white; font-weight: bolder; line-height: 100px;
    }
    .c3-info-container{
        font-size: 2.2em;
    }

    .mais-produtos-container{
        width: 97%;
        margin: auto;
        height: fit-content;
        max-height: 900px;
        overflow-y: scroll;
        display: grid;
        padding: 15px 0 15px 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 450px;
        row-gap: 20px;
    }
}

@media (max-width: 890px){
    .mais-produtos-container{
        width: 97%;
        margin: auto;
        height: fit-content;
        max-height: 900px;
        overflow-y: scroll;
        display: grid;
        padding: 15px 0 15px 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 450px;
        row-gap: 20px;
    }

    .c3-info-container{
        font-size: 2.2em;
    }

}

@media (max-width: 800px){
    .c2{
        grid-area: c2;
        /* background-color: rgb(195, 195, 195); */
        padding: 75px 15px 20px 15px;
        display: flex;
        flex-direction: column;
        line-height: 25px;
        background-color: green;
        /* background-color: blue; */
    }
}

@media (max-width: 610px){
    body{
        overflow-x: unset;
        background-color: red;
        margin: 0;
        padding: 0;
        width: 100vw;
    }


    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "c1" 
                             "c2" 
                             "c3"
                             "c4"
                             "c5"
                             "footer";
        grid-template-rows: auto auto auto 475px auto 375px;
        background-color: rgb(16, 16, 67);
        /* width: 100%; */
        /* max-width: unset; */
        /* min-width: 400px; */
        max-width: unset;
        width: fit-content;
        min-width: 400px;
    }

    
    .c1, .c2, .c3, .c4, .c5{
        background-color: whitesmoke;
        max-width: 610px;
        /* width: 100%; */
        min-width: 400px;

    }

    .c1{
        padding-bottom: 85px;
    }

    .c1-title, .c2-title{
        font-size: 2.8em;
    } 
    .c1-text, .c2-text{
        font-size: 1.6em;
        line-height: 35px;
    }

    .c2{
        min-height: 300px;
    }

    .c3-info-container{
        background-color: whitesmoke;
        height: fit-content;
        width: 100%;
        font-size: 1.7em;
        padding: 10px;
    }

    .banner-text{
        left: 0px;
        font-size: 3.8em;
        line-height: 85px;
        top: 55px;
        width: 100%;
        text-align: center;
        margin: unset;
    }
    .c5{
        padding: 280px 0 40px 0;
    }
    .mais-produtos-title{
        max-height: 215px;
        background-color: red;
        font-size: 2.8em;
    }

    .mais-produtos-container{
        width: 85%;
        margin: auto;
        height: fit-content;
        max-height: 900px;
        overflow-y: scroll;
        display: grid;
        padding: 15px 0 15px 0;
        grid-template-columns: 1fr;
        grid-template-rows: 620px;
        row-gap: 20px;
        background-color: rgb(44, 102, 25);
    }

    .card-container{
        margin: auto;
        position: relative;
        width: 95%;
        max-width: 500px;
        /* min-width: 370px; */
        height: 600px;
        background-color: white;
        background-color: yellow;
}

.card-title{
    width: 95%;
    font-size: 2.3em;
}
.card-second{
    font-size: 1.5em;
}

.footer{
    background-color: rgb(42, 165, 147);
    grid-area: footer;
    /* width: 100vw; */
    /* max-width: 610px; */
    margin-bottom: 0;
    height: unset;
}

/*  */


}

::-webkit-scrollbar{
    background-color: rgb(233, 233, 233);
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(143, 143, 143);
    border-radius: 55px;
}

