<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procurar Produto</title>
    <link rel="shortcut icon" href="../assets/My project-1 (1).png" />

    <!-- PAGE -->
    <link rel="stylesheet" href="./procurarProduto.css" type="text/css">
    <script src="./procurarProduto.js" defer></script>
      

    <!-- GLOBALS -->
    <script src="../globals/auth.js" defer></script>
    <script src="../globals/sidebar.js" defer></script>
    <link rel="stylesheet" href="../globals/header.css" type="text/css">
    

    <!-- BOOTSTRAP CONFIG -->
    <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</head>

<body>

    <div id="spinning"></div>


    <header class="header">
        <div style="height: 100%; display: flex; align-items: center; background-color: rgb(250,250,250);" class="logo-header-container" onClick="window.location.href = '/'">
            <img src="../assets/logo.png" style="width: 100%; height: 100%; margin-left: 8px; min-width: 75px; max-width: 85px;" alt="">
            <div class="company-name" style="height: fit-content; display: flex; padding: 0 35px;">
                <span style="font-family: monospace; font-size: 1.6em; color:rgb(41, 41, 41); text-decoration: solid;">
                    Go
                </span>
                <span style="font-family: monospace; font-size: 1.6em;color:rgb(122, 192, 16); font-weight: 800;">
                    Green
                </span>
            </div>
        </div>

        <div class="header-main">
            <p class="nav-item"><a href="/" style="color: rgb(68,68,68)">Home</a></p>
            <p class="nav-item"><a href="/Sobre" style="color: rgb(68,68,68)">Sobre</a></p>
            <p class="nav-item"><a href="/Produtos" style="color: rgb(68,68,68)">Produtos</a></p>


          
            <div class="nav-item" id="procurar-nav-item">
            <p id="procurar-and-icon-container">
                Procurar
                <i class="fa-solid fa-caret-down" id="seta" style="font-size: .9em; margin-left: 3px; height: fit-content;"></i>
            </p>
            
            <div class="procurar-painel-container" isOpen="false">
                <p style="margin: 0;" id="produtores-item" onClick="window.location.href = '/procurarUsuario'">Produres</p>
                <p style="margin: 0; margin-top: 8px;"id="produtos-item" onClick="window.location.href = '/produtos'">Produtos</p>
            </div>
            </div>
            <p class="hamburger-icon"><i class="fa-solid fa-bars"></i></p>
        </div>

        <div id="register-and-login" style="margin-left: 25px; display: flex; background-color: rgb(249, 249, 249); justify-content: center;">
            <p style="margin:0; padding-right: 15px; border-right: 1px solid rgb(92, 92, 92);" ><a href="/registrar" style="text-decoration: none;">
                <i class="fa-solid fa-user-plus" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
            </a>
        </p>
        
            <p style="margin:0; padding-left: 15px;">
                <a href="/login" style="text-decoration: none;">
                    <i class="fa-solid fa-right-to-bracket" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
                </a>
            </p>
        </div>

        <div class="header-user-icon-container">
            <img class="header-user-icon" src="" style="position:relative;">
            <div class="header-painel" style="visibility: hidden;">
                <li class="user-painel-item" style="margin-top: 0;">
                    <a href="/"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Home</a></li>
                <li class="user-painel-item" style="margin-top: 0;">
                    <a href="/alterarusuario"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Meu Perfil</a></li>
                <li class="user-painel-item"><a href="/criar"
                    style="text-decoration: none; color: rgb(177, 177, 177);">Criar</a></li>
                <li class="user-painel-item"><a href="/criar"
                    style="text-decoration: none; color: rgb(177, 177, 177); margin-bottom:25px;"
                    >Meus produtos</a></li>
                <button class="logout-btn">Logout</button>
            </div>
        </div>
    </header>


    <div class="sidebar" isOpen="false">
        <div class="sidebar-items">
            <p class="sidebar-item" onclick="window.location.href = '/'">Home</p>
            <p class="sidebar-item" onclick="window.location.href = '/sobreNos'">Sobre Nós</p>
            <p class="sidebar-item" onclick="window.location.href = '/produtos'">Produtos</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarProdutos'">Procurar Produto</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarUsuario'">Procurar Produtor</p>
            <h2 id="click-to-close">CLICK PRA FECHAR</h2>
        </div>
    </div>



















    <div class="container" style="visibility: hidden; position: absolute;"></div>
    <div class="banner-container">
        <form class="banner-title-container">
            <!-- <h1 class="banner-title">COMPARTILHE</h1>
            <h1 class="banner-title">PRODUTOS</h1>
            <h1 class="banner-title">AGORA</h1> -->
            <h1 style="margin-bottom: 10px;width:100%; font-size: 2.4em; color: rgb(255, 255, 255); padding: 8px 13px 8px 0; font-weight: 600;">
                <!-- <i class="fa-solid fa-user" ></i>  -->
                <i class="fa-solid fa-magnifying-glass" style="font-size: .8em; margin-right: 2px;"></i>
                Buscar Produto
            </h1>
            <h1 class="banner-title" style="font-size: 1.7em; font-weight: 600;">Encontre produtos na nossa plataforma, veja informaçoes sobre o item além de seus fornecedores</h1> 
            <div class="input-and-btn-container" style="background-color: rgb(91, 33, 33);">
                <input type="text" placeholder="Buscar Produto" class="main-input"> 
                
                <button class="search-btn">  <i class="fa-solid fa-magnifying-glass"></i>  </button>
                
            </div>
            <div class="checkbox-and-text-container">
                <input type="checkbox" id="procurar-descricao-input" checked='true' style="margin-right: 10px;">
                <p style=" margin: 0; height: fit-content; color: rgb(230, 230, 230); font-weight: 700; ">Procurar palavra na descriçao do produto</p>
            </div>
        </form>
        <div class="text-and-btn-container">
            
            <div class="banner-text-container">
            </div>
            <!-- <button class="quero-comecar-btn">Comecar</button> -->
        </div>
        <div class="banner">
        </div>
    </div>
    
    <div class="container"></div>

    <div class="container2">
       
        <div class="c2">

            <!-- <div class="resultados-container-com-info"> -->
                <!-- <div class="card-container">
                    <div class="card-circle" src="../assets/user.jpg"></div>
                        <h2 class="card-title"></h2>
                        <p class="card-text">Genero:</p>
                        <div class="view-profile-container">
                            <button class="view-profile-btn">
                                    <i class="fa-regular fa-user" style="font-size: 1.3em;"></i> Ver perfil
                                </button>
                                </div>
                            <div>
                        <p class="card-text" style="margin-top: 25px; text-align: start;">Desde dezembro de 2017</p>
                        </div>
                    </div> -->
                <!-- </div> -->


                <!-- <div class="resultados-container-sem-info">
                    <div class="no-user-found-container">
                        <i class="fa-solid fa-question"
                        style="font-size: 5em;"
                        ></i>
                        <h2 style="width: 175px; font-size: 1.2em; text-align: center; margin-top: 12px; color: rgb(64,64,64);">O Usuario que voce esta procurando não existe...</h2>
                     </div>
                 </div> -->

        </div>
    </div>

    <!-- <div class="container">

        <div class="c1">
          
            <div class="main-texts-containers">
                <h2 class="main-title">Buscar Usuarios</h2>
                <p class="main-text">Aqui voce poderá encontrar todos os usuário do site, bem como ver informaçoes no perfil deles</p>
            </div>
                   
               
            <div class="containers-of-inputs">

                <div class="input-and-search-btn-container">
                    <input type="text" placeholder="Pesquisar..." id="pesquisar-input">
                    <button class="pesquisar-btn">  <i class="fa-solid fa-magnifying-glass"></i> Pesquisar </button>
                </div>
                <div class="checkbox-and-text-container">
                    <input type="checkbox" id="procurar-descricao-input" style="margin-right: 5px; width: 17px;">
                    <p style=" margin: 0; height: fit-content;">Procurar palavra na descriçao do usuário</p>
                </div>

            </div>
                    
        </div>
            
            
        <div class="c2">
               <div class="resultados-container-sem-info">
                   <div class="no-user-found-container">
                       <img src="./assets/no_user_img.png" style="width: 125px;" alt="">
                       <h2 style="font-size: 1.1em; text-align: center; margin-top: 12px; color: rgb(64,64,64);">O Usuario que voce esta procurando não existe...</h2>
                    </div>
                </div>

        <div class="resultados-container-com-info">

        <div class="card-container">
            <div class="card-circle" src="../assets/user.jpg"></div>
                    <h2 class="card-title"></h2>
                    <p class="card-text">Genero:</p>
                    <div class="view-profile-container">
                        <button class="view-profile-btn">
                                     <i class="fa-regular fa-user" style="font-size: 1.3em;"></i> Ver perfil
                        </button>
                        </div>
                    <div>
                    <p class="card-text" style="margin-top: 25px; text-align: start;">Desde dezembro de 2017</p>
                    </div>
                    </div>
        <div class="card-container">
            <div class="card-circle" src="../assets/user.jpg"></div>
                            <h2 class="card-title"></h2>
                            <p class="card-text">Genero:</p>
                    <div class="view-profile-container">
                                <button class="view-profile-btn">
                                     <i class="fa-regular fa-user" style="font-size: 1.3em;"></i> Ver perfil
                                </button>
                                </div>
                    <div>
                                    <p class="card-text" style="margin-top: 25px; text-align: start;">Desde dezembro de 2017</p>
                                </div>
                    </div>
                    <div class="card-container">
                        <div class="card-circle" src="../assets/user.jpg"></div>
                            <h2 class="card-title"></h2>
                            <p class="card-text">Genero:</p>
                                <div class="view-profile-container">
                                <button class="view-profile-btn">
                                     <i class="fa-regular fa-user" style="font-size: 1.3em;"></i> Ver perfil
                                </button>
                                </div>
                                <div>
                                    <p class="card-text" style="margin-top: 25px; text-align: start;">Desde dezembro de 2017</p>
                                </div>
                    </div>
                    <div class="card-container">
                        <div class="card-circle" src="../assets/user.jpg"></div>
                            <h2 class="card-title"></h2>
                            <p class="card-text">Genero:</p>
                                <div class="view-profile-container">
                                <button class="view-profile-btn">
                                     <i class="fa-regular fa-user" style="font-size: 1.3em;"></i> Ver perfil
                                </button>
                                </div>
                                <div>
                                    <p class="card-text" style="margin-top: 25px; text-align: start;">Desde dezembro de 2017</p>
                                </div>
                    </div>
                    <div class="card-container">
                        <div class="card-circle" src="../assets/user.jpg"></div>
                            <h2 class="card-title"></h2>
                            <p class="card-text">Genero:</p>
                                <div class="view-profile-container">
                                <button class="view-profile-btn">
                                     <i class="fa-regular fa-user" style="font-size: 1.3em;"></i> Ver perfil
                                </button>
                                </div>
                                <div>
                                    <p class="card-text" style="margin-top: 25px; text-align: start;">Desde dezembro de 2017</p>
                                </div>
                    </div>
                    <div class="card-container">
                        <div class="card-circle" src="../assets/user.jpg"></div>
                            <h2 class="card-title"></h2>
                            <p class="card-text">Genero:</p>
                                <div class="view-profile-container">
                                <button class="view-profile-btn">
                                     <i class="fa-regular fa-user" style="font-size: 1.3em;"></i> Ver perfil
                                </button>
                                </div>
                                <div>
                                    <p class="card-text" style="margin-top: 25px; text-align: start;">Desde dezembro de 2017</p>
                                </div>
                    </div>
                    <div class="card-container">
                        <div class="card-circle" src="../assets/user.jpg"></div>
                            <h2 class="card-title"></h2>
                            <p class="card-text">Genero:</p>
                                <div class="view-profile-container">
                                <button class="view-profile-btn">
                                     <i class="fa-regular fa-user" style="font-size: 1.3em;"></i> Ver perfil
                                </button>
                                </div>
                                <div>
                                    <p class="card-text" style="margin-top: 25px; text-align: start;">Desde dezembro de 2017</p>
                                </div>
                    </div>
                    <div class="card-container">
                        <div class="card-circle" src="../assets/user.jpg"></div>
                            <h2 class="card-title"></h2>
                            <p class="card-text">Genero:</p>
                                <div class="view-profile-container">
                                <button class="view-profile-btn">
                                     <i class="fa-regular fa-user" style="font-size: 1.3em;"></i> Ver perfil
                                </button>
                                </div>
                                <div>
                                    <p class="card-text" style="margin-top: 25px; text-align: start;">Desde dezembro de 2017</p>
                                </div>
                    </div>
                 
               </div> 
                
            </div>

    </div> -->


    
</body>
</html>