<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos Encontrados</title>
</head>
<body>
    


</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>

    <!-- PAGE -->
    <link rel="stylesheet" href="./sobre.css">
    <script src="./sobre.js"></script>

     <!-- GLOBALS -->
     <script src="../globals/auth.js" defer></script>
     <script src="../globals/sidebar.js" defer></script>
     <link rel="stylesheet" href="../globals/header.css" type="text/css">
     <link rel="stylesheet" href="../globals/footer.css" type="text/css">
     
 
     <!-- BOOTSTRAP CONFIG -->
     <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</head>
<style>
    body{
        /* background-color: green; */
        /* background-image: url('https://images.pexels.com/photos/606540/pexels-photo-606540.jpeg?auto=compress&cs=tinysrgb&w=600'); */
        background-size: cover;
        background-color: #3C78D8;
        background:  linear-gradient(to bottom right, #336bc5, #3C78D8); 
        background:  linear-gradient(to bottom right, #6c971a, #4d6c14); 
        background-repeat: no-repeat;
        height: fit-content;
        width: 100vw;
        position: relative;
        padding-bottom: 200px;
    }
</style>
<body>


    <%- include("../globals/header.ejs") %>






    <div class="container2">
        <div class="t1">


            <i class="fa-solid fa-mountain" id="icon-mountain"></i>
            <h1 class="main-title">Meta</h1>

            <p class="p-text-one" >
               Criar - 
               Interaçao - 
               Conhecimento - 
               Empenho</p>
            <p class="p-text-two" >Nós queremos que nossa Plataforma tenha relevância na vida das pessoas que a usem.</p>
            <p class="p-text-three">"Uma meta sem um plano é apenas um sonho"</p>
        </div>
        
        
        <div class="t2">
            <i class="fa-solid fa-medal" id="icon-medal"></i>
            <i class="fa-solid fa-bullseye" id="icon-bulleye"></i>
            <h1 class="main-title">Objetivo</h1>

            <!-- <p class="p-text">Specifico, Tangenciavel, Mensuravel</p> -->
            <p class="p-text-one">Contribuir com a saúde e o bem estar das pessoas</p>
            <p class="p-text-two">Trazer uma forma rápida e facil para usuarios que buscam consumir produtos que sejam mais saudaveis e livre de quimicos.</p>
            <p class="p-text-three">"Objetivos nao sao estritamente medidos."</p>
            
        </div>

        <div class="t3">
           
            <h1 class="main-title"> <i class="fa-solid fa-address-card" ></i> Sobre nos </h1>

            

        <p  class="sobre-text">
            A GoGreen é uma plataforma ficticia para usuarios que desejam divulgar seus Produtos. Dentro da plataforma é possivel redigir mensagens privadas para outros usuarios, ou conversar com eles em nosso chat Global. Além disso o usuário que criar uma conta poderá publicar seus Produtos, bem como editar seu perfil como desejar, seja sua foto ou seus dados para que outros usuários vejam.
        </p>

       


      
        </div>

        <div class="t4">

                <div class="t4-inside">

                    
                    <h1 class="main-title" style="font-size: 2.4em; margin-bottom: 35px; text-align: start; margin-left: 15px;">Destaques</h1>
                    <!-- <h2 class="sub-title"s>Em breve...</h2> -->
                    
                    <ul>

                        <li class="t4-p-text">Publicar Produtos</li>
                        <li class="t4-p-text">Envio de Mensagens</li>
                        <li class="t4-p-text">Visualizar Produtos</li>
                        <li class="t4-p-text">Edição de Perfil</li>
                    </ul>
                </div>
        </div>

        <div class="t5">

            <div class="t5-inside">

                
                <h1 class="main-title" style="font-size: 2.4em; margin-bottom: 10px; text-align: start; margin-left: 15px;"> Novidades </h1>
                <h2 class="sub-title"s>Em breve...</h2>
                
                <ul>

                    <li class="t4-p-text">Lista de Amigos</li>
                    <li class="t4-p-text">Avaliação de Produtos</li>
                    <li class="t4-p-text">Deletar mensagens Privadas</li>
                    <li class="t4-p-text">Novos Campos para Publicar Produto</li>
                </ul>
            </div>
    </div>


    <!-- <div class="t6"></div> -->
        <!-- <h1 style="margin-bottom: 20px; font-weight: 700;">Quem Somos?</h1>    
        <p>

            O nosso propósito é contribuir com a saúde e o bem estar das pessoas e proporcionar a facilidade da procura por produtos orgânicos.
        </p>

        <p>
            proporcionando uma melhor qualidade de vida e conforto, facilitando o encontro dos fornecedores com os clientes de forma rápida e eficaz, sem nenhum tipo de burocracia ou dificuldade para que todos possam viver bem e se alimentar melhor.
        </p>

        <p>
            fornecedores com os clientes de forma rápida e eficaz, sem nenhum tipo de burocracia ou dificuldade para que todos possam viver bem e se alimentar melhor.
        </p>

        <p>
            fornecedores com os clientes de forma rápida e eficaz, sem nenhum tipo de burocracia ou dificuldade para que todos possam viver bem e se alimentar melhor.
        </p> -->
    </div>























<div class="container"></div>









<!--     
<div class="footer">
    <div class="footer-circle">
        <div class="footer-circle-inside"></div>
    </div>
    <div class="footer-circle-2">
        <div class="footer-circle-inside-2">
       
        </div>
    </div>
    <div class="f1">
        <div class="f1-main">
            <h2 class="f1-second-title">Produtos Orgânicos</h2>
            <p class="f1-text">Somos uma empresa jovem procurando por idéias novas e criativas para ajudar a voce com seus produtos em seu trabalho diario ou voce que deseja ter uma vida mais saudavel através de boas práticas alimentares.</p>
        </div>
    </div>
    <div class="f2">
        <div class="f2-circle"></div>
        <h3 style="color:rgb(60,68,55); margin-bottom: 0; font-size: 1em;">Go<span style="color:rgb(122, 192, 16)">Green</span></h3>
        <h5 style="color: rgb(84, 84, 84); ">Viva Bem</h5>
    </div>
    <div class="f3">
        <div class="f1-main">

        <div class="socials-container">

            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram" ></i>
            <i class="fa-brands fa-twitter" ></i>
        </div>
       
    </div>
    </div>
</div> -->
            
            </body>
            
            
            </html>

         
    