<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

        body{
            background-color: rgb(242,242,242);
            position: relative;
            font-family: 'Baloo 2', cursive;
            width: 100vw;
            height: 100vh;
        }

        .container{
            width: 350px;
            padding: 10px 20px;
            box-sizing: border-box;
            height: fit-content;
            position: absolute;
            right: 0;
            left: 0;
            top: 45px;
            margin: auto;
            text-align: center;
        }
        h1{
            color: #4F770A;
            margin-bottom: 0;
        }
        p{
            margin-top: 5px;
            margin-bottom: 10px;
            color: rgb(210, 210, 210);
            font-weight: lighter;
        }
        img{
            width: 110px;
        }
        button{
            margin-top: 25px;
            background-color: #4F770A;
            border: none;
            color: white;
            font-size: 1.2em;
            padding: 8px 33px 8px 33px;
            font-weight: 700;
            border-radius: 25px;
        }
        button:hover{
            opacity: 95%;
            cursor: unset;
        }



    </style>
</head>
<body>
    
    <div class="container">
        <img src="../assets/userfinding-removebg-preview.png" alt="">
        <h1>Page not Found</h1>
        <p>Desculpe, a página que voce requisitou nao pôde ser encontrada, por favor, volte à página inicial</p>
        <button onclick="window.location.href = '/'">Voltar</button>
    </div>
</body>
</html>