<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saiba Mais</title>

    <!-- PAGE -->
    <link rel="stylesheet" href="./sobre.css">
    <script src="./sobre.js"></script>

     <!-- GLOBALS -->
     <script src="../globals/auth.js" defer></script>
     <script src="../globals/sidebar.js" defer></script>
     <link rel="stylesheet" href="../globals/header.css" type="text/css">
     <link rel="stylesheet" href="../globals/footer.css" type="text/css">
     
 
     <!-- BOOTSTRAP CONFIG -->
     <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</head>

<body>


    <%- include("../globals/header.ejs") %>



<div class="banner">
    <div class="main-title-container">
        <h1 class="main-title">Conheça</h1>
        <h1 class="main-title">mais sobre nossos</h1>
        <h1 class="main-title">Produtos</h1>
        <!-- <h1 class="main-title">Produtos.</h1> -->
        <h2 class="sub-title">Todos os itens presentes na plataforma sao criados, excluidos e avaliados por usuarios, portanto existe uma 
            variedade
         deles, que por sua vez, estão divididos de diversas formas e podem ser encontrados por 
            categorias ou nome.
            </h2>
        <!-- <p class="sub-title">Todos os produtos presentes na plataforma</p> -->

        <div style="display: flex; flex-direction: column;">

            <div class="input-and-button-container">
                <input type="text" class="main-input" placeholder="Avalie os produtos em nossa plataforma...">
                <button class="main-btn">Enviar minha avaliaçao</button>
            </div>
            <!-- <h2 class="bottom-text">Agradecemos a sua avaliação. Dependemos dela para que possamos evoluir.</h2> -->
        </div>

        <div class="go-green-container">
            <img src="../assets/text-logo.png" alt="" style="width: 75px; float: right; margin-top: 10px;">
        </div>
    </div>

</div>

    <div class="container2">
    </div>























<div class="container"></div>









<!--     
<div class="footer">
    <div class="footer-circle">
        <div class="footer-circle-inside"></div>
    </div>
    <div class="footer-circle-2">
        <div class="footer-circle-inside-2">
       
        </div>
    </div>
    <div class="f1">
        <div class="f1-main">
            <h2 class="f1-second-title">Produtos Orgânicos</h2>
            <p class="f1-text">Somos uma empresa jovem procurando por idéias novas e criativas para ajudar a voce com seus produtos em seu trabalho diario ou voce que deseja ter uma vida mais saudavel através de boas práticas alimentares.</p>
        </div>
    </div>
    <div class="f2">
        <div class="f2-circle"></div>
        <h3 style="color:rgb(60,68,55); margin-bottom: 0; font-size: 1em;">Go<span style="color:rgb(122, 192, 16)">Green</span></h3>
        <h5 style="color: rgb(84, 84, 84); ">Viva Bem</h5>
    </div>
    <div class="f3">
        <div class="f1-main">

        <div class="socials-container">

            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram" ></i>
            <i class="fa-brands fa-twitter" ></i>
        </div>
       
    </div>
    </div>
</div> -->
            
            </body>
            
            
            </html>

         
    