<footer class="site-footer seccion" style="overflow: hidden; min-width: 290px; margin: auto;">
    <div class="container container-footer">
        <nav class="navegacion" style="display: flex;">
            <p target="_self" class="footer-a" onclick="window.location.href= '/'">Home</p>
            <p target="_self" class="footer-a" onclick="window.location.href= '/sobre'">Sobre</p>
            <p target="_self" class="footer-a" onclick="window.location.href= '/chat'">Chat</p>
            <p target="_self" class="footer-a"  onclick="window.location.href= '/login'">Login</p>
        </nav>
        <p class="copyright">Todos os Direitos Reservados 2022 &copy;</p>
    </div>
</footer>