<div id="spinning"></div>

    <div class="first-header">
    <!-- <div style="position: absolute; left: 15px; top: 0; bottom: 0; margin: auto; height: fit-content; color:rgb(7,67,27); font-size: 1.1em; font-weight: 700;">
        <i class="fa-regular fa-copyright"></i>
    </div> -->
    <div class="first-header-circles">
        <div class="header-circle">
            <i class="fa-brands fa-twitter" style="margin:0;"></i>
        </div>
        <div class="header-circle">
            <i class="fa-brands fa-facebook-f" style="margin:0;"></i>
        </div>
        <div class="header-circle">
            <i class="fa-brands fa-google-plus-g" style="margin:0;"></i>
        </div>
        <div class="header-circle">
            <i class="fa-solid fa-envelope" style="margin:0;"></i>
        </div>
        <div class="header-circle">
            <i class="fa-brands fa-linkedin-in" style="margin:0;"></i>
        </div>
        <div class="header-circle">
            <i class="fa-solid fa-location-dot" style="margin:0;"></i>
        </div>
    </div>

    <div style="color: white; display: flex; align-items: center; background-color: red;"> 
        <i class="fa-solid fa-location-crosshairs" style="margin: 0; margin-right: 5px; margin-top: 4px; font-size: .8em;"></i> 
        <p style="font-size: .7em; font-weight: 500; margin: 0; letter-spacing: 0px;">
            Sede em São Paulo (SP), Avenida 9 de Julho
        </p>
    </div>

    <div style="color: white; display: flex; align-items: center; background-color: yellow;"> 
        <i class="fa-solid fa-phone" style="margin: 0; margin-right: 5px; margin-top: 4px; font-size: .8em;"></i> 
        <p style="font-size: .7em; font-weight: 500; margin: 0; letter-spacing: 2px;">
            (11) 96588-2444
        </p>
    </div>
    <div style="color: white; display: flex; align-items: center; background-color: #1DA1F2;" class="first-header-email"> 
        <!-- <i class="fa-solid fa-phone" style="margin: 0; margin-right: 5px; margin-top: 4px; font-size: .8em;"></i>  -->
        <p style="font-size: .7em; font-weight: 500; margin: 0; letter-spacing: 2px;">
            gogreen.corp@gmail.com
        </p>
    </div>

    <!-- <div style="position: absolute; right: 15px; top: 0; bottom: 0; margin: auto; height: fit-content;">
       <img src="../assets/whiteleaflogo.png" alt="" style="width: 22px; height: 22px;">
    </div> -->

</div>

<header class="header" style="background: rgb(248,248,248); background-color: gray;">
    <div class="logo-header-container" onClick="window.location.href = '/'">

        <img src="../assets/My project-1 (1).png" class="company-logo" alt="">
        
        <img src="../assets/text-logo.png" class="company-name" alt="">
        
    </div>

    <div class="header-main">
        <p class="nav-item" style="background: #85bb46; padding: 8px 15px 8px 15px"><a href="/" style="color: rgb(7,67,27);">Home</a></p>
        <p class="nav-item"><a href="/sobre" style="color: rgb(135, 135, 135)">Sobre</a></p>
        <p class="nav-item"><a href="/getprodutos?queryDescriptionAlso=true&number=0&nomeProduto=a" style="color: rgb(135,135,135)">Produtos</a></p>
        <div class="nav-item" id="procurar-nav-item">
        <p id="procurar-and-icon-container">
            Procurar
            <i class="fa-solid fa-caret-down" id="seta" style="font-size: .9em; margin-left: 3px; height: fit-content;"></i>
        </p>
        <div class="procurar-painel-container" isOpen="false">
            <p style="margin: 0;" id="produtores-item" onClick="window.location.href = '/procurarUsuario'">Produtores</p>

            <p style="margin: 0; margin-top: 8px;"id="produtos-item" onClick="window.location.href='/getprodutos?queryDescriptionAlso=true&number=0&nomeProduto=a'">
                Produtos
            </p>

        </div>
        </div>
        <p class="hamburger-icon"><i class="fa-solid fa-bars"></i></p>
    </div>


    <div id="register-and-login" style="display: flex; justify-content: space-between; align-items: center;">
        <button class="login-header-btn" onclick="window.location.href = '/login'">

                <i class="fa-solid fa-right-to-bracket"></i>
                <p style="margin:0" class="header-btn-text">
                    Login
                </p>
               
        </button>
        
        <button class="register-header-btn" onclick="window.location.href = '/registrar'">
 
          
                <i class="fa-solid fa-user-plus" ></i>
                <p style="margin:0" class="header-btn-text">
                    Registrar
                </p>
     
    </button>
    </div>

    <div class="header-user-icon-container" style="display: flex; align-items: center;">
        <div  id="header-bell-icon">
            <i class="fa-regular fa-bell" style="font-size:2.0em;"></i>
            <div class="bell-painel">
                <div class="bell-painel-inside">
                <div class="all-messages-container">
                </div>
                </div>
            </div>
        </div>
        <img class="header-user-icon" src="" style="position:relative;">
        <div class="header-painel" style="visibility: hidden;">

            <div class="header-painel-first-part">
                <p style="z-index: 10; color: rgb(255, 255, 255); margin: 8px;">Guilherme Gavioli</p>
                <img src="https://news.uchicago.edu/sites/default/files/styles/explainer_hero/public/images/2022-10/sgr%20A%2A%20ESO%20and%20M.%20Kornmesser%20690.jpg?h=06d036b4&itok=Lr5t57tH" class="header-painel-pic" alt="" >
                <i class="fa-solid fa-house" id="header-painel-home-icon"></i>
            </div>
            <div class="header-painel-second-part">
                <li class="user-painel-item" >
                    <a href="/MeuPerfil"
                    style="text-decoration: none;"
                    class="header-painel-li"
                    >Meu Perfil</a></li>
                <li class="user-painel-item">
                    <a href="/estacaoDeCriacao"
                    style="text-decoration: none;"
                    class="header-painel-li">
                    Publicar Produto</a></li>
                <li class="user-painel-item"><a href="/meusProdutos"
                    style="text-decoration: none; margin-bottom:25px;" class="header-painel-li">
                    Meus produtos</a></li>
            </div>

            <div class="header-painel-third-part">
                <li class="user-painel-item">
                    <a href="/globalchat"
                    style="text-decoration: none;"
                    class="header-painel-li">
                    Chat Global</a></li>
            </div>

            <div class="header-painel-third-part" style="border-bottom: none;">
                <li class="user-painel-item">
                    <a href="/"
                    style="text-decoration: none;" class="header-painel-li"
                    >Reportar</a></li>
            </div>
            
            <button class="logout-btn">
                Logout
           
            </button>
        </div>
    </div>
</header>



<div class="sidebar" isOpen="false">
    <div class="sidebar-items">
        <p class="sidebar-item" onclick="window.location.href = '/'">Home</p>
        <p class="sidebar-item" onclick="window.location.href = '/sobreNos'">Sobre Nós</p>
        <p class="sidebar-item" onclick="window.location.href = '/produtos'">Produtos</p>
        <p class="sidebar-item" onclick="window.location.href = '/procurarProduto'">Procurar Produto</p>
        <p class="sidebar-item" onclick="window.location.href = '/procurarUsuario'">Procurar Produtor</p>
        <h2 id="click-to-close">CLICK PRA FECHAR</h2>
    </div>
</div>

<!-- <div class="socials-side">
    <div class="social-side" style="background: #4267B2;">
        <i class="fa-brands fa-facebook-f"></i>
    </div>
    <div class="social-side" style="background: #1DA1F2;">
        <i class="fa-brands fa-twitter"></i>
    </div>
    <div class="social-side" style="background: #0A66C2;">
        <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div class="social-side" style="background: #E60023;">
        <i class="fa-brands fa-pinterest-p"></i>
    </div>
</div> -->


<!-- <div class="bell-container"> -->
    <!-- <div class="bell-inside-container"> -->
        <!-- <i class="fa-regular fa-bell" id="bell-icon"></i> -->
       
    <!-- </div> -->
<!-- </div> -->