@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    user-select: none;
    overflow-x: hidden;
}

textarea{
    resize: none;
}
input{
    outline: none;
}

.header{
    width: 100vw;
    height: 75px;
    /* position: fixed; */
    /* top: 0; */
    z-index: 20;
    /* background-color: rgba(255, 255, 255, 0.033); */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 10px 0 10px;
    max-width: 2000px;
    /* visibility: hidden; */
}

.logo-header-container{
    cursor: pointer;
}

.company-name{
    font-family: monospace;
}

.header-main{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;

    /* background-color: green; */
}

a:link{
    color: rgb(64,64,64);
    text-decoration: none!important;
    padding: 0!important;
    margin: 0!important;
  }

.nav-item{
    margin: 0 25px 0 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
}

.hamburger-icon{
    position: absolute;
    color: rgba(185, 185, 185, 0.911);
    display: none;
}

.header-user-icon-container{
    position: absolute;
}
.header-user-icon{
    /* position: relative; */
    /* background-image: url('../assets/user.jpg'); */
    background-size: cover;
    visibility: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 45px;
    cursor: pointer;
}

#register-and-login{
    font-size: 1.1em;
    cursor: pointer;
    align-items: center;
    height: 100%;
    margin-left: 50px;
    justify-content: space-between;
    width: 145px;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 50%;

}

.header-painel{
    /* visibility: hidden; */
    font-weight: lighter;
    width: fit-content;
    height: 220px;
    background-color: rgb(255, 255, 255);
    z-index: 50;
    position: absolute;
    top: 32px;
    right: 80px;
    box-sizing: border-box;
    padding: 20px 23px 20px 23px;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    align-items: start;
    background-color: rgb(127, 176, 28);
    box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.154);
}

.user-painel-item{
    /* background-color: yellow; */
    width: fit-content;
    font-size: .9em;
    margin: 4px 0 4px 0;
    padding: 0 5px 0 5px;
    font-weight: lighter;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600; */
}

li{
    list-style: none;
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: white;
}

.logout-btn{
    border: none;
    background-color: #41610a;
    color: white;
    border-radius: 3px;
    padding: 5px 13px 5px 13px;
    position: absolute;
    width: 80%;
    font-weight: 600;
    font-size: .9em;
    inset: auto 0 15px 0;
    margin: auto;
    
}
.sidebar-items{
    position: absolute;
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
    /* background-color: green; */
}

#procurar-nav-item{
    position: relative;
    /* background-color: red; */
    /* padding: 0 15px 0 15px; */
}
#procurar-and-icon-container{
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}
.procurar-painel-container{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 45px;
    margin: auto;
    right: 0;
    

    height: 0;
    visibility: hidden;

    width: 160%;
    z-index: 45;
    padding: 10px 4px 10px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s ease-in-out;
    box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.154);
}
#produtores-item{
    visibility: hidden;
}
#produtos-item{
    visibility: hidden;
}
#produtores-item:hover, #produtos-item:hover{
    opacity: 45%;
    cursor: unset;
}
/* .painel-items{
    height: fit-content;
    background-color: gray;
    margin: 0;
    width: 50px;
    height: 25px;
    padding: 0;
} */
#seta{
    transition: 0.2s ease-in-out;
}

















@media (max-width: 930px){
    .company-name{
        display: none;
        visibility: hidden;
        position: absolute;
    }
}






@media (max-width: 800px){

    .header{
        width: 100vw;;
        height: 75px;
        /* position: fixed; */
        /* top: 0; */
        z-index: 20;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        margin: auto;
    }

    .header-main{
        flex-grow: 1;
        text-decoration: none;
        height: 100%;
    }

    .nav-item{
        margin: 0 12px 0 12px;
    }
    .nav-item:hover{
        text-decoration: underline;
    }

    .header-user-icon{
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 25px;
        cursor: pointer;
    }
    .header-painel{
        right: 60px;
       
    }
    
}


















/* //criado  para controlar o header*/
@media (max-width: 660px){
    .header{
        width: 100vw;
        z-index: 0;
    }
    
    .header-main{
        display: flex;
        justify-content: start;
        align-items: flex-end;
    }

    .sidebar-items{
        position: absolute;
        visibility: hidden;
        cursor: pointer;
        width: 100%;
        height: 100%;

    }

    .sidebar-items{
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
      
    }

    .nav-item{
        position: absolute;
        display: none;
        /* margin: 0 12px 0 12px; */
    }
    .hamburger-icon{
        font-size: 1.8em;
        height: fit-content;
        display: unset;
        position: unset;
        margin-left: 35px;
        color: rgb(65, 65, 65);
    }

    .sidebar{
        background-color: rgb(33, 98, 55);
        /* width: 60vw; */
        width: 0vw;
        z-index: 60;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        transition: 0.2s ease-in-out;
    }
    .sidebar-item{
        font-size: 1.3em;
        margin: 13px 0 13px 0;
    }
    .sidebar-items{
        width: 100%;
        height: 100%;
        color: rgb(255, 255, 255);
        font-weight: 600;
        background-color: rgb(33, 98, 55);
        visibility: hidden;
        display: flex;
        z-index: 60;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
    }
    #click-to-close{
        text-align: center;
        font-size: 1.4em;
        font-weight: 900;
        margin-top: 20px;
        color: rgba(0, 0, 0, 0.135);
    }
    
}



















@media (max-width: 450px){
    .header{
        width: 100vw;
        height: 75px;
        display: flex;
        align-items: center;
        min-width: 230px;
    }
    .company-name{
        position: absolute;
        display: none;
    }

    .hamburger-icon{
        margin-left: 15px;
    }

    .header-main{
        flex-grow: 1;
        height: 100%;
    }

    .header-user-icon{
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 25px;
        cursor: pointer;
    }

    #register-and-login{
  
    }
}