@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

:root{
    --main-green: rgb(118, 184, 42);
}

body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    user-select: none;
    overflow-x: hidden;
}

textarea{
    resize: none;
}
input{
    outline: none;
}

.first-header{
    width: 100%;
    height: 40px;
    margin: auto;
    max-width: 2000px;
    background: linear-gradient(to bottom, rgb(57,172,70), rgb(57,172,70));
    /* padding: 0 150px 0 150px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    
    position: relative;
}

.first-header-circles{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: gray;
}
.header-circle{
    width: 22px;
    height: 22px;
    background-color: #288731;
    color: rgb(245,245,245);
    border-radius: 50%;
    margin: 0 5px 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5em;
}

.header{
    width: 100vw;
    height: 75px;
    /* position: fixed; */
    /* top: 0; */
    z-index: 20;
    /* background-color: rgba(255, 255, 255, 0.033); */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 10px 0 10px;
    max-width: 2000px;
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.117);
    background-color: gray;
}

.logo-header-container{
    cursor: pointer;
    height: 100%; 
    display: flex;
    align-items: center;
    margin-left: 50px;
    background-color: rgb(110, 32, 32);
    position: relative;
    min-width: 100px;
}

.company-logo{
    width: 50px; 
    height: 50px;
     margin-left: 8px;
}

.company-name{
    width: 100px; 
    margin-top: 5px;
     background: green;
}

.header-main{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    color: rgb(60, 60, 60);
    /* background-color: red; */
    font-family: 'Noto Sans Mono', monospace;
    background-color: red;

    /* background-color: green; */
}

a:link, #procurar-and-icon-container{
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(135, 135, 135);
    text-decoration: none!important;
    padding: 0!important;
    margin: 0!important;
  }

.nav-item{
    margin: 0 25px 0 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
}

.hamburger-icon{
    position: absolute;
    color: rgba(185, 185, 185, 0.911);
    display: none;
}

.header-user-icon-container{
    position: absolute;
}
.header-user-icon{
    /* position: relative; */
    /* background-image: url('../assets/user.jpg'); */
    background-size: cover;
    visibility: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 45px;
    cursor: pointer;
}

#register-and-login{
    cursor: pointer;
    align-items: center;
    height: 100%;
    
    justify-content: space-between;
    width: fit-content;
    /* width: 145px; */
    background-color: yellow;
    /* background-color: red; */
}
.login-header-btn, .register-header-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: .9em;
    font-weight: 600;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}
.login-header-btn{
    color: rgb(60,60,60);
    background-color: rgba(255, 255, 255, 0);
}
.register-header-btn{
    color: white;
    background-color: #85bb46;
}

.fa-right-to-bracket, .fa-user-plus{
    font-size: 1em; margin-right: 5px;
}

a{
    text-decoration: none;
}
a:hover{
    opacity: 50%;

}

.header-painel{
    /* visibility: hidden; */
    font-weight: lighter;
    width: 0;
    height: 0;
    background-color: rgb(255, 255, 255);
    z-index: 50;
    position: absolute;
    top: 45px;
    right: 100px;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    color: rgb(127, 176, 28);
    height: fit-content;
    box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.154);
    transition: 0.3s ease-in-out;
    visibility: hidden;
    background-color: white;
    
}
.header-painel-first-part{
    height: 80px;
    background-color: var(--main-green);
    background-color: rgb(133,187,70);
    position: relative;
}
#header-painel-home-icon{
    position: absolute;
    bottom: 8px;
    right: 8px;
    margin: 0;
    color: rgb(98, 141, 49);
    font-size: 1.2em;
}
#header-painel-home-icon:hover{
    color: white;
    cursor: pointer;
}
.header-painel-second-part, .header-painel-third-part{
    width: 85%;
    margin: auto;
    margin-top: 35px;
    border-bottom: 1px solid rgb(225,225,225);
    padding: 0 0 12px 0;
}
.header-painel-third-part{
    margin-top: 0;
    padding-bottom: 5px;
}
.header-painel-pic{
    position: absolute;
    inset: auto 0 -30px 0;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.header-painel-pic:hover{
    filter: brightness(120%);
    cursor: pointer;
}

.user-painel-item{
    /* background-color: yellow; */
    width: fit-content;
    font-size: .9em;
    margin: 4px 0 4px 0;
    padding: 0 8px 0 8px;
    visibility: visible;
    font-weight: lighter;

    position: fixed;
    /* inset: 0 500px 0 0; */
    top: 0;
    left: 0;
    margin: unset;
    /* background-color: blue; */
    width: 100%;
    visibility: hidden;

    /* position: unset;
    top: unset;
    margin: auto; */
}

.header-painel-li{
    color: rgb(214, 214, 214);
    font-weight: lighter;
    font-size: .9em;
    background-color: rgb(122, 61, 61);
    width: 100%;
}

li{
    list-style: none;
    /* margin-top: 15px; */
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: white;
}

.logout-btn{
    border: none;
    background: linear-gradient(to right, #7ba82e, #98cd3e);
    color: white;
    border-radius: 3px;
    padding: 5px 30px 5px 30px;

    width: fit-content;
    font-weight: 600;
    font-size: 1em;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    margin: 30px auto 20px auto;
}
.sidebar-items{
    display: none;
    width: 0;
    height: 0;
    position: static;
    inset: 0 0 0 0;
    margin: auto;
    visibility: visible;

    /* background-color: green; */
}

#procurar-nav-item{
    position: relative;
    /* background-color: red; */
    /* padding: 0 15px 0 15px; */
}
#procurar-and-icon-container{
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}
.procurar-painel-container{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 45px;
    margin: auto;
    right: 0;
    

    height: 0;
    visibility: hidden;

    width: 160%;
    z-index: 45;
    padding: 10px 4px 10px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s ease-in-out;
    box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.154);
}
#produtores-item{
    visibility: hidden;
}
#produtos-item{
    visibility: hidden;
}
#produtores-item:hover, #produtos-item:hover{
    opacity: 45%;
    cursor: unset;
}
/* .painel-items{
    height: fit-content;
    background-color: gray;
    margin: 0;
    width: 50px;
    height: 25px;
    padding: 0;
} */
#seta{
    transition: 0.2s ease-in-out;
}



/* BELL */
/* BELL */
.bell-container{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 70px;
    height: 70px;
    z-index: 25;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.147);
    color: #c5cfb3;
    visibility: hidden;
    animation: alternate-reverse 1.7s ease-in-out infinite bellJump;
}

#bell-icon{
    height: unset!important;
    color: white!important;
    font-size: 2.6em!important;
    margin-right: 0!important;
}

@keyframes bellJump{
    from{bottom: 40px;}
    to {bottom: 50px;}
}


#header-bell-icon{
    background: blue; margin: 0 30px 0 0;
    /* position: absolute; */
    position: relative;
    display: none;
    z-index: 50;
}

.bell-inside-container{
    background-color: rgb(126, 176, 28);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.bell-number{
    background-color: red;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 8px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: .3em;
    display: flex;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    border-radius: 50%;
}
.bell-painel{
    cursor: default;
    position: absolute;
    visibility: visible;
    right: 30px;
    top: 25px;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.147);
    /* padding: 15px; */
    width: 0;
    height: 0;
    font-size: 1em;
    overflow-y: scroll;
    background-color: whitesmoke;
    background-color: green;
}

.bell-painel-inside{
    height: 100%;
    width: 100%;
    visibility: hidden;
    color: rgb(68,68,68);
    /* background-color: green; */
    /* background-color: rgb(0, 255, 76); */
    font-size: .8em;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
    flex-direction: column;
}

.all-messages-container{
    width: 100%;
}

.image-and-name-container{
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
}

.message-container, .message-selected{
    background-color: white;
    padding: 10px 12px 7px 12px;
    height: fit-content;
    margin: 0 0 5px 0;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(213, 213, 213);

}

.message-selected{
    background-color: rgb(208, 232, 194);
    border: 1px solid rgb(150, 192, 126);
}

.message-image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 9px;
}
.message-text{
    text-align: start;
    margin: 5px 0 10px 0;
    font-size: 1.1em;
    word-break: keep-all;
}
.message-time{
    text-align: start;
    font-size: .9em;
    margin: 0;
    color: rgb(152, 152, 152);
}

.select-all-messages-container{
    display: flex; justify-content: start; align-items: center;
    padding: 10px;
    width: 100%;
    background-color: white;
}

.delete-messages-button{
    border: none;
    color: white;
    background-color: rgb(126, 176, 28);
    border-radius: 3px;
    padding: 5px 13px 5px 13px;
    width: 85%;
    font-weight: 600;
    margin: auto;
}

.message-checkbox, .select-all-messages-checkboxs{
    height: 15px;
    width: 15px;
    border: none;
}

.message-checkbox{
    position: absolute;
    right: 5px;
    top: 5px;
}



.socials-side{
    position: fixed;
    z-index: 2000;
    width: 50px;
    height: fit-content;
    top: 0;
    bottom: 0;
    right: -50px;
    margin: auto;
    color: white;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.social-side{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}




::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(221, 221, 221);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(220, 220, 220);
}







@media (max-width: 960px){
    .header{
        padding: 0 10px 0 0;
    }

    .company-logo{
        position: absolute;
        margin: auto;
        inset: 0 0 auto 0;
    }

    .logo-header-container{
        margin: 0;
        width: 100px;
    }
    .company-name{
        /* display: none; */
        bottom: 8px;
        height: 20px;
        z-index: 10;
        position: absolute;
    }
}






@media (max-width: 800px){

    .header{
        width: 100vw;;
        height: 75px;
        /* position: fixed; */
        /* top: 0; */
        z-index: 20;
        display: flex;
        align-items: center;
        margin: auto;
    }

    .header-main{
        font-family: 'Noto Sans Mono', monospace;
        flex-grow: 1;
        text-decoration: none;
        height: 100%;
    }

    .nav-item{
        margin: 0 12px 0 12px;
    }
    .nav-item:hover{
        text-decoration: underline;
    }

    .header-user-icon{
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 25px;
        cursor: pointer;
    }
    .header-painel{
        right: 60px;
       
    }
    
}

















/* //criado  para controlar o header*/
@media (max-width: 740px){
    .header{
        width: 100vw;
        z-index: 0;
    }
    
    .header-main{
        display: flex;
        justify-content: start;
        align-items: flex-end;
    }

    .sidebar-items{
        position: absolute;
        visibility: hidden;
        cursor: pointer;
        width: 100%;
        height: 100%;
        
    }

    .sidebar-items{
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
        
    }
    
    .nav-item{
        position: absolute;
        display: none;
        /* margin: 0 12px 0 12px; */
    }
    .hamburger-icon{
        font-size: 1.8em;
        height: fit-content;
        display: unset;
        position: unset;
        margin-left: 35px;
        color: rgb(65, 65, 65);
    }
    
    .sidebar{
        background-color: rgb(33, 98, 55);
        /* width: 60vw; */
        width: 0vw;
        z-index: 60;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        transition: 0.2s ease-in-out;
    }
    .sidebar-item{
        font-size: 1.3em;
        margin: 13px 0 13px 0;
    }
    .sidebar-items{
        width: 100%;
        height: 100%;
        color: rgb(255, 255, 255);
        font-weight: 600;
        background-color: rgb(33, 98, 55);
        visibility: hidden;
        display: flex;
        z-index: 60;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
    }
    #click-to-close{
        text-align: center;
        font-size: 1.4em;
        font-weight: 900;
        margin-top: 20px;
        color: rgba(0, 0, 0, 0.135);
    }
    
}






@media (max-width: 710px){
    .first-header{
        width: 100%;
        height: 80px;
        background: linear-gradient(to bottom, rgb(57,172,70), rgb(57,172,70));
        /* padding: 0 150px 0 150px; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        justify-items: center;
        justify-content: space-around;
        
        position: relative;
    }

    .first-header-circles{
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: start;
        align-items: center;
        background-color: gray;
    }
}













@media (max-width: 450px){
    .first-header{
        width: 100%;
        height: 80px;
        background: linear-gradient(to bottom, rgb(57,172,70), rgb(57,172,70));
        /* padding: 0 150px 0 150px; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        justify-items: start;
        justify-content: space-around;
        
        position: relative;
        min-width: 290px;
    }
    .header-circle{
        width: 18px;
        height: 18px;
        background-color: #288731;
        color: rgb(245,245,245);
        border-radius: 50%;
        margin: 0 2px 0 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .5em;
    }
    .first-header-email{
        font-size: .8em;
    }

    .header{
        width: 100vw;
        height: 75px;
        display: flex;
        align-items: center;
        min-width: 290px;
        padding: 0 15px 0 0;
    }


    /* .logo-header-container{
        cursor: pointer;
        height: 100%; 
        minw
        display: flex;
        align-items: center;
        margin-left: 50px;
        background-color: rgb(110, 32, 32);
        position: relative;
    } */

    .hamburger-icon{
        margin-left: 15px;
    }

    .header-main{
        flex-grow: 1;
        height: 100%;
    }

    .login-header-btn, .register-header-btn{
        padding: 10px 15px 10px 15px;
    }

    .fa-right-to-bracket, .fa-user-plus{
        font-size: 1.7em;
    }

    .header-btn-text{
        display: none;
        position: absolute;
    }

    .header-user-icon{
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 25px;
        cursor: pointer;
    }

    #register-and-login{
        
    }

    .bell-container{
        position: fixed;
        right: 5px;
        bottom: 0px;
        top: unset;
        padding-bottom: 0;
        margin-bottom: 0;
        margin: unset;
        width: 45px;
        height: 45px;
        z-index: 25;
        box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.147);
        color: #c5cfb3;
        animation: alternate-reverse 1.7s ease-in-out infinite bellJump;
        visibility: hidden!important;
       /* visibility: hidden; */

    }

    @keyframes bellJump{
        from{bottom: 10px;}
        to {bottom: 20px;}
    }

    #bell-icon{
        height: unset!important;
        color: white!important;
        font-size: 1.6em!important;
        margin-right: 0!important;
    }
   
    
    .bell-painel{
        cursor: default;
        position: absolute;
        right: 15px;
        bottom: 55px;
        width: 0;
        height: 0;
        background-color: white;
        box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.147);
        padding: 0;
        overflow-y: scroll;
    }
}










