<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./criarproduto.js" defer></script>
    <link rel="stylesheet" href="./criarproduto.css">
    
    <!-- <link rel="stylesheet" href="../assets/sidebar.css"> -->
    
    <script src="../globals/auth.js" defer></script>
    <script src="../globals/sidebar.js" defer></script>
    <link rel="stylesheet" href="../globals/header.css">
    <link rel="stylesheet" href="../globals/footer.css">

    <title>Criar Produto</title>


    <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <style>
        /* body{background-color: rgb(68, 68, 68);} */
       
       
        #spinning{
            border-radius: 50%;
            border: 3px solid black;
            border-bottom: 3px solid white;
            margin: auto;
            position: absolute;
            inset: 0 0 175px 0;
            width: 50px;
            height: 50px;
            animation: infinite 1s rotate linear;
            visibility: hidden;
        }

        @keyframes rotate{
            from{transform: rotate(0deg);}
            to{transform: rotate(359deg);}
        }
    </style>
</head>
<body>
    <div id="spinning"></div>

    <!-- <div class="concluido-container">
        <div class="v-first"></div>
        <div class="v-second"></div>
    </div> -->

    <header class="header">
        <div style="height: 100%; display: flex; align-items: center; background-color: rgb(250,250,250);" class="logo-header-container" onClick="window.location.href = '/'">
            <img src="../assets/logo.png" style="width: 100%; height: 100%; margin-left: 8px; min-width: 75px; max-width: 85px;" alt="">
            <div class="company-name" style="height: fit-content; display: flex; padding: 0 35px;">
                <span style="font-family: monospace; font-size: 1.6em; color:rgb(41, 41, 41); text-decoration: solid;">
                    Go
                </span>
                <span style="font-family: monospace; font-size: 1.6em;color:rgb(122, 192, 16); font-weight: 800;">
                    Green
                </span>
            </div>
        </div>

        <div class="header-main">
            <p class="nav-item"><a href="/" style="color: rgb(68,68,68)">Home</a></p>
            <p class="nav-item"><a href="/sobre" style="color: rgb(68,68,68)">Sobre</a></p>
            <p class="nav-item"><a href="/produtos" style="color: rgb(68,68,68)">Produtos</a></p>
            <div class="nav-item" id="procurar-nav-item">
            <p id="procurar-and-icon-container">
                Procurar
                <i class="fa-solid fa-caret-down" id="seta" style="font-size: .9em; margin-left: 3px; height: fit-content;"></i>
            </p>
            <div class="procurar-painel-container" isOpen="false">
                <p style="margin: 0;" id="produtores-item" onClick="window.location.href = '/procurarUsuario'">Produtores</p>
                <p style="margin: 0; margin-top: 8px;"id="produtos-item" onClick="window.location.href = '/procurarProduto'">Produtos</p>
            </div>
            </div>
            <p class="hamburger-icon"><i class="fa-solid fa-bars"></i></p>
        </div>


        <div id="register-and-login" style="margin-left: 25px; display: flex; background-color: rgb(249, 249, 249); justify-content: center; background-color: red;">
            <p style="margin:0; padding-right: 15px; border-right: 1px solid rgb(92, 92, 92);" ><a href="/registrar" style="text-decoration: none;">
                <i class="fa-solid fa-user-plus" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
            </a>
        </p>
            <p style="margin:0; padding-left: 15px;">
                <a href="/login" style="text-decoration: none;">
                    <i class="fa-solid fa-right-to-bracket" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
                </a>
            </p>
        </div>

        <div class="header-user-icon-container">
            <img class="header-user-icon" src="" style="position:relative;">
            <div class="header-painel" style="visibility: hidden;">
                <li class="user-painel-item" style="margin-top: 0;">
                    <a href="/"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Home</a></li>
                <li class="user-painel-item" style="margin-top: 0;">
                    <a href="/MeuPerfil"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Meu Perfil</a></li>
                <li class="user-painel-item"><a href="/estacaoDeCriacao"
                    style="text-decoration: none; color: rgb(177, 177, 177);">Criar</a></li>
                <li class="user-painel-item"><a href="/criar"
                    style="text-decoration: none; color: rgb(177, 177, 177); margin-bottom:25px;"
                    >Meus produtos</a></li>
                <button class="logout-btn">Logout</button>
            </div>
        </div>
    </header>


    <div class="sidebar" isOpen="false">
        <div class="sidebar-items">
            <p class="sidebar-item" onclick="window.location.href = '/'">Home</p>
            <p class="sidebar-item" onclick="window.location.href = '/sobreNos'">Sobre Nós</p>
            <p class="sidebar-item" onclick="window.location.href = '/produtos'">Produtos</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarProduto'">Procurar Produto</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarUsuario'">Procurar Produtor</p>
            <h2 id="click-to-close">CLICK PRA FECHAR</h2>
        </div>
    </div>
    










    <div class="container">
        <div class="main-title">
            <h2>Precisaremos de algumas informaçoes do produto...</h2>
        </div>
        <div class="c0">
            <div class="progress-container">
                <div class="progress-circle" id="circle-one">
                   1
                </div>
                <div class="progress-bars" id="progress-bar-one">
                    <div class="progress-bar-inside"></div>
                </div>
                <div class="progress-circle" id="circle-two">
                    2
                </div>
                <div class="progress-bars" id="progress-bar-two">
                    <div class="progress-bar-inside"></div>
                </div>
                <div class="progress-circle" id="circle-three">
                    3
                </div>
                <div class="progress-bars" id="progress-bar-three">
                    <div class="progress-bar-inside"></div>
                </div>
                <div class="progress-circle" id="circle-four">
                    4
                </div>
            </div>
            <div class="progress-texts-container">
                <p class="progress-text">Informacoes</p>
                <p class="progress-text">foto</p>
                <p class="progress-text">Detalhes</p>
                <p class="progress-text">Finalizar</p>
            
            </div>
        </div>
        <div class="c1">
            <div class="label-and-input">
                <label for="Sobre">Nome do Produto</label>
                <input type="text" placeholder="" id="product-name-input">
            </div>

            <div class="label-and-input">
                <label for="Sobre">Categoria</label>
                <select name="category" name="product-category-input" id="product-category-input">
                    <option value="vegetables" selected>Vegetal</option>
                    <option value="fruta">Fruta</option>
                    <option value="carne">Carne</option>
                    <option value="laticinios">Laticinios</option>
                    <option value="sementes">Sementes</option>
                    <option value="graos">Graos</option>
                    <option value="fertilizante">Fertilizante</option>
                    <option value="outro">Outro</option>
                </select>
            </div>

            

            
        </div>
        
        <div class="c2">
            <div class="circle">
                <div class="edit-circle-icon-container">
                    <i class="fa-solid fa-camera"></i>
                </div>
                <input type="file" name="file" id="product-file" accept="image/png, image/jpeg, image/jpg">
                    <img id="circle-change-image-cover" src="" alt=""
                    style="width: 100%; height: 100%;"
                    ></img>
            </div> 
            <div class="warning-about-file-size-container">
                <p class="warning-about-file-size-text">Imagens maiores que 
                    <span style="font-weight: 700;">200Kbs</span> não serão aceitas.</p>
            </div>
        </div>

        <div class="c-button">
            <button id="anterior-btn" class="button">
           
                Anterior
            </button>
            <button id="proximo-btn" class="button">
       
              Próximo
            </button>

             <button id="criar-btn" class="button">
                    <div id="inside-criar-btn-circle" style="pointer-events: none;"></div>
                    <div id="criar-btn-text" style="pointer-events: none;">Publicar Produto</div>
                </button>
        </div>

        <div class="c3">
            <div class="label-and-input">
                <label for="Sobre">Sobre (detalhada)</label>
                <textarea type="text" style="height: 200px; resize: none;" id="product-description-input" ></textarea>
            </div>
            
            <div class="label-and-input" style="display: flex; align-items: center; flex-direction: row;">
                <input type="checkbox" placeholder="" id="product-organic-input">
                <label for="Sobre">Produto orgânico</label>
             </div>
            <div class="label-and-input">
                <label>Preço</label>
                <div style="display: flex; align-items: center; flex-direction: row; justify-content: space-between;">
                    <input type="number" min="1" max="99999" placeholder="" step=".50" id="product-price-input" style="width: 38%;">
                    <p style="margin: 0; font-size: 1.5em; color: rgb(169, 169, 169);"> / </p>
                    <select style="width: 58%;" name="product-price-input" id="product-unity-input">
                        <option value="unidade">unidade</option>
                        <option value="kg">kg</option>
                    </select>
                </div>
            </div>
               
        </div>


        <div class="c4">
            <div class="label-and-input">
                <label for="Sobre">Adicione tags para seu Produto</label>
                <div class="tags-to-be-added-container">
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Terra</p>
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Fazenda</p>
                        
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Natural</p>
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Sem Lactose</p>
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Light</p>
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Vegano</p>
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Promocao</p>
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Desconto</p>
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Unico</p>
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Acessivel</p>
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Organico</p>
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Zero açucar</p>
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Leve</p>
                        
                    </div>    
                    <div class="tag" toBeAddedContainer="true">
                        <p class="tag-text">Saudavel</p>
                    </div>    
                </div>
            </div>

            <div class="label-and-input">
                <label for="Sobre">Tags adicionadas: </label>
                <div class="tags-added-container">   
                </div>
            </div>
                 <!-- <button id="criar-btn" class="button">
                    <div id="inside-criar-btn-circle" style="pointer-events: none;"></div>
                    <div id="criar-btn-text" style="pointer-events: none;">Publicar Produto</div>
                </button> -->
        </div>
    </div>

    
</body>
</html>