@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root{
    --main-green: #76b82a;
    /* --cart-main: rgb(43, 50, 67); */
    --cart-main: rgb(1, 65, 20);
    --cart-main: rgb(29, 112, 37);
}





.container2{
    font-family: 'Inter', sans-serif;
    visibility: hidden;
    width: 600px;
    height: fit-content;
    margin: auto;
    margin-top: 20px;
}

.login-title{
    background-color: var(--main-green);
    border-radius: 40px 40px 0 0;
    color: white;
    width: 85%;
    margin: 0;
    margin: auto;
    text-align: center;
    padding: 18px 15px 18px 15px;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 100%;
    box-shadow: 0 5px 5px 1px rgba(114, 114, 114, 0.639);
    margin: auto;
    background-color: white;
    padding: 30px 20px 13px 20px;
    position: relative;
    justify-content: end;
}
.home{
    position: absolute;
    bottom: 15px;
    font-size: 1.3em;
    left: 36px;
    color: rgb(200,200,200);
    cursor: pointer;
}

h1{
    color: #555555e4;
    font-size: 1.1em;
    width: 90%;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 35px;
    padding-top: 35px;
    user-select: none;
  
}

label{
    font-size: .8em;
    color: rgb(210,210,210);
    margin: auto;
    margin-bottom: 3px;
    /* margin-left: 3px; */
    width: 90%;
    user-select: none;
}

input, #field-gender{
    
    margin-top: 0;
    background-color: rgb(235,235,235);
    border-radius: 2px;
    border: none;
    font-size: .9em;
    box-sizing: border-box;
    padding-left: 5px;
    font-weight: 500;
    color: rgb(135,135,135);
    padding-left: 15px;
    box-sizing: border-box;

    outline: none;
    font-family: Arial, Helvetica, sans-serif!important;
}

input:focus{
    background-color: rgb(245,245,245);
    border: 1px solid rgb(235,235,235);
}

#field-gender{
    height: 38px;
}



button, input{
    margin: auto;
    height: 38px;
    width: 90%;
}

#btn-cadastrar{
    user-select: none;
    border-radius: 2px;
    color: rgb(236, 255, 226);
    height: 45px;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 35px;
    background: linear-gradient(to bottom, var(--main-green), #479f17);
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}
#btn-cadastrar:hover{
    opacity: 90%;
    cursor: unset;
}



#inside-cadastrar-btn-circle{
    position: absolute;
    margin: auto;
    inset: 0 0 0 0;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid white;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    animation: infinite .8s linear spinningLogarButton;
    visibility: hidden;
}
@keyframes spinningLogarButton {
    from { transform: rotate(0deg); }
    to {  transform: rotate(360deg); }
}


.fail-message-container{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1.6em;
    font-weight: lighter;
    text-align: center;
    position: fixed;
    top: 15px;
    right: 25px;
    z-index: 2;
    max-width: 350px;
    font-size: .9em;
    border-radius: 4px;
    padding: 15px 20px 15px 20px;
    width: fit-content;
    height: fit-content;
    transition: 1s ease-in-out;
    opacity: 0%;
    visibility: hidden;
    cursor: pointer;
    background: linear-gradient(to bottom, #c82c2c, #bf1212);
    user-select: none;
}


::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(255, 255, 255, 0);
}


.password-one{
    width: 60%;
}
.password-two{
    width: 40%;
}
.email-cont{
    width: 60%;
}
.name-cont{
    width: 40%;
}
.gender-cont{
    width: 35%;
}
#field-gender{
    width: 100%;
}
.date-cont{
    width: 65%;
}

.date-and-gender{

    justify-content: space-between;
}

.date-cont{
    width: 60%;
}
.gender-cont{
    width: 40%;
}

.email-and-name{
    justify-content: space-between;
}

.email-cont{
    width: 55%;
}
.name-cont{
    width: 42%;
}
#field-email{
    width: 100%;
}
#field-name{
    width: 100%;
}

#field-confirmar-senha{
    width: 100%;
}
#field-city{
    width: 100%;
}

@media (max-width: 600px){



    .container2{
        font-family: 'Inter', sans-serif;
        visibility: hidden;
        width: 600px;
        height: fit-content;
        margin: auto;
        margin-top: 50px;
        max-width: 95vw;
        min-width: 290px;
      
    }
    .login-title{
        width: 90%;
    }
    .email-and-name{
        justify-content: space-between;
    }

    .email-cont{
        width: 55%;
    }
    .name-cont{
        width: 42%;

    }

    .date-and-gender{

        justify-content: space-between;
    }

    .date-cont{
        width: 55%;
    }
    .gender-cont{
        width: 40%;

    }
    #field-gender{
        width: 100%;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 100%;
        box-shadow: 0 5px 5px 1px rgba(114, 114, 114, 0.639);
        margin: auto;
        background-color: white;
        padding: 30px 20px 5px 20px;

    }

    button, input{
        margin: auto;
        height: 38px;
        width: 100%;
    }
    
    
}


@media (max-width: 480px){
    .both-passwords, .email-and-name{
        flex-direction: column;

        width: 100%;
    }
    .email-cont{
        width: 100%;
    }
    .name-cont{
        width: 100%;
    }
    .password-one, .password-two{
        width: 100%;

    }
    #field-password{
        width: 100%;
    }
    .date-and-gender{
        flex-direction: column;
    }
    .gender-cont{
        width: 100%
    }
    .date-cont{
        width: 100%;
    }
}