<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- PAGE -->
    <link rel="stylesheet" href="./home.css">
    <script src="./home.js"></script>

     <!-- GLOBALS -->
     <script src="../globals/auth.js" defer></script>
     <script src="../globals/sidebar.js" defer></script>
     <link rel="stylesheet" href="../globals/header.css" type="text/css">
     <link rel="stylesheet" href="../globals/footer.css">
     
 
     <!-- BOOTSTRAP CONFIG -->
     <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>


    <div id="spinning"></div>


    <header class="header">
        <div style="height: 100%; display: flex; align-items: center; background-color: rgb(250,250,250);" class="logo-header-container" onClick="window.location.href = '/'">
            <img src="../assets/logo.png" style="width: 100%; height: 100%; margin-left: 8px; min-width: 75px; max-width: 85px;" alt="">
            <div class="company-name" style="height: fit-content; display: flex; padding: 0 35px;">
                <span style="font-family: monospace; font-size: 1.6em; color:rgb(41, 41, 41); text-decoration: solid;">
                    Go
                </span>
                <span style="font-family: monospace; font-size: 1.6em;color:rgb(122, 192, 16); font-weight: 800;">
                    Green
                </span>
            </div>
        </div>

        <div class="header-main">
            <p class="nav-item"><a href="/" style="color: rgb(68,68,68)">Home</a></p>
            <p class="nav-item"><a href="/sobre" style="color: rgb(68,68,68)">Sobre</a></p>
            <p class="nav-item"><a href="/produtos" style="color: rgb(68,68,68)">Produtos</a></p>


          
            <div class="nav-item" id="procurar-nav-item">
            <p id="procurar-and-icon-container">
                Procurar
                <i class="fa-solid fa-caret-down" id="seta" style="font-size: .9em; margin-left: 3px; height: fit-content;"></i>
            </p>
            
            <div class="procurar-painel-container" isOpen="false">
                <p style="margin: 0;" id="produtores-item" onClick="window.location.href = '/procurarUsuario'">Produtores</p>
                <p style="margin: 0; margin-top: 8px;"id="produtos-item" onClick="window.location.href = '/procurarProduto'">Produtos</p>
            </div>
            </div>
            <p class="hamburger-icon"><i class="fa-solid fa-bars"></i></p>
        </div>

        <div id="register-and-login" style="margin-left: 25px; display: flex; background-color: rgb(249, 249, 249); justify-content: center;">
            <p style="margin:0; padding-right: 15px; border-right: 1px solid rgb(92, 92, 92);" ><a href="/registrar" style="text-decoration: none;">
                <i class="fa-solid fa-user-plus" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
            </a>
        </p>
        
            <p style="margin:0; padding-left: 15px;">
                <a href="/login" style="text-decoration: none;">
                    <i class="fa-solid fa-right-to-bracket" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
                </a>
            </p>
        </div>

        <div class="header-user-icon-container">
            <img class="header-user-icon" src="" style="position:relative;">
            <div class="header-painel" style="visibility: hidden;">
                <li class="user-painel-item" style="margin-top: 0;">
                    <a href="/"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Home</a></li>
                <li class="user-painel-item" style="margin-top: 0;">
                    <a href="/alterarusuario"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Meu Perfil</a></li>
                <li class="user-painel-item"><a href="/criar"
                    style="text-decoration: none; color: rgb(177, 177, 177);">Criar</a></li>
                <li class="user-painel-item"><a href="/criar"
                    style="text-decoration: none; color: rgb(177, 177, 177); margin-bottom:25px;"
                    >Meus produtos</a></li>
                <button class="logout-btn">Logout</button>
            </div>
        </div>
    </header>


    <div class="sidebar" isOpen="false">
        <div class="sidebar-items">
            <p class="sidebar-item" onclick="window.location.href = '/'">Home</p>
            <p class="sidebar-item" onclick="window.location.href = '/sobreNos'">Sobre Nós</p>
            <p class="sidebar-item" onclick="window.location.href = '/produtos'">Produtos</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarProduto'">Procurar Produto</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarUsuario'">Procurar Produtor</p>
            <h2 id="click-to-close">CLICK PRA FECHAR</h2>
        </div>
    </div>








































    <div class="banner-container">
        <form class="banner-title-container">
            <!-- <h1 class="banner-title">COMPARTILHE</h1>
            <h1 class="banner-title">PRODUTOS</h1>
            <h1 class="banner-title">AGORA</h1> -->
            <h1 class="banner-title">Aqui voce encontrará informaçoes sobre produtos organicos que tem interesse livre de comissoes e compartilhados por outros criadores na Plataforma.</h1> 
            <div class="input-and-btn-container">
                <input type="text" placeholder="Buscar um produto" class="main-input"> 
                <button class="search-btn">  <i class="fa-solid fa-magnifying-glass"></i>  </button>
            </div>
        </form>
        <div class="text-and-btn-container">
            
            <div class="banner-text-container">
            </div>
            <!-- <button class="quero-comecar-btn">Comecar</button> -->
        </div>
        <div class="banner">
        </div>
    </div>
    
    
    
    <div class="container">
 

        <div class="c0">
            <div class="website-card">
                <div class="website-card-first-part">
                    <div class="website-card-circle"
                    style="background-image: url('https://images.pexels.com/photos/270557/pexels-photo-270557.jpeg?auto=compress&cs=tinysrgb&w=600'); background-size: cover; background-position: center center;"></div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Confiabilidade</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>
            <div class="website-card">
                <div class="website-card-first-part">
                    <div class="website-card-circle" style="background-image: url('https://media.istockphoto.com/photos/accessibility-computer-icon-stock-photo-picture-id1319994839?b=1&k=20&m=1319994839&s=612x612&w=0&h=TQNH6xrvIuryKRAjRRRBHFh_WrV6xe3sw4cmqOIiPLY='); background-size: cover; background-position: center bottom;"></div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Acessibilidade</h2>
                    <p>lA expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá </p>
                </div>
            </div>

            <div class="website-card">
                <div class="website-card-first-part">
                    <div class="website-card-circle" style="background-image: url('https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=600'); background-size: cover; background-position: center bottom;"></div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">+Saude</h2>
                    <p>lA expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá </p>
                </div>
            </div>
            <div class="website-card">
                <div class="website-card-first-part">
                    <div class="website-card-circle" style="background-image: url('https://images.pexels.com/photos/1148955/pexels-photo-1148955.jpeg?auto=compress&cs=tinysrgb&w=600'); background-size: cover; background-position: center bottom;"></div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Conforto</h2>
                    <p>lA expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá </p>
                </div>
            </div>
        </div>



        <div class="c1">
            <h2>Plataforma</h2>
            <p style="margin: 0;">Compartilhe seus produtos com outros usuarios agora mesmo em alguns cliques e torne-se um produtor em nosso site de forma gratuita. Somos uma empresa ficticia que tem o objetivo de auxiliar diversos tipos de produtores que desejam compartilhar sua mercadoria com mais pessoas. Uma plataforma para trazer produtores e pessoas que querem viver de forma mais saudavel em um unico lugar</p>
        </div>

      
            <div class="c2" style="position: relative;">
                <h1 style="
                    position: absolute; top: 18px;
                ">Veja como é fácil usar o GoGreen: </h1>
                <div class="c2-circle">
                    <i class="fa-solid fa-question" style="z-index: 3; margin-bottom: 15px; margin-left: 13px;"></i>
                    <div class="c2-inside-circle"></div>
                </div>

                <div class="como-usar-cards-container">

                    <div class="como-usar-card" onClick="window.location.href = '/login'">
                        <div class="card-number-container">
                            <div class=card-number>1</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Crie sua conta na GoGreen</h1>
                            <p class="como-usar-card-text">Voce pode usar sua conta para ter acesso à novas funcionalidades no site.</p>
                        </div>
                    </div>

                  
                    <div class="como-usar-card" onClick="window.location.href = '/pagealterarperfil'">
                        <div class="card-number-container">
                            <div class=card-number style="border-right: 3px solid rgb(154,204,54);">2</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Configure seu Perfil</h1>
                            <p class="como-usar-card-text">Adicione novos dados de cadastro em seu perfil para que outros usuarios possam te contatar e saberem mais sobre voce.</p>
                        </div>
                </div>

                    <div class="como-usar-card">
                        <div class="card-number-container">
                            <div class=card-number style="border-right: 3px solid rgb(154,204,54); border-bottom: 3px solid rgb(154,204,54);">3</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Divulgue seus Produtos</h1>
                            <p class="como-usar-card-text">Publique seus produtos para que outros usuários possam conhece-los e ver suas informaçoes</p>
                        </div>
                </div>
        </div>
        </div>

        

    
        <!-- <div class="c2">
            <div class="dicas-li-saudaveis-container">
                <h2>Dicas Saudáveis</h2>

                <p class="dicas-text" style="margin-top: 12px;">
                     Se alimente de forma saudavel a cada 3 horas
                </p>
                <p class="dicas-text">
                    Pratique exercicios físicos diariamente
                </p>
                <p class="dicas-text">
                     Beba no minimo dois litros de água por dia
                    </p>
                <p class="dicas-text">
                    Não vire a noite jogando Elden Ring 
                </p>           
                <p class="dicas-text">
                     Reduza os níveis de açúcar</p>        
                <p class="dicas-text">
                     Evite consumir produtos industrializados</p>                
            </div>
        </div> -->

     
        <div class="c3" style="display: flex;">

                <h1 style="
                    position: absolute; top: 0;
                ">Produtos em Destaque</h1>
              
                            <div class="card-container">
                                <img class="card-first" src="https://images.pexels.com/photos/533280/pexels-photo-533280.jpeg?auto=compress&cs=tinysrgb&w=600">
                                <h2 class="card-title">Tomatoes</h2>
                            </img>
                            <div class="card-second">
                                Essa é a descricao do meu produto super legal plantando naturalmente aos campos e aos vales mais limpos deste pais chamad o Brasil naturalmente aos campos e aos vales mais limpos deste pais chamad o Brasil.
                            </div>
                        </div>
                            <div class="card-container">
                                <img class="card-first" src="https://images.pexels.com/photos/4110334/pexels-photo-4110334.jpeg?auto=compress&cs=tinysrgb&w=600">
                                <h2 class="card-title">Pineapple</h2>
                            </img>
                            <div class="card-second">
                                Essa é a descricao do meu produto super legal plantando naturalmente aos campos e aos vales mais limpos deste pais chamad o Brasil naturalmente aos campos e aos vales mais limpos deste pais chamad o Brasil.
                            </div>
                        </div>
                            <div class="card-container">
                                <div class="card-first">
                                <h2 class="card-title">Alface abc</h2>
                            </div>
                            <div class="card-second">
                                Essa é a descricao do meu produto super legal plantando naturalmente aos campos e aos vales mais limpos deste pais chamad o Brasil naturalmente aos campos e aos vales mais limpos deste pais chamad o Brasil.
                            </div>
                        </div>
        </div> 
        <!-- <div class="c4">
            <div class="propaganda-text-controller">

                <p  id="side-banner-txt-1">COMEÇAR</p>
                <p  id="side-banner-txt-2">AGORA</p>
                
                <p>REGISTRAR</p>
                
                <p id="side-banner-txt-3">DE FORMA</p>
                <p>GRATUITA</p>
            </div>
            <button class="ir-btn">Registrar</button>

   
        
        </div> -->
        
 
        
    </div>






        <div class="footer">
            <div class="footer-circle">
                <div class="footer-circle-inside"></div>
            </div>
            <div class="footer-circle-2">
                <div class="footer-circle-inside-2">
                <div class="sobre-nos-text">
                        <p>
                            <i class="fa-solid fa-phone"></i>Atendimento: (11) 964988-2424 
                        </p>
                        <p>
                            <i class="fa-solid fa-plus"></i>
                            Sobre nós        
                        </p>
                    </div>
                </div>
            </div>
            <div class="f1">
                <div class="f1-main">
                    <h1 class="f1-title">GO GREEN</h1>
                    <h2 class="f1-second-title">Produtos Orgânicos</h2>
                    <p class="f1-text">A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para te</p>
                </div>
            </div>
            <div class="f2">
                <div class="f2-circle"></div>
                <h3 style="color:rgb(60,68,55); margin-bottom: 0;">GoGreen</h3>
                <h5 style="color: rgb(119,181,12);">Viva Bem</h5>
            </div>
            <div class="f3"></div>
        </div>
            
    </body>
            
</html>

           
    