<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoGreen - Home</title>
    <link rel="shortcut icon" href="../assets/My project-1 (1).png" />

    <!-- PAGE -->
    <link rel="stylesheet" href="./home.css">
    <script src="./home.js" defer></script>

     <!-- GLOBALS -->
     <script src="../globals/auth.js" defer></script>
     <script src="../globals/sidebar.js" defer></script>

     <link rel="stylesheet" href="../globals/header.css" type="text/css">
     <link rel="stylesheet" href="../globals/footer.css">
     
 
     <!-- BOOTSTRAP CONFIG -->
     <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <style>
body{
    position: relative;
    width: 100vw;
  
}

    </style>

</head>
 
<body>


   

    <%- include("../globals/header.ejs") %>





    <div class="banner-container">
        <form class="banner-title-container">
            <h1 class="banner-title">Aqui voce encontrará informaçoes sobre produtos organicos que tem interesse livre de comissoes e compartilhados por outros criadores na Plataforma.</h1> 
            <div class="input-and-btn-container">
                <input type="text" placeholder="Buscar um produto" class="main-input"> 
                <button type="submit" class="search-btn">  <i class="fa-solid fa-magnifying-glass"></i>  </button>
            </div>
            <p id="populares-text">
                <span style="color: rgb(200,200,200); margin-right: 3px;">Populares: </span>
                vegetais, fertilizantes, frutas, sem açúcar...</p>
            
                <h1 class="dots-container">
                    <div class="dots" id="dot-1" value="1"></div>
                    <div class="dots" id="dot-2" value="2"></div>
                    <div class="dots" id="dot-3" value="3"></div>
                </h1>
        </form>



        <!-- <div style="position:absolute; z-index: 5; color:white; margin: auto; bottom:15px; left:0; right: 0;width: fit-content; display: flex; flex-direction: column;">
            <div style="display: flex; align-items: center; font-family: 'Space Mono', monospace;">
                <h1 style="font-size: .8em;">GoGreen</h1>
                <img src="../assets/whiteone.png" style="width:30px; margin: 0 5px 0 5px;" alt="">
                <h1 style="font-size: .8em;">Farm</h1>
            </div>
            <p id="produto-natural">Produto Natural</p>
        </div> -->


        <div class="text-and-btn-container">
            
            <div class="banner-text-container">
            </div>
        </div>
        <div class="banner">
        </div>
        <div class="banner2">
        </div>
    </div>
    
    
    
    <div class="container">

        <div class="c1">
            <h1>Plataforma</h1>
            <p style="margin: 0; font-size:1em;">Compartilhe seus produtos com outros usuarios agora mesmo em alguns cliques e torne-se um produtor em nosso site de forma gratuita. Somos uma empresa ficticia que tem o objetivo de auxiliar diversos tipos de produtores que desejam compartilhar sua mercadoria com mais pessoas. Uma plataforma para trazer produtores e pessoas que querem viver de forma mais saudavel em um unico lugar</p>
        </div>

 

        <div class="c0">
            <div class="website-card">
                <div class="website-card-first-part">
                    <div class="website-card-circle"
                    style="
                    display: flex; align-items: center; justify-content: center; font-size: 2.2em;
                    background-color: #6FA037;
                    ">
                   <i class="fa-solid fa-fingerprint" style="margin: auto;"></i>
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Confiabilidade</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>

            <div class="website-card">
                <div class="website-card-first-part">
                    <div class="website-card-circle"
                    style="
                    display: flex; align-items: center; justify-content: center; font-size: 2.2em;
                    ">
                    <i class="fa-solid fa-check" style="margin:auto;"></i>
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Acessibilidade</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>

            <div class="website-card" >
                <div class="website-card-first-part">
         
                    <div class="website-card-circle"
                    style="
                    display: flex; align-items: center; justify-content: center; font-size: 2.2em;
                    background: #39AC46;">
                    <i class="fa-solid fa-heart-pulse" style="margin: auto;"></i>
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Saúde</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>

            <div class="website-card"  id="fourth-card">
                <div class="website-card-first-part">
   
                    <div class="website-card-circle"
                    style="
                    display: flex; align-items: center; justify-content: center; font-size: 2.2em;
                    ">
                    <i class="fa-solid fa-couch" style="margin: auto;"></i>
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Conforto</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>
        </div>



       


        <div class="c9">
            <div class="c9_1" onclick="window.location.href='/sobreprodutos'">
                <div class="c9_1-triangle"></div>

                <div class="c9-pic-1">
                    <!-- <img src="../wassets/1909.i305.022.P.m005.c20.realistic_coffee_set-02-removebg-preview.png" width="175px" height="175px"/> -->
                </div>
                <div class="c9-texts">
                    <p style="margin: 5px 0 0 0; color:#39AC46; font-weight: 500;">Organico, Único</p>
                    <h2 class="c9-titles-first" >mercadorias</h2>
                    <h2 class="c9-titles-first">exclusivas</h2>
                    <p style="margin: 10px 0 35px 0;" class="c9-text">Encontre produtos únicos e especificos criados por usuarios em nossa plataforma online.</p>
                    <button class="c9-btn">Saiba Mais</button>
                </div>
            </div>
            <div class="c9_2"  onclick="window.location.href='/sobreprodutos'">
                <!-- <div class="c9_2-triangle"></div> -->

                <div class="c9-texts">
                    <p style="margin: 5px 0 0 0; color:#39AC46; font-weight: 500;">Organico, Novo</p>
                    <h2 class="c9-titles-second">novos</h2>
                    <h2 class="c9-titles-second">produtos</h2>
                    <p style="margin: 10px 0 35px 0;" class="c9-text">Temos uma variedade de produtos publicados em nossa plataforma online. Venha conferi-los!</p>
                    <button class="c9-btn">Saiba Mais</button>
                </div>
                <div class="c9-pic-2">
                    
                </div>
            </div>
        </div>



        



        <div class="card-slider">

        <div class="cards-slide-main-container">

            <div class="cards-slide-inside-container">
    
                <div class="cards-slide-grid-container" style="left: 0;">

                    <div class="cards-slide-block">
                     <div class="card-container">
                        <div class="card-first-and-second">
                            <img
                            class="card-first" 
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrl5VNsAGTXvsPRCvudGWRM9FNhgBgn9ln4zkE90dfqEEcnX-rcPWn&usqp=CAE&s"></img>
                    <div class="card-second">
                        <h2 class="card-title" style="margin: 0;">Meu Produto top de mais hleo okdkoa pdkdpka coda pck</h2>
                        <p class="card-tags" style="margin-top:5px;">Fresco - Organico - Natural - ZeroAcucar - Sem Gordura</p>
                        <p class="card-tags" style="margin-bottom: 15px;"> Venda por unidade</p>
                        <div style="display: flex; width: 100%; justify-content: space-between; align-items: center; margin: 12px 0 8px 0;">
                            <div class="card-stars">
                                <i class="fa-solid fa-heart" style="margin:0;"></i>
                                <p style="margin:0; margin-left: 6px;">4</p>
                        </div>
                        <p class="card-price">
                            R$10.50
                        </p>
                    </div>
                        <div style="display: flex; width: 100%; justify-content: space-between;">
                            <button class="heart-card-button"><i class="fa-regular fa-heart"></i></button>
                            <button class="card-button">Adicionar ao Carrinho</button>
                        </div>
                    </div>
                </div>
                        <div class="card-complement">
                        <div class="card-complement-first">
                            <p style="margin:0;">Orgânico</p>
                        </div>
                        <div class="card-complement-second">
                            <i class="fa-solid fa-check"></i>
                        </div>
                    </div> 
                </div>
            </div>
                     
                   
                    
                    
    
                </div>
            </div>
    
        </div>

        <button class="backward-btn">  <i class="fa-solid fa-less-than" style="margin: 0"></i> </button>
        <button class="foward-btn">  <i class="fa-solid fa-greater-than" style="margin: 0"></i> </button>

    </div>
    











        
        

     
    



            <!-- <div class="c2" style="position: relative;">
            
                <div class="c2-circle">
      
                    <div class="c2-inside-circle"></div>
                </div>

                <div class="como-usar-cards-container">
                    
                    <div class="como-usar-card" onClick="window.location.href = '/registrar'">
                        <div class="card-number-container" >
                            <div class=card-number>1</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Crie sua conta na GoGreen
                                 </h1>
                            <p class="como-usar-card-text">Cadastre-se gratuitamente agora mesmo. Voce pode usar sua conta para ter acesso à novas funcionalidades na plataforma, como publicar produtos e enviar mensagens para usuários</p>
                        </div>
                    </div>

                  
                    <div class="como-usar-card" onClick="window.location.href = '/meuPerfil'">
                        <div class="card-number-container">
                            <div class=card-number style="border-right: 4px solid #85bb46;">2</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Configure seu Perfil
                                
                                
                            </h1>
                            <p class="como-usar-card-text">Adicione novos dados de cadastro em seu perfil para que outros usuários possam te contatar e conhecerem mais sobre voce e seus Produtos.</p>
                        </div>
                    </div>
                    
                    <div class="como-usar-card" onClick="window.location.href = '/estacaoDeCriacao'">
                        <div class="card-number-container">
                            <div class=card-number style="border-right: 4px solid #85bb46; border-bottom: 4px solid #85bb46;">3</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Divulgue seus Produtos
                            

                            </h1>
                     
                            <p class="como-usar-card-text">Publique seus produtos na plataforma, preencha os campos para que assim outros usuários possam conhecê-los, visualizar suas respectivas informaçoes e .</p>
                        </div>
                </div>
                    <div class="como-usar-card" onClick="window.location.href = '/globalChat'">
                        <div class="card-number-container">
                            <div class=card-number style="border-right: 4px solid #85bb46; border-bottom: 4px solid #85bb46; border-left: 4px solid #85bb46;">4</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Contate Usuários
                               
                            </h1>
                     
                            <p class="como-usar-card-text">Envie propostas ou ofertas enviando mensangens para outros usuários através de seus perfis ou através do chat global dísponivel para todos os usuários da plataforma.</p>
                        </div>
                </div>
        </div>
        </div> -->



        <!-- <div class="c1_1" style="text-align: right;">

            
            <h1 class="oque-sao-organicos-title">O que são Produtos Orgânicos?</h1>
            

            <p style="margin: 0; font-size:1em; width: 100%;" class="oque-sao-organicos-text">
                Produtos Orgânicos são aqueles obtidos dentro de um sistema orgânico
                de produção agropecuária ou sustentável que beneficie o ecossistema local, proteja os recursos
                naturais, respeite as características socioeconômicas
                e culturais da comunidade local, preserve os direitos
                dos trabalhadores envolvidos e não utilize organismos
                geneticamente modificados nem químicos sintéticos.</p>
                
                <div class="c1_2">
                    <div class="produtos-organicos-rounded-pic" style="
                        right: 0; left: 0; margin: auto; z-index: 1;
                        "></div>
                     <div class="produtos-organicos-rounded-pic" style="
                     right: 0; left: 325px; margin: auto; z-index: 2;
                     "></div>
                    <div class="produtos-organicos-rounded-pic" style="
                    right: 285px; left: 0; margin: auto; z-index: 0;
                    "></div>
                </div>
                

        </div>
         -->
        
    
        <!-- <div class="c2">
            <div class="dicas-li-saudaveis-container">
                <h2>Dicas Saudáveis</h2>

                <p class="dicas-text" style="margin-top: 12px;">
                     Se alimente de forma saudavel a cada 3 horas
                </p>
                <p class="dicas-text">
                    Pratique exercicios físicos diariamente
                </p>
                <p class="dicas-text">
                     Beba no minimo dois litros de água por dia
                    </p>
                <p class="dicas-text">
                    Não vire a noite jogando Elden Ring 
                </p>           
                <p class="dicas-text">
                     Reduza os níveis de açúcar</p>        
                <p class="dicas-text">
                     Evite consumir produtos industrializados</p>                
            </div>
        </div> -->

      
     
        <div class="c3">

            <div class="c3-card" style="position: relative;">
                <i class="fa-solid fa-medal" id="icon-medal"></i>
               <!-- <p id="first-medal">1</p> -->

                <div class="c3-icon" onclick="window.location.href = '/registrar'">
                <ion-icon name="person-outline"></ion-icon>
                </div>
                <h2 class="c3-card-title">Crie sua conta</h2>
                <p class="c3-card-text">Cadastre-se gratuitamente agora mesmo. Voce pode usar sua conta para ter acesso à novas funcionalidades na plataforma, como publicar produtos e enviar mensagens para usuários</p>
            </div>

            <div class="c3-card" onclick="window.location.href = '/meuperfil'" style="background: #39AC46;">
                <div class="c3-icon">
                    <ion-icon name="card-outline"></ion-icon>
                </div>
                <h2 class="c3-card-title">Configure o perfil</h2>
                <p class="c3-card-text">Adicione novos dados de cadastro em seu perfil para que outros usuários possam te contatar e conhecerem mais sobre voce e seus Produtos.</p>
            </div>

            <div class="c3-card" onclick="window.location.href = '/estacaodecriacao'">
                <div class="c3-icon">
                    <ion-icon name="pricetag-outline"></ion-icon>
                </div>
                <h2 class="c3-card-title">Publique produtos</h2>
                <p class="c3-card-text">Publique seus produtos na plataforma, preencha os campos para que assim outros usuários possam conhecê-los, visualizar suas respectivas informaçoes.</p>
            </div>

            <div class="c3-card" onclick="window.location.href = '#'" style="background: #39AC46;">
                <div class="c3-icon">
                    <ion-icon name="cart-outline"></ion-icon>
                </div>
                <h2 class="c3-card-title">Adicione em seu Carrinho</h2>
                <p class="c3-card-text">Adicionar produtos criados por outros usuarios ao seu carrinho de itens é uma funcionalidade disponivel na aplicação.</p>
            </div>

            <div class="c3-card" id="converse-card" onclick="window.location.href = '/globalchat'">
                <div class="c3-icon">
                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                </div>
                <h2 class="c3-card-title">Converse</h2>
                <p class="c3-card-text">Interaja com outros usuários na plataforma, envie mensagens, faça propostas para com seus produtos através do chat dísponivel para todos os usuários da plataforma.</p>
            </div> 

            <div class="c3-card"  onclick="window.location.href = '/categorias'" style="position: relative; background: #39AC46;">
                <div style="
                    position: absolute;
                    bottom: 5px;
                    right: -10px;
                    font-size: 0.8em;
                    z-index: 2;
                    padding: 0 10px 0 10px;
                    transform: rotate(-15deg);
                    font-weight: 900;
                    background-color: rgb(255, 255, 255);
                    color: var(--main-green);
                    color: rgb(11,156,89);
                    margin: 0;
                    border: 4px solid rgb(11,156,89);
                    text-align: center;

                ">DESENVOLVIMENTO
                <div style="
                margin: 0;
                font-weight: 500;
                font-size: 0.7em;
                
                color: rgba(15, 102, 61, 0.955);
                ">em desenvolvimento</div>    
            </div>
                <div class="c3-icon">
                    <ion-icon name="star-outline"></ion-icon>
                </div>
                <h2 class="c3-card-title">Avalie Produtos</h2>
                <p class="c3-card-text" style="color:white;">Voce pode tambem avaliar produtos publicados por usuários, uma vez que esteja autenticado, essa funcionalidade é restringida por uma avaliação por produto por usuario.</p>
            </div>
                 <!-- <h2 style="
                    position: absolute; top: 25px;
                ">Produtos em Destaque</h2> -->

                <!-- <div class="healthy-tips-inside">
                    <div class="healthy-tips">
                        <div>
                            <h1 class="healthy-main-title">BENEFICIOS DE</h1>
                            <h1 class="healthy-second-title">COMER SAUDAVEL</h1>
                        </div>
                        <div class="healthy-tips-bar" style="background: rgb(81,208,93)">
                            
                        </div>
                        <div class="healthy-tips-bar" style="width: 70%; background: rgb(151,195,46)">
                            
                        </div>
                        <div class="healthy-tips-bar" style="width: 65%; background: rgb(59,187,234)">
                        </div>
                      
                        <div class="healthy-tips-bar" style="width: 60%; background: rgb(238,135,40)">
                        </div>
                    </div>
                    <div style="width: 55%; position: absolute; right: 15px; top: 145px;">
                        <img src="../assets/healthyfood.png" alt=""  style="width: 100%;">
                    </div>
                </div> -->
        </div> 


        <!-- <div class="c4">
            <div class="propaganda-text-controller">

                <p  id="side-banner-txt-1">COMEÇAR</p>
                <p  id="side-banner-txt-2">AGORA</p>
                
                <p>REGISTRAR</p>
                
                <p id="side-banner-txt-3">DE FORMA</p>
                <p>GRATUITA</p>
            </div>
            <button class="ir-btn">Registrar</button>

   
        
        </div> -->
        
 
        
    </div>


    <%- include("../globals/footer.ejs") %>



        

            
    </body>
            
</html>

           
    