@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
.banner-container{
    height: fit-content;
    max-width: 1400px;
    width: 100vw;
    margin: auto;
    /* background-color: rgb(205, 49, 49); */
    /* border-left: 40px solid rgba(0, 0, 0, 0); */
   overflow: hidden;
   position: relative;
   max-height: 700px;
   background-color: #415a77;
}


.banner{
   
    height: 85vh;
    /* /* background-image: url('https://images.pexels.com/photos/691166/pexels-photo-691166.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    /* background-image: url('https://images.pexels.com/photos/699422/pexels-photo-699422.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    background-image: url('https://images.pexels.com/photos/70862/pexels-photo-70862.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-image: url('https://images.pexels.com/photos/35196/water-plant-green-fine-layers.jpg?auto=compress&cs=tinysrgb&w=600');
    background-color: rgb(40, 67, 33);
    background-attachment: fixed;
    filter: blur(12px) contrast(0.7);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-width: 100vw;
    background-position: center;

    /* background-color: orange; */
}

.banner-title-container{
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
    z-index: 5;
    width: fit-content;
    height: fit-content;
    /* background-color: red; */
    width: 750px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.banner-title{
    font-size: 2.1em;
    /* color: white; */
    color: white;
    text-align: justify;
    margin: 0;
    padding: 3px 25px 3px 25px;
    font-weight: 500;

}
.input-and-btn-container{
    width: 95%;
    display: flex;
    height: fit-content;

    margin-top: 35px;
}
.main-input, .search-btn{
    height: 43px;
    border: none;
}

.main-input{
    width: 90%;
    padding-left: 15px;
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(120, 129, 115);
}
.main-input::placeholder{
    color: rgb(192, 192, 192);
}
.search-btn{
    width: 10%;
    color: rgb(192, 192, 192);
    font-size: 1.2em;
}

.text-and-btn-container{
    display: flex;
    position: absolute;
    z-index: 5;
    right: 195px;
    height: fit-content;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* background-color: red; */

}


.banner-text-container{
    /* background-color: rgba(255, 255, 255, 0.782); */
    color: white;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    /* background-color: rgba(255, 254, 254, 0.018); */
    width: 300px;
    height: fit-content;
    font-weight: 600;
    margin: auto;
    font-size: .9em;
    text-align: center;
}

.quero-comecar-btn{
    padding: 12px 65px 12px 65px;
    font-size: 2.6em;
    
    z-index: 5;
    border-radius: 7px;
    border: none;
    color: #415a77;
    font-weight: 600;
    background-color: #dae5f2eb;
    margin-top: 15px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr .5fr;
    grid-template-areas: 
    "c0 c0 c0 c0 c0 c0"
    "c1 c1 c1 c1 c1 c1"
    "c1_2 c1_2 c1_2 c1_2 c1_2 c1_2"
    "c1_1 c1_1 c1_1 c1_1 c1_1 c1_1"
    "c2 c2 c2 c2 c2 c2"
    "c3 c3 c3 c3 c3 c3";

    grid-template-rows: auto 400px auto auto auto;
    column-gap: 5px;
    /* row-gap: 25px; */
    padding-top: 10px;
    margin: auto;
    /* background-color: red; */
    width: 95vw;
    margin-top: 0;
    z-index: 0;
    margin-bottom: 100px;
    /* background-color: whitesmoke; */
    max-width: 2000px;
}

.c0, .c1, .c2, .c3, .c4, .c5{
    /* background-color: rgb(249, 249, 249); */
    /* border: 1px solid black; */
    /* background-color: rgb(126, 36,222); */
    margin-top: 100px;
}
.c0{
    /* background-color: blue; */
    grid-area: c0;
    display: flex;
    justify-content: space-between;
   
    /* background-color: red; */
}
.website-card{
    height: fit-content;
    background-color: white;
    /* border: 1px solid rgb(220,220,220); */
    width: 230px;
    
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.154);
    
}
.website-card-first-part, .website-card-second-part{
    width: 100%;
    /* height: 50%; */
}
.website-card-first-part{
    /* background-color: blue; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.website-card-circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
}
.website-card-second-part{
   
    padding: 15px;
    margin-top: 8px;
    box-sizing: border-box;
    font-size: .8em;
    text-align: center;
}
.c1, .c1_1{
    grid-area: c1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 0 150px 0 150px;
    background-color: white;
    /* background-color: black; */
}

.c1_2{
    grid-area: c1_2;
    background-attachment: whitesmoke;
    margin: 0 auto;
}

.c1_1{
    grid-area: c1_1;
    padding: 25px 75px 35px 150px;
}
.c2{
    grid-area: c2;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;

    /* background-color: whitesmoke; */
}
.dicas-li-saudaveis-container{
    /* background-color: green; */
    text-align: end;
}
.dicas-text{
    /* background-color: red; */
    font-size: .9em;
    text-align: end;
    /* background-color: red; */
    width: 100%;
    /* background-color: red; */
    margin-left: 50px;
    margin: 0;
    margin-top: 4px;
}

.c2{
    grid-area: c2;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.68);
    padding-left: 0;
    
}
.c2-circle{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10em;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
    overflow: hidden;
    background-image: url('https://images.pexels.com/photos/96715/pexels-photo-96715.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-image: url('https://images.pexels.com/photos/461428/pexels-photo-461428.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-image: url('https://images.pexels.com/photos/698489/pexels-photo-698489.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-image: url('https://images.pexels.com/photos/606540/pexels-photo-606540.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center center;
    background-size: cover;
}
/* .c2-inside-circle{
    background-color: rgb(155, 213, 37);
    width: 245px;
    height: 245px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -65px;
    margin: auto;
} */

.como-usar-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    padding: 45px 35px 45px 35px;
    width: 60%;
    height: 100%;
    background-color: rgb(254,255,255);
}
.como-usar-card{
    /* background-color: gray; */
    box-shadow: 2px 0px 6px -3px rgba(0, 0, 0, 0.300);
    /* background-color: whitesmoke; */
    display: flex;
    padding: 18px;
    margin: 5px 0 5px 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    /* background-color: white; */
}
.como-usar-card:hover{
    background-color: whitesmoke;
}
.card-number-container{
    /* background-color: teal; */
    height: 100%;
    width: fit-content;
    margin-right: 25px;
    padding: 0;
}
.card-number{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.3em;
    line-height: 30px;
    border: 4px solid rgb(248, 248, 248);
    border-top: 4px solid #6D983C;
    color: #6D983C;
    
    font-weight: 700;
}
.como-usar-card-title{
    text-align: start;
    font-size: 1.7em;
    /* background-color: #415a77; */
    color: #6D983C;
    margin: 0;
    font-weight: 700;
}
.como-usar-card-text{
    color: rgb(77,68,65);
    font-weight: 500;
    padding-top: 10px;
    text-align: start;
    /* background-color: #4176b3; */
    font-size: 1.1em;
    margin: 0;

}


.c3{
    grid-area: c3;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: left;
    /* background-color: rgb(240, 240, 240); */
    /* border: 1px solid rgba(168, 168, 168, 0.89); */
    /* flex-direction: column; */
    /* justify-content: start; */
    /* background-color: yellow; */
    /* background-color: red; */
    row-gap: 25px;
    padding: 0  7px 20px 7px;
    position: relative;
    padding-top: 125px;
  
    /* background-color: rgb(245,245,245); */
}

.card-container{
    margin: auto;
    position: relative;
    margin-bottom: 10px;
    width: 350px;
    height: 450px;
    max-width: 260px;
    background-color: white;
    border: 1px solid rgb(235,235,235);
}

.card-container:hover{
    opacity: 95%;
    cursor: pointer;
}
.card-title{
    position: absolute;
    color: white;
    background-color: rgba(39, 39, 39, 0.09);
    margin-top: 0;
    padding: 5px 5px 10px 5px;
    top: 0;
    left: 5px;
    z-index: 200;
    filter: brightness(100%);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.6em;
    width: 95%;
    pointer-events: none;
}
.card-first{
    pointer-events: none;
    background-color: white;
    width: 100%;
    height: 55%;
    background-image: url('https://images.pexels.com/photos/1391505/pexels-photo-1391505.jpeg?auto=compress&cs=tinysrgb&w=600');
    /* filter: contrast(50%); */
    filter: brightness(65%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-first:hover{
    filter: none;
    transition: 0.3s ease-in-out;
}

.card-second{
    pointer-events: none;
    width: 100%;
    min-height: 40%;
    height: fit-content;
    max-height: 30%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    text-align: start;
    padding: 15px 25px 20px 25px;
    color: #5B5B5B;
    text-overflow: ellipsis;
}


.video-text{
    width: 30%;
    height: 100%;
    /* background-color: white; */
    padding: 10px 10px 10px 10px;
    text-align: start;
}
.c4{
    grid-area: c4;
    background-image: url('https://images.pexels.com/photos/87841/ivy-plants-leaves-wall-87841.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-image: url('https://images.pexels.com/photos/7420889/pexels-photo-7420889.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(85%);
    color: white;
    text-align: center;
    
    /* background-color: black; */
    
    /* background-color: rgb(104, 180, 50); */

}

.ir-btn{
    border: none;
    background-color: rgba(255, 255, 255, 0.896);
    padding: 7px 15px 7px 15px;
    width: 75%;
    border-radius: 5px;
    font-size: 2em;
    font-weight: 600;
    margin-top: 65px;
    color: rgba(162, 157, 61, 0.852);
}


.propaganda-text-controller{
    /* background-color: red; */
    font-weight: 700;
    font-size: 2.4em;
}

#side-banner-txt-1{
    margin-top: 25px;
}

#side-banner-txt-2{
    margin-top: 10px; margin-bottom: 85px;
}
#side-banner-txt-3{
    margin-top: 25px; margin-bottom: 25px;
}





.fa-solid{
    /* color: red; */
    margin-right: 15px;
}


::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(221, 221, 221);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(220, 220, 220);
}

.footer{
    height: 250px;
    background-color: rgb(230, 230, 230);
    width: 100vw;
    max-width: 2000px;
    min-width: 290px;
}




























@media (max-width: 1210px){
    .c3{
        background-color: bisque;
        grid-area: c3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        justify-content: left;
        padding: 0  7px 20px 7px;
        position: relative;
        padding-top: 125px;
    }
}







@media (max-width: 1000px){
    .propaganda-text-controller{
        /* background-color: red; */
        font-size: 1.8em;
        /* color: blue; */
    }

    .container{
        background-color: gray;
        max-width: 100vw;
        min-width: unset;
        width: 100vw;
        min-width: 95vw;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr .5fr;
        grid-template-areas: 
        "c0 c0 c0 c0 c0 c0"
        "c1 c1 c1 c1 c1 c1"
        "c1_2 c1_2 c1_2 c1_2 c1_2 c1_2"
        "c1_1 c1_1 c1_1 c1_1 c1_1 c1_1"
        "c2 c2 c2 c2 c2 c2"
        "c3 c3 c3 c3 c3 c3";
    
        grid-template-rows: auto auto auto auto;
        column-gap: 5px;
        /* row-gap: 25px; */
        padding-top: 10px;
        margin: auto;
        /* background-color: red; */
        width: 95vw;
        margin-top: 0;
        z-index: 0;
        margin-bottom: 100px;
        max-width: 2000px;
        justify-content: center;
    }
    .c0{
        background-color: blue;
        max-width: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 0 0;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        /* width: fit; */
        margin: auto;
        justify-content: center;
        min-width: fit-content;
        width: fit-content;
        justify-content: space-around;
    }
    .website-card{
        margin: 0;
        width: 98%;
    }

    #fourth-card{
        width: 300%;
        background-color: gray;
    }
    
    .c3{
        background-color: bisque;
        grid-area: c3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        justify-content: left;
        padding: 0  7px 20px 7px;
        position: relative;
        padding-top: 125px;
    }
}





@media (max-width: 885px){
    .banner-title-container{
        width: 500px;
    }

    .propaganda-text-controller{
        /* background-color: rgba(255, 255, 0, 0.402); */
        font-size: 2.4em;
        width: 35%;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #side-banner-txt-1{
        width: fit-content;
        margin-top: 5px;
        
    }
    
    #side-banner-txt-2{
        width: fit-content;
        margin-top: 5px; margin-bottom: 15px;
    }
    #side-banner-txt-3{
        width: fit-content;
        margin-top: 8px; margin-bottom: 8px;
    }

    .ir-btn{
        border: none;
        background-color: rgba(255, 255, 255, 0.896);
        padding: 3px 55px 5px 55px;
        border-radius: 10px;
        font-weight: 600;
        /* position: absolute; */
      
        bottom: 50px;
        margin: auto;
        font-size: 1.9em;

        margin-bottom: 160px;
        /* color: #026800; */
        width: 50%;
        max-width: 270px;
    }
    
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr .5fr;
        grid-template-areas: 
        "c0 c0 c0 c0 c0 c0"
        "c1 c1 c1 c1 c1 c1"
        "c1_2 c1_2 c1_2 c1_2 c1_2 c1_2"
        "c1_1 c1_1 c1_1 c1_1 c1_1 c1_1"
        "c2 c2 c2 c2 c2 c2"
        "c3 c3 c3 c3 c3 c3";
    
        grid-template-rows: auto auto auto auto;
        column-gap: 0;
        /* row-gap: 25px; */
        padding-top: 10px;
        margin: auto;
        /* background-color: red; */
        width: 100vw;
        margin-top: 0;
        margin-bottom: 100px;
        background-color: rgb(87, 23, 23);
        max-width: unset;
        width: 95vw;
        justify-content: center;
        min-width: 95vw;

    }

    .c0{
        background-color: blue;
        max-width: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 0 0;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        /* width: fit; */
        margin: auto;
        justify-content: center;
        min-width: fit-content;
        width: fit-content;
        justify-content: space-around;
    }
    .website-card{
        margin: 0;
        width: 98%;
    }

    #fourth-card{
        width: 300%;
        background-color: gray;
    }
    
    
    .c1{
        background-color: rgb(70, 33, 33);
        width: 100%;
        max-width: unset;
        padding: 0;
        margin: 0;
        /* margin: auto; */
    }

    .c2{
        padding: 0;
    }

 
    
    
    
   
    .c3{
        grid-area: c3;
        display: grid;
        background-color: rgb(30, 1, 1);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        justify-content: left;
        padding: 0  7px 20px 7px;
        position: relative;
        padding-top: 125px;
        width: 95vw;
        margin: auto;
        min-width: 290px;
        /* background-color: rgb(245,245,245); */
    }
    
    .card-container{
        margin: auto;
        position: relative;
        margin-bottom: 10px;
        width: 350px;
        height: 450px;
        max-width: 260px;
        background-color: white;
        border: 1px solid rgb(235,235,235);
    }
}





@media (max-width: 730px){
    .c2{
        grid-area: c2;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        background-color: white;
        box-shadow: 3px 3px 10px -3px rgb(0, 0, 0);
        padding: 0 0 25px 0;
    }

    .c1{
        padding: 35px 0 35px 0;
    }
    .c2-circle{
        width: 100%;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10em;
        position: relative;
        background-color: rgb(255, 255, 255);
        color: rgb(68, 68, 68);
        overflow: hidden;
        background-image: url('https://images.pexels.com/photos/96715/pexels-photo-96715.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-image: url('https://images.pexels.com/photos/461428/pexels-photo-461428.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-image: url('https://images.pexels.com/photos/698489/pexels-photo-698489.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-position: center center;
        background-size: cover;
    }

    .como-usar-cards-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
        padding: 10px 40px 10px 40px;
        width: 90%;
        height: 100%;
        background-color: rgb(27, 101, 101);
    }
    .como-usar-card{
        /* background-color: gray; */
        /* background-color: whitesmoke; */
        display: flex;
        padding: 8px;
        margin: 5px 0 5px 0;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        /* background-color: white; */
    }
}


































@media (max-width: 580px){

  .banner-title-container{
            width: 420px;
        }
        
        .propaganda-text-controller{
            visibility: hidden;
            position: absolute;
        }
    
        .ir-btn{
            padding: 4px 10px 4px 10px;
            border-radius: 5px;
            position: absolute;
            right: 0;
            bottom: 45px;
            left: 0;
            margin: auto;
            width: 65%;
        }


    
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr .5fr;
            grid-template-areas: 
            "c0 c0 c0 c0 c0 c0"
            "c1 c1 c1 c1 c1 c1"
            "c1_2 c1_2 c1_2 c1_2 c1_2 c1_2"
            "c1_1 c1_1 c1_1 c1_1 c1_1 c1_1"
            "c2 c2 c2 c2 c2 c2"
            "c3 c3 c3 c3 c3 c3";
        
            grid-template-rows: auto auto auto auto;
            column-gap: 0;
            /* row-gap: 25px; */
            padding-top: 10px;
            margin: auto;
            /* background-color: red; */
            width: 100vw;
            max-width: 100vw;
            margin-top: 0;
            z-index: inherit;
            margin-bottom: 100px;
            background-color: gray;
            min-width: 290px;

        }
    
        .c0{
            background-color: yellow;
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-direction: column;
            align-items: center;
            /* margin: auto; */
            min-width: 100%;
            min-width: fit-content;
            max-width: unset;
            width: fit-content;
            place-items: center;
        }

        .website-card{
            height: fit-content;
            background-color: rgb(116, 52, 52);
            /* border: 1px solid rgb(220,220,220); */
            width: 98%;
            /* min-width: 290px; */
            height: 325px;
            display: flex;
            flex-direction: column;
            box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.154);
            
        }

        #fourth-card{
            width: 98%;
            background-color: gray;
        }
        

       
    
       
        .c3{
            grid-area: c3;
            display: grid;
            background-color: rgb(30, 1, 1);
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-content: left;
            padding: 0  7px 20px 7px;
            position: relative;
            padding-top: 125px;
            width: 95vw;
            margin: auto;
            min-width: 290px;
            /* background-color: rgb(245,245,245); */
        }
        
    
      
}




























































@media (max-width: 440px){
    .banner-container{
        min-width: 290px;
    }

    .banner{
        /* max-width: 1300px; */
        /* position: absolute; */
        height: 115vh;
        max-height: 700px;
        /* /* background-image: url('https://images.pexels.com/photos/691166/pexels-photo-691166.jpeg?auto=compress&cs=tinysrgb&w=600'); */
        /* background-image: url('https://images.pexels.com/photos/699422/pexels-photo-699422.jpeg?auto=compress&cs=tinysrgb&w=600'); */
        background-image: url('https://images.pexels.com/photos/70862/pexels-photo-70862.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-image: url('https://images.pexels.com/photos/35196/water-plant-green-fine-layers.jpg?auto=compress&cs=tinysrgb&w=600');
        background-color: rgb(5, 17, 2);
        background-attachment: fixed;
        filter: blur(12px) contrast(0.7);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        background-position: center;
        background-color: blue;
        /* background-color: orange; */
        min-width: 290px;
    }

    .banner-title-container{
        position: absolute;
        inset: 0 0 0 0;
        margin: auto;
        z-index: 5;
        width: fit-content;
        height: fit-content;
        /* background-color: red; */
        width: 98%;
        min-width: 290px;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        background-color: #02680000;
        align-items: center;
        min-width: 290px;

        /* background-color: blue; */
    }
    .banner-title{
        font-size: 2em;
        /* color: white; */
        color: white;
        text-align: start;
        margin: 0;
        padding: 45px 25px 3px 25px;
        font-weight: 500;
        /* background-color: green; */
        background-color: #02680000;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr .5fr;
        grid-template-areas: 
        "c0 c0 c0 c0 c0 c0"
        "c1 c1 c1 c1 c1 c1"
        "c1_2 c1_2 c1_2 c1_2 c1_2 c1_2"
        "c1_1 c1_1 c1_1 c1_1 c1_1 c1_1"
        "c2 c2 c2 c2 c2 c2"
        "c3 c3 c3 c3 c3 c3";
    
        grid-template-rows: auto auto auto auto;
        column-gap: 0;
        /* row-gap: 25px; */
        padding-top: 10px;
        margin: auto;
        /* background-color: red; */
        width: 95vw;
        margin-top: 0;
        z-index: inherit;
        margin-bottom: 100px;
        min-width: 290px;
    }

    .c0, .c1, .c2, .c3{
        min-width: 290px;
    }

    
    .c0{
        flex-direction: column;
        margin: auto;
        min-width: 290px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }


    .c2{
        background-color: red;
        flex-direction: column;
    }

    .c2-circle{
        background-color: yellowgreen;
        height: 40%;
        width: 95%;
        min-width: 290px;
        
    }
    
   
   
    .como-usar-cards-container{
        padding: 0;
    }
    .como-usar-card{
    }
    
    .card-number-container{
        margin-right: 10px;
    }
    .card-number{
        height: 34px;
        width: 34px;
        line-height: 24px;
    }

 
 
}