<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="../assets/logo_transparente.png" />

    <!-- PAGE -->
    <link rel="stylesheet" href="./home.css">
    <script src="./home.js" defer></script>

     <!-- GLOBALS -->
     <script src="../globals/auth.js" defer></script>
     <script src="../globals/sidebar.js" defer></script>
     <link rel="stylesheet" href="../globals/header.css" type="text/css">
     <link rel="stylesheet" href="../globals/footer.css">
     
 
     <!-- BOOTSTRAP CONFIG -->
     <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
body{
    position: relative;
    width: 100vw;
  
}

    </style>

</head>
 
<body>


   

    <%- include("../globals/header.ejs") %>






    




































    <div class="banner-container">
        <form class="banner-title-container">
            <h1 class="banner-title">Aqui voce encontrará informaçoes sobre produtos organicos que tem interesse livre de comissoes e compartilhados por outros criadores na Plataforma.</h1> 
            <div class="input-and-btn-container">
                <input type="text" placeholder="Buscar um produto" class="main-input"> 
                <button type="submit" class="search-btn">  <i class="fa-solid fa-magnifying-glass"></i>  </button>
            </div>
            
        </form>

        <!-- <div style="position:absolute; z-index: 5; color:white; margin: auto; bottom:15px; left:0; right: 0;width: fit-content; display: flex; flex-direction: column;">
            <div style="display: flex; align-items: center; font-family: 'Space Mono', monospace;">
                <h1 style="font-size: .8em;">GoGreen</h1>
                <img src="../assets/whiteone.png" style="width:30px; margin: 0 5px 0 5px;" alt="">
                <h1 style="font-size: .8em;">Farm</h1>
            </div>
            <p id="produto-natural">Produto Natural</p>
        </div> -->


        <div class="text-and-btn-container">
            
            <div class="banner-text-container">
            </div>
        </div>
        <div class="banner">
        </div>
    </div>
    
    
    
    <div class="container">
 

        <div class="c0">
            <div class="website-card">
                <div class="website-card-first-part">
                    <!-- https://images.pexels.com/photos/270557/pexels-photo-270557.jpeg?auto=compress&cs=tinysrgb&w=600 -->
                    <div class="website-card-circle"
                    style="background-color: #85bb46; background-size: cover; background-position: center center;
                    display: flex; align-items: center; justify-content: center; font-size: 3em; color: white;
                    ">
                   <i class="fa-solid fa-fingerprint" style="margin: auto;"></i>
                   <!-- <i class="fa-solid fa-lock" style="margin: auto;"></i> -->
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Confiabilidade</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>

            <div class="website-card">
                <div class="website-card-first-part">
                    <!-- https://images.pexels.com/photos/270557/pexels-photo-270557.jpeg?auto=compress&cs=tinysrgb&w=600 -->
                    <div class="website-card-circle"
                    style="background-color: #BB464A; background-size: cover; background-position: center center;
                    display: flex; align-items: center; justify-content: center; font-size: 3em; color: white;
                    ">
                    <i class="fa-solid fa-check" style="margin:auto;"></i>
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Acessibilidade</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>

            <div class="website-card">
                <div class="website-card-first-part">
         
                    <div class="website-card-circle"
                    style="background-color: #7C46BB; background-size: cover; background-position: center center;
                    display: flex; align-items: center; justify-content: center; font-size: 3em; color: white;
                    ">
                    <i class="fa-solid fa-heart-pulse" style="margin: auto;"></i>
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Saúde</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>

            <div class="website-card"  id="fourth-card">
                <div class="website-card-first-part">
   
                    <div class="website-card-circle"
                    style="background-color: #46BBB6; background-size: cover; background-position: center center;
                    display: flex; align-items: center; justify-content: center; font-size: 3em; color: white;
                    ">
                    <i class="fa-solid fa-couch" style="margin: auto;"></i>
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Conforto</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>


        
           
        </div>



        <div class="c1">
            <h1>Plataforma</h1>
            <p style="margin: 0; font-size:1em;">Compartilhe seus produtos com outros usuarios agora mesmo em alguns cliques e torne-se um produtor em nosso site de forma gratuita. Somos uma empresa ficticia que tem o objetivo de auxiliar diversos tipos de produtores que desejam compartilhar sua mercadoria com mais pessoas. Uma plataforma para trazer produtores e pessoas que querem viver de forma mais saudavel em um unico lugar</p>
        </div>



        <div class="c9">
            <div class="c9_1">
                <div class="c9-pic-1">
                    <!-- <img src="../assets/1909.i305.022.P.m005.c20.realistic_coffee_set-02-removebg-preview.png" width="175px" height="175px"/> -->
                </div>
                <div class="c9-texts">
                    <p style="margin: 5px 0 0 0; color:rgb(161, 180, 137); font-weight: 500;">Organico, Único</p>
                    <h2 style="margin: 0 0 0 0; color: white;" class="c9-titles" >mercadorias</h2>
                    <h2 style="margin: 0 0 0 0; color: white;" class="c9-titles">exclusivas</h2>
                    <p style="margin: 10px 0 35px 0;" class="c9-text">Encontre produtos unicos e especificos criados por usuarios em nossa plataforma online.</p>
                    <button class="c9-btn">Saiba Mais</button>
                </div>
            </div>
            <div class="c9_2">
                <div class="c9-texts">
                    <p style="margin: 5px 0 0 0; color:rgb(203,218,183); font-weight: 500;">Organico, Novo</p>
                    <h2 style="margin: 0 0 0 0" class="c9-titles">novos</h2>
                    <h2 style="margin: 0 0 0 0" class="c9-titles">produtos</h2>
                    <p style="margin: 10px 0 35px 0;" class="c9-text">Temos uma variedade de produtos publicados em nossa plataforma online. Venha conferi-los!</p>
                    <button class="c9-btn">Saiba Mais</button>
                </div>
                <div class="c9-pic-2">
                    
                </div>
            </div>
        </div>



        <div class="c10">
            <div class="c10-left-arrow">
                <i class="fa-solid fa-less-than" style="margin: 0"></i>
            </div>

            <div class="c10-main">
                <div class="c10-main-inside">
                 <div class="card-container" >
                        <img
                        class="card-first" 
                        src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
                    </img>
                    <div class="card-second">
                        <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
                        <p class="card-tags">
                            Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
                        </p>
                        <div class="card-stars">
                                <i class="fa-solid fa-star" style="margin:0;"></i>
                                <i class="fa-solid fa-star" style="margin:0;"></i>
                                <i class="fa-solid fa-star" style="margin:0;"></i>
                                <i class="fa-solid fa-star" style="margin:0;"></i>
                            <i class="fa-solid fa-star" style="margin:0;"></i>
                        </div>
                
                        <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>
                
                        <p class="card-price">
                            R$10.50
                        </p>
                        <p style="margin:0; font-size:.5em">
                            Criado em setembro de 2022
                        </p>
                    </div>
                </div> 

                <div class="card-container" >
                    <img
                    class="card-first" 
                    src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
                </img>
                <div class="card-second">
                    <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
                    <p class="card-tags">
                        Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
                    </p>
                    <div class="card-stars">
                            <i class="fa-solid fa-star" style="margin:0;"></i>
                            <i class="fa-solid fa-star" style="margin:0;"></i>
                            <i class="fa-solid fa-star" style="margin:0;"></i>
                            <i class="fa-solid fa-star" style="margin:0;"></i>
                        <i class="fa-solid fa-star" style="margin:0;"></i>
                    </div>
            
                    <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>
            
                    <p class="card-price">
                        R$10.50
                    </p>
                    <p style="margin:0; font-size:.5em">
                        Criado em setembro de 2022
                    </p>
                </div>
            </div> 

            <div class="card-container" >
                <img
                class="card-first" 
                src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
            </img>
            <div class="card-second">
                <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
                <p class="card-tags">
                    Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
                </p>
                <div class="card-stars">
                        <i class="fa-solid fa-star" style="margin:0;"></i>
                        <i class="fa-solid fa-star" style="margin:0;"></i>
                        <i class="fa-solid fa-star" style="margin:0;"></i>
                        <i class="fa-solid fa-star" style="margin:0;"></i>
                    <i class="fa-solid fa-star" style="margin:0;"></i>
                </div>
        
                <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>
        
                <p class="card-price">
                    R$10.50
                </p>
                <p style="margin:0; font-size:.5em">
                    Criado em setembro de 2022
                </p>
            </div>
        </div> 

        <div class="card-container" >
            <img
            class="card-first" 
            src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
        </img>
        <div class="card-second">
            <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
            <p class="card-tags">
                Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
            </p>
            <div class="card-stars">
                    <i class="fa-solid fa-star" style="margin:0;"></i>
                    <i class="fa-solid fa-star" style="margin:0;"></i>
                    <i class="fa-solid fa-star" style="margin:0;"></i>
                    <i class="fa-solid fa-star" style="margin:0;"></i>
                <i class="fa-solid fa-star" style="margin:0;"></i>
            </div>
    
            <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>
    
            <p class="card-price">
                R$10.50
            </p>
            <p style="margin:0; font-size:.5em">
                Criado em setembro de 2022
            </p>
        </div>
    </div> 

    <div class="card-container" >
        <img
        class="card-first" 
        src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
    </img>
    <div class="card-second">
        <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
        <p class="card-tags">
            Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
        </p>
        <div class="card-stars">
                <i class="fa-solid fa-star" style="margin:0;"></i>
                <i class="fa-solid fa-star" style="margin:0;"></i>
                <i class="fa-solid fa-star" style="margin:0;"></i>
                <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
        </div>

        <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>

        <p class="card-price">
            R$10.50
        </p>
        <p style="margin:0; font-size:.5em">
            Criado em setembro de 2022
        </p>
    </div>
</div> 

<div class="card-container" >
    <img
    class="card-first" 
    src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
</img>
<div class="card-second">
    <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
    <p class="card-tags">
        Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
    </p>
    <div class="card-stars">
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
        <i class="fa-solid fa-star" style="margin:0;"></i>
    </div>

    <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>

    <p class="card-price">
        R$10.50
    </p>
    <p style="margin:0; font-size:.5em">
        Criado em setembro de 2022
    </p>
</div>
</div> 

<div class="card-container" >
    <img
    class="card-first" 
    src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
</img>
<div class="card-second">
    <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
    <p class="card-tags">
        Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
    </p>
    <div class="card-stars">
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
        <i class="fa-solid fa-star" style="margin:0;"></i>
    </div>

    <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>

    <p class="card-price">
        R$10.50
    </p>
    <p style="margin:0; font-size:.5em">
        Criado em setembro de 2022
    </p>
</div>
</div> 

<div class="card-container" >
    <img
    class="card-first" 
    src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
</img>
<div class="card-second">
    <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
    <p class="card-tags">
        Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
    </p>
    <div class="card-stars">
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
        <i class="fa-solid fa-star" style="margin:0;"></i>
    </div>

    <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>

    <p class="card-price">
        R$10.50
    </p>
    <p style="margin:0; font-size:.5em">
        Criado em setembro de 2022
    </p>
</div>
</div> 

<div class="card-container" >
    <img
    class="card-first" 
    src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
</img>
<div class="card-second">
    <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
    <p class="card-tags">
        Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
    </p>
    <div class="card-stars">
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
        <i class="fa-solid fa-star" style="margin:0;"></i>
    </div>

    <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>

    <p class="card-price">
        R$10.50
    </p>
    <p style="margin:0; font-size:.5em">
        Criado em setembro de 2022
    </p>
</div>
</div> 

<div class="card-container" >
    <img
    class="card-first" 
    src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
</img>
<div class="card-second">
    <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
    <p class="card-tags">
        Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
    </p>
    <div class="card-stars">
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
        <i class="fa-solid fa-star" style="margin:0;"></i>
    </div>

    <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>

    <p class="card-price">
        R$10.50
    </p>
    <p style="margin:0; font-size:.5em">
        Criado em setembro de 2022
    </p>
</div>
</div> 

<div class="card-container" >
    <img
    class="card-first" 
    src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
</img>
<div class="card-second">
    <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
    <p class="card-tags">
        Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
    </p>
    <div class="card-stars">
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
        <i class="fa-solid fa-star" style="margin:0;"></i>
    </div>

    <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>

    <p class="card-price">
        R$10.50
    </p>
    <p style="margin:0; font-size:.5em">
        Criado em setembro de 2022
    </p>
</div>
</div> 

<div class="card-container" >
    <img
    class="card-first" 
    src="../assets/6871551_29406_-_Copia-removebg-preview-removebg-preview.png">
</img>
<div class="card-second">
    <h2 class="card-title" style="margin: 0;">Meu Produto top de mais</h2>
    <p class="card-tags">
        Fresco - Organico - Natural - ZeroAcucar - Sem Gordura
    </p>
    <div class="card-stars">
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
            <i class="fa-solid fa-star" style="margin:0;"></i>
        <i class="fa-solid fa-star" style="margin:0;"></i>
    </div>

    <p style="margin:0; font-size:.6em;"><i class="fa-solid fa-check" style="margin:0;"></i> organico</p>

    <p class="card-price">
        R$10.50
    </p>
    <p style="margin:0; font-size:.5em">
        Criado em setembro de 2022
    </p>
</div>
</div> 
               
        
            </div>
            </div>

            <div class="c10-right-arrow">

                <i class="fa-solid fa-greater-than" style="margin: 0"></i>
            </div>
        </div>
        
        <div class="c12">
            <h1 class="c12-main-title">Como Funciona</h1>
            <h2 class="c12-sub-title">Torne-se um usuario gratuitamente em apenas alguns Passos para voce que deseja publicar suas mercadorias. Com isso, voce terá acesso à novas funcionalidades dentro da Plataforma.</h2>

        <div class="c12-steps-container">
            <!-- <h1 style="
            position: absolute;
            inset: 0 0 0 0;
            margin: auto;
            z-index: 5;
            width: fit-content;
            height: fit-content;
            ">QUANDO QUALIDADE IMPORTA PRA VOCE E SEU CLIENTE</h1> -->
            <div class="c12-steps" id="c12-step-one">
               

                <div class="c12-step-first" style="background-color: #BB4685;">
                    <h1 class="c12-title-number" style="margin: 0; padding: 0; height: fit-content; padding-top: 0;">1</h1>
                    <i class="fa-regular fa-address-card"></i>
                </div>
                
                <div class="c12-step-second">
                    <h2 class="c12-second-title">Crie sua conta</h2>
                   <p class="c12-text">Crie sua Conta na GoGreen Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quae excepturi, dolore aliquam commodi libero!</p> 
                </div>
            </div> 

            <div class="c12-steps" >
               
                <div class="c12-step-first">
                    <h1 class="c12-title-number" style="margin:0;">2</h1>
                    <i class="fa-solid fa-gear"></i>
                </div>
                
                <div class="c12-step-second">
                    <h2 class="c12-second-title">Configure seu Perfil</h2>
                   <p class="c12-text">Atualize seu Perfil com suas informaçoes Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quae excepturi, dolore aliquam commodi libero!</p> 
                </div>
            </div>

            <div class="c12-steps">
               
                <div class="c12-step-first">
                    <h1 class="c12-title-number"  style="margin:0;">3</h1>
                    <i class="fa-solid fa-earth-americas"></i>
                </div>
                
                <div class="c12-step-second">
                    <h2 class="c12-second-title">Divulgue seus Produtos</h2>
                   <p class="c12-text">Publique suas mercadorias Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quae excepturi, dolore aliquam commodi libero!</p> 
                </div>
                
            </div>
            <div class="c12-steps">
                
                <div class="c12-step-first" style="background-color: #85BB46;">
                    <h1 class="c12-title-number"  style="margin:0;">4</h1>
                    <i class="fa-solid fa-comment-dots"></i>
                </div>
                
                <div class="c12-step-second">
                    <h2 class="c12-second-title">Contate Usuarios</h2>
                   <p class="c12-text">Converse com outros produtores e usuarios Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quam commodi libero!</p> 
                </div>
                
            </div>

        </div>
        <button class="c12-button">Quero Começar</button>
        </div>

        <div class="c11" style="margin-top: 300px;">
            <div class="c11-1">
                <h2 class="c11-title">CONECETE-SE COM A GENTE</h2>
                <p>Lorem ipsum doloipisicing elit. Sint ex ut molestias neque! Perspiciatis tenetur nulla explicabo placeat dolor nihil aperiam labore! Consequuntur debitis nulla ipsa perspiciatis illo!i!</p>
                <div class="socials-layed-down" style="display: flex; flex-direction: row; color:white;">
                    <div class="social-down" style="background: #4267B2;">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="social-down" style="background: #1DA1F2;">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="social-down" style="background: #0A66C2;">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <div class="social-down" style="background: #E60023;">
                        <i class="fa-brands fa-pinterest-p"></i>
                    </div>
                </div>
            </div>

            <div class="c11-2">
                <h2 class="c11-title">POSTS RECENTES</h2>
                <div style="display: flex; flex-direction: column; height: 190px; justify-content: space-between;">
                    <div style="display: flex;">
                        <img src="https://images.pexels.com/photos/3772492/pexels-photo-3772492.jpeg?auto=compress&cs=tinysrgb&w=600" width="90px" height="90px" alt="">
                        <p style="margin-left: 7px;">Meu Produto é Top demais!!</p>
                    </div>
                    <div style="display: flex;">
                        <img src="https://images.pexels.com/photos/257834/pexels-photo-257834.jpeg?auto=compress&cs=tinysrgb&w=600" width="90px"  height="90px" alt="">
                        <p style="margin-left: 7px;">Meu Produto B</p>
                    </div>
                </div>
                
            </div>
            <div class="c11-3">
                <h2 class="c11-title">TAGS</h2>
                <div class="c11-tags">
                    <p class="c11-tag">Comida</p>
                    <p class="c11-tag">Organico</p>
                    <p class="c11-tag">Gluten</p>
                    <p class="c11-tag">Mercado</p>
                    <p class="c11-tag">Saúde</p>
                    <p class="c11-tag">Compartilhar</p>
                    <p class="c11-tag">Natural</p>
                    <p class="c11-tag">Estilo de Vida</p>
                    <p class="c11-tag">Viver Bem</p>
                    <p class="c11-tag">Cultivo</p>
                    <p class="c11-tag">Plantar</p>
                    <p class="c11-tag">Saúdavel</p>
                    <p class="c11-tag">Transgenicos</p>
                </div>
                
            </div>
            <div class="c11-4">
                <h2 class="c11-title">NOSSO BLOG</h2>

                <p>Organismos geneticamente modificados (OGM): Voce está certo em saber Guia para comer Saúdavel. Por que cultivar Organicâmente? O que esta no nosso prato? Produtos livre de Glúten em harmonia com a natureza</p>

            </div>
        </div>
    



            <!-- <div class="c2" style="position: relative;">
            
                <div class="c2-circle">
      
                    <div class="c2-inside-circle"></div>
                </div>

                <div class="como-usar-cards-container">
                    
                    <div class="como-usar-card" onClick="window.location.href = '/registrar'">
                        <div class="card-number-container" >
                            <div class=card-number>1</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Crie sua conta na GoGreen
                                 </h1>
                            <p class="como-usar-card-text">Cadastre-se gratuitamente agora mesmo. Voce pode usar sua conta para ter acesso à novas funcionalidades na plataforma, como publicar produtos e enviar mensagens para usuários</p>
                        </div>
                    </div>

                  
                    <div class="como-usar-card" onClick="window.location.href = '/meuPerfil'">
                        <div class="card-number-container">
                            <div class=card-number style="border-right: 4px solid #85bb46;">2</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Configure seu Perfil
                                
                                
                            </h1>
                            <p class="como-usar-card-text">Adicione novos dados de cadastro em seu perfil para que outros usuários possam te contatar e conhecerem mais sobre voce e seus Produtos.</p>
                        </div>
                    </div>
                    
                    <div class="como-usar-card" onClick="window.location.href = '/estacaoDeCriacao'">
                        <div class="card-number-container">
                            <div class=card-number style="border-right: 4px solid #85bb46; border-bottom: 4px solid #85bb46;">3</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Divulgue seus Produtos
                            

                            </h1>
                     
                            <p class="como-usar-card-text">Publique seus produtos na plataforma, preencha os campos para que assim outros usuários possam conhecê-los, visualizar suas respectivas informaçoes e .</p>
                        </div>
                </div>
                    <div class="como-usar-card" onClick="window.location.href = '/globalChat'">
                        <div class="card-number-container">
                            <div class=card-number style="border-right: 4px solid #85bb46; border-bottom: 4px solid #85bb46; border-left: 4px solid #85bb46;">4</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Contate Usuários
                               
                            </h1>
                     
                            <p class="como-usar-card-text">Envie propostas ou ofertas enviando mensangens para outros usuários através de seus perfis ou através do chat global dísponivel para todos os usuários da plataforma.</p>
                        </div>
                </div>
        </div>
        </div> -->



        <!-- <div class="c1_1" style="text-align: right;">

            
            <h1 class="oque-sao-organicos-title">O que são Produtos Orgânicos?</h1>
            

            <p style="margin: 0; font-size:1em; width: 100%;" class="oque-sao-organicos-text">
                Produtos Orgânicos são aqueles obtidos dentro de um sistema orgânico
                de produção agropecuária ou sustentável que beneficie o ecossistema local, proteja os recursos
                naturais, respeite as características socioeconômicas
                e culturais da comunidade local, preserve os direitos
                dos trabalhadores envolvidos e não utilize organismos
                geneticamente modificados nem químicos sintéticos.</p>
                
                <div class="c1_2">
                    <div class="produtos-organicos-rounded-pic" style="
                        right: 0; left: 0; margin: auto; z-index: 1;
                        "></div>
                     <div class="produtos-organicos-rounded-pic" style="
                     right: 0; left: 325px; margin: auto; z-index: 2;
                     "></div>
                    <div class="produtos-organicos-rounded-pic" style="
                    right: 285px; left: 0; margin: auto; z-index: 0;
                    "></div>
                </div>
                

        </div>
         -->
        
    
        <!-- <div class="c2">
            <div class="dicas-li-saudaveis-container">
                <h2>Dicas Saudáveis</h2>

                <p class="dicas-text" style="margin-top: 12px;">
                     Se alimente de forma saudavel a cada 3 horas
                </p>
                <p class="dicas-text">
                    Pratique exercicios físicos diariamente
                </p>
                <p class="dicas-text">
                     Beba no minimo dois litros de água por dia
                    </p>
                <p class="dicas-text">
                    Não vire a noite jogando Elden Ring 
                </p>           
                <p class="dicas-text">
                     Reduza os níveis de açúcar</p>        
                <p class="dicas-text">
                     Evite consumir produtos industrializados</p>                
            </div>
        </div> -->

      
     
        <div class="c3">

                 <!-- <h2 style="
                    position: absolute; top: 25px;
                ">Produtos em Destaque</h2> -->

                    
                         
                        
        </div> 
        <!-- <div class="c4">
            <div class="propaganda-text-controller">

                <p  id="side-banner-txt-1">COMEÇAR</p>
                <p  id="side-banner-txt-2">AGORA</p>
                
                <p>REGISTRAR</p>
                
                <p id="side-banner-txt-3">DE FORMA</p>
                <p>GRATUITA</p>
            </div>
            <button class="ir-btn">Registrar</button>

   
        
        </div> -->
        
 
        
    </div>


    <%- include("../globals/footer.ejs") %>



        

            
    </body>
            
</html>

           
    