@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


*{
    padding: 0;
    margin: 0;
}

#icon-medal{
    font-size: 3.2em;
    position: absolute;
    top: -3px;
    right: 10px;
    color: rgb(11,156,89);
}

.card-slider{
    grid-area: cardslides;
    position: relative;
    margin-top: 75px;
    height: 450px;
    background-color: #07431B;
}

.backward-btn{
    left: -20px;
    z-index: 2;

}
.foward-btn{
    right: -20px;
    z-index: 2;
}
.foward-btn, .backward-btn{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 75px;
    width: 50px;
    height: 50px;
    background-color: rgb(245, 245, 245);
    color: rgb(215, 215, 215);
    
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    border: 1px solid rgb(215,215,215);
    font-weight: 900;
}

.cards-slide-main-container{
    height: 450px;
    width: 800px;

    display: flex;
    align-items: center;
    justify-content: start;
    margin: auto;
}

.cards-slide-inside-container{
    width: 600px;
    height: 450px;

    position: relative;
    /* display: inline-block; */
    overflow: hidden;
}

.cards-slide-grid-container{
    display: flex;
    justify-content: start;

    position: absolute;
    /* width: fit-content; */
    width: 2000px;
    height: 100%;
    top: 0;
    /* left: 0; */
    bottom: 0;
    /* margin: auto; */
    transition: 0.3s ease-in-out;
}

.cards-slide-main-container{
    width: fit-content;
}
.cards-slide-grid-container{
    width: fit-content;
}

.cards-slide-block{
    height: 100%;
    padding: 0 5px 0 5px;
    background-color: rgba(255,255,255,0);
}
/* ends here */

.banner-container{
    height: fit-content;
    max-width: 1400px;
    width: 100vw;
    margin: auto;
    /* background-color: rgb(205, 49, 49); */
    /* border-left: 40px solid rgba(0, 0, 0, 0); */
   overflow: hidden;
   position: relative;
   max-height: 700px;
   background-color: #49681c;
   display: flex;
}



.banner{
   
    height: 85vh;
    /* /* background-image: url('https://images.pexels.com/photos/691166/pexels-photo-691166.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    /* background-image: url('https://images.pexels.com/photos/699422/pexels-photo-699422.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    background-image: url('https://images.pexels.com/photos/70862/pexels-photo-70862.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-image: url('https://images.pexels.com/photos/35196/water-plant-green-fine-layers.jpg?auto=compress&cs=tinysrgb&w=600');
    /* background-image: url('https://images.pexels.com/photos/122588/pexels-photo-122588.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    /* background-image: url('https://media.istockphoto.com/id/1254474165/pt/foto/tropical-leaves-abstract-green-leaves-texture-nature-background.jpg?b=1&s=612x612&w=0&k=20&c=Pq2SYy4j5vOQFlftMYxPFPeAxyfsw_D2Yfz-PIjq8Qc='); */
    /* background-image: url('https://images.pexels.com/photos/10601784/pexels-photo-10601784.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'); */
    /* background-image: url('../assets/bg2.webp'); */
    /* background-image: url('https://images.unsplash.com/photo-1650343403040-f312b05c4995?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fG9yZ2FuaWN8ZW58MHwwfDB8Z3JlZW58&auto=format&fit=crop&w=500&q=60'); */
    /* background-image: url('../assets/jude-infantini-mI-QcAP95Ok-unsplash.jpg'); */
    background-color: rgb(40, 67, 33);
    background-attachment: fixed;
    filter: blur(9px) contrast(0.7);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    transition: 3s;
    min-width: 100vw;
    background-position: center;

    /* background-color: orange; */
}
.dots-container{
    position: absolute;
    width: fit-content;
    height: 10px;
    margin: auto;
    opacity: 100%;
    inset: auto 0 -80px 0;
    display: flex;
    justify-content: space-evenly;
}

.dots{
    height: 8px;
    width: 8px;
    margin: 0 4px 0 4px;
    background-color: white;
    border-radius: 50%;
}

.banner-title-container{
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
    z-index: 5;
    width: fit-content;
    height: fit-content;
    /* background-color: red; */
    width: 750px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.banner-title{
    font-size: 2.1em;
    /* color: white; */
    color: white;
    text-align: justify;
    margin: 0;
    padding: 3px 25px 3px 25px;
    font-weight: 500;

}
.input-and-btn-container{
    width: 95%;
    display: flex;
    height: fit-content;
    margin-top: 35px;
}
.main-input, .search-btn{
    height: 43px;
    border: none;
}

.main-input{
    width: 90%;
    padding-left: 15px;
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(120, 129, 115);
}
.main-input::placeholder{
    color: rgb(192, 192, 192);
}
.search-btn{
    width: 10%;
    color: rgb(192, 192, 192);
    font-size: 1.2em;
}

.text-and-btn-container{
    display: flex;
    position: absolute;
    z-index: 5;
    right: 195px;
    height: fit-content;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* background-color: red; */

}


.banner-text-container{
    /* background-color: rgba(255, 255, 255, 0.782); */
    color: white;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    /* background-color: rgba(255, 254, 254, 0.018); */
    width: 300px;
    height: fit-content;
    font-weight: 600;
    margin: auto;
    font-size: .9em;
    text-align: center;
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr .5fr;
    grid-template-areas: 
    "c1 c1 c1 c1 c1 c1"
    "c0 c0 c0 c0 c0 c0"
    "c9 c9 c9 c9 c9 c9"
    "c10 c10 c10 c10 c10 c10"
    "cardslides cardslides cardslides cardslides cardslides cardslides"
    /* "c12 c12 c12 c12 c12 c12" */
    /* "c11 c11 c11 c11 c11 c11" */
    "c3 c3 c3 c3 c3 c3";
    grid-template-rows: auto auto auto auto 400px auto;
    column-gap: 5px;
    /* row-gap: 25px; */
    padding-top: 10px;
    margin: auto;
    /* background-color: red; */
    width: 95vw;
    margin-top: 0;
    z-index: 0;
    margin-bottom: 100px;
    /* background-color: whitesmoke; */
    max-width: 2000px;
}




.c10{
    grid-area: c10;
    background-color: #85bb46;
    position: relative;
    padding: 15px 40px 15px 40px;
    padding: 15px 0 15px 0;
}
.c10-left-arrow, .c10-right-arrow{
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: rgb(245, 245, 245);
    color: rgb(98, 98, 98);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    border: 1px solid gray;
    font-weight: 800;
}
.c10-left-arrow{
    left: -30px;
    z-index: 2;

}
.c10-right-arrow{
    right: -30px;
    z-index: 2;
}
.c10-main{
    width: 100%;
    /* background-color: rgb(26, 129, 129); */
    height: fit-content;
    overflow: hidden;
    position: relative;
    height: 500px;
    background-color: red;
}
/* quadrados
face
twitter 
linkedin
pint
colorido */
/* it exists because with overflow hidden the arrows would stay invisible xD :) */
.c10-main-inside{
    width: fit-content;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0; 
    bottom: 0; 
    margin: auto; 
    left: 0;
    height: fit-content;
    transition: 0.4s ease-in-out;
    background-color: blueviolet;
}

.c9{
    grid-area: c9;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
}
.c9_1, .c9_2{
    box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.1);
}
.c9_1:hover, .c9_2:hover{
    cursor: pointer;
    background-color: rgb(245,245,245);
}
.c9_1{
    height: fit-content;
    width: 48%;
   
    /* background-color: #74a82b; */
    /* background-color: #8005FB; */
    display: flex;
    background-image: url('../assets/gota.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: 400px;
    
    
}
.c9_2{
   
    width: 48%;
    
    height: 400px;
    display: flex;
    background-image: url('../assets/9-2-chocolate-png.png');
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
   
   
    /* padding: 15px 25px 15px 25px; */
}
.c9-pic{
    padding: 15px 25px 15px 25px;
    width: 45%;
}

.c9-pic-1{
   

    width:  45%;
    /* background-image: url('https://images.pexels.com/photos/39015/wheat-field-wheat-cereals-grain-39015.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    background-image: url('../assets/tomatoes.png');
    background-size: contain cover;
    background-attachment: local;
    background-position: top center;
    background-repeat: no-repeat;
}

.c9-pic-2{

    width:  45%;
    /* background-image: url('https://images.pexels.com/photos/39015/wheat-field-wheat-cereals-grain-39015.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    background-image: url('../assets/chocolate.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.c9-texts{
    padding: 15px 25px 15px 25px;
    width: 55%;
}
.c9-titles-first, .c9-titles-second{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.4em;
    font-weight: 600;
    color: rgb(162, 162, 162);
    margin: 0;
    color: var(--main-green);
}
.c9-titles-second{
    color: var(--main-green);
}

.c9-text{
    font-weight: 500;
    color: rgb(182, 186, 189);
    font-size: 1.1em;
}
.c9-btn{
    border: none;
    font-size: .9em;
    font-weight: 600;
    padding: 10px 13px 10px 13px;
    border-radius: 50px;
    background: linear-gradient(to bottom right, rgb(133,188,5), rgb(137,180,6));
    color: white;
}
.c9-btn:hover{
    cursor: default;
    opacity: 95%;
}


.c0, .c1, .c2, .c3, .c4, .c5, .c9, .c10, .c11, .c12{
    /* background-color: rgb(249, 249, 249); */
    /* border: 1px solid black; */
    /* background-color: rgb(126, 36,222); */
    margin-top: 50px;
}
.c0{
    /* background-color: blue; */
    margin-top: 85px;
    grid-area: c0;
    display: flex;
    justify-content: space-between;
   
    /* background-color: red; */
}
.website-card{
    height: fit-content;
    background-color: white;
    /* border: 1px solid rgb(220,220,220); */
    width: 230px;
    
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 15px 6px rgba(1, 65, 20, 0.081);
    
}
.website-card-first-part, .website-card-second-part{
    width: 100%;
    /* height: 50%; */
}
.website-card-first-part{
    /* background-color: blue; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.website-card-circle{
    background-color: var(--main-green);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    color: white;
    
}
.website-card-second-part{
   
    padding: 15px;
    margin-top: 8px;
    box-sizing: border-box;
    font-size: .8em;
    text-align: center;
}

.c1{
    grid-area: c1;
    margin: 75px 0 75px 0;
}

.c1, .c1_1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 0 150px 0 150px;
    background-color: white;
    /* background-color: black; */
}

.c1_2{
    width: 100%;
    height: fit-content; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 120px 0 120px;
    position: relative;
    height: 200px;
    background-image: url('https://images.pexels.com/photos/3669640/pexels-photo-3669640.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    backdrop-filter: blur(5px);
    opacity: 60%;
    width: 100vw;
    max-width: 2000px;
    /* min-width: 100vw; */
}

.produtos-organicos-rounded-pic{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-image: url('https://images.pexels.com/photos/128402/pexels-photo-128402.jpeg?auto=compress&cs=tinysrgb&w=600');  */
}

.c1_1{
    grid-area: c1_1;
    margin-top: 100px;
    padding: 0;
}
.oque-sao-organicos-title{
    text-align: right;
                padding: 5px 0 5px 0;
                margin: 0;
}

.oque-sao-organicos-text{
    text-align: center;
    width: 50%;
    padding: 25px 150px 35px 150px;
 
}


.dicas-li-saudaveis-container{
    /* background-color: green; */
    text-align: end;
}
.dicas-text{
    /* background-color: red; */
    font-size: .9em;
    text-align: end;
    /* background-color: red; */
    width: 100%;
    /* background-color: red; */
    margin-left: 50px;
    margin: 0;
    margin-top: 4px;
}

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
#produto-natural{

    /* font-family: 'Rubik Distressed', cursive; */
    font-family: 'Allura', cursive;

    text-align: center;
    font-size: 1em;
}

.c2{
    grid-area: c2;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    grid-area: c2;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.68);
    padding-left: 0;
    padding-right: 0;
    border-radius: 65px;
    overflow: hidden;
    
}
.c2-circle{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10em;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
    overflow: hidden;
    /* background-image: url('https://images.pexels.com/photos/96715/pexels-photo-96715.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-image: url('https://images.pexels.com/photos/461428/pexels-photo-461428.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-image: url('https://images.pexels.com/photos/698489/pexels-photo-698489.jpeg?auto=compress&cs=tinysrgb&w=600');*/
    background-image: url('https://images.pexels.com/photos/606540/pexels-photo-606540.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-image: url('https://images.pexels.com/photos/736842/pexels-photo-736842.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center center;
    background-size: cover;
    border-radius: 60px;
    /* background-color: red; */
}
/* .c2-inside-circle{
    background-color: rgb(155, 213, 37);
    width: 245px;
    height: 245px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -65px;
    margin: auto;
} */

.como-usar-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    padding: 5px 20px 5px 20px;
    width: 60%;
    height: 100%;
    background-color: white;
    /* background-color: red; */
}
.como-usar-card{
    /* background-color: gray; */
   
    /* background-color: whitesmoke; */
    display: flex;
    padding: 5px 9px 5px 9px;
    margin: 5px 0 5px 0;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    /* background-color: #85bb46; */
    /* background-color: white; */
}
.como-usar-card:hover{
    opacity: 85%;
    filter: brightness(110%);
}
.card-number-container{
    /* background-color: teal; */
    height: 100%;
    width: fit-content;
    margin-right: 25px;
    padding: 0;
}
.card-number{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.1em;
    line-height: 30px;
    border: 4px solid rgb(255, 255, 255);
    border-top: 4px solid rgb(126, 176, 28);
    color: rgb(126, 176, 28);
    
    font-weight: 600;
}


.como-usar-card-title{
    text-align: start;
    font-size: 1.7em;
    /* background-color: #415a77; */
    color: rgb(126, 176, 28);
    margin: 0;
    font-weight: 600;
}

.como-usar-card-text{
    color: rgb(87, 85, 84);
    font-weight: 500;
    padding-top: 10px;
    text-align: start;
    /* background-color: #4176b3; */
    font-size: 1em;
    margin: 0;

}


.c3{
    grid-area: c3;
    margin-top: 200px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 35px;
    gap: 30px;
}
.c3-card{
    /* background-color: rgb(243,243,243); */
    padding: 15px;
    box-shadow: 3px 3px 8px -3px rgba(0, 0, 0, 0.085);
}
.c3-card:hover{
    cursor: pointer;
    background-color: rgb(243,243,243);
}
.c3-icon{
    font-size: 3em;
    font-weight: lighter;
    color: rgb(142, 143, 143);
}
.c3-card-title{
    font-size: 1em;
    color: rgb(11,156,89);
    margin: 0;
    font-weight: 700;
}
.c3-card-title:hover{
    cursor: pointer;
    opacity: 65%;
}
.c3-card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(142, 143, 143);
    margin-top: 15px;
    font-size: 1.05em;
    font-weight: 500;
}

.healthy-main-title{
    color: rgb(11,156,89);
    font-weight: 700;
    margin: 0;
    font-size: 4.2em;
}
.healthy-second-title{
    margin: 0;
    font-size: 3.2em;
    font-weight: 100;
    color: black;
}
.healthy-tips-inside{
    width: 820px;
    height: 100%;
    display: flex;
    position: relative;
}
.healthy-tips{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.healthy-tips-bar{
    margin: 6px 0 6px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 8px;
    height: 45px;
    width: 100%;
    background-color: green;
}

.card-container{
    position: relative;
    background-color: white;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.101);
    /* border: 1px solid rgb(235,235,235); */
    min-height: 350px;
    height: fit-content;
    /* margin: 0 15px 0 15px; */
    width: 100%;
}

.card-container:hover{
    opacity: 95%;
    cursor: pointer;
}
.card-first{
    pointer-events: none;
    width: 100%;
    height: 300px;
    filter: brightness(65%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease-in-out;
    border: none;
}
.card-first:hover{
    filter: none;
}
.card-second{
    pointer-events: none;
    width: 100%;
    min-height: 20%;
    height: fit-content;
    
    box-sizing: border-box;
    
    padding: 8px 8px 8px 8px;
    color: #5B5B5B;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.card-title{
    text-align: start;
    color: rgb(56, 56, 56);
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.1em;
    width: 100%;
    pointer-events: none;
    margin-bottom: 0;
}
.card-tags{
    display: flex;
    font-size: .6em;
    word-break: keep-all;
    margin: 0;
    margin: 5px 0 0 0;
}
.card-stars{
    display: flex;
    justify-content: start;
    width: fit-content;
    margin: 5px 0 0 0;
    color: var(--main-green);
}
.fa-star{
    margin: 0;
    font-size: .7em;
    padding: 0;
    color: var(--main-green);;
}
.card-price{
    text-align: start;
    color: var(--main-green);
    font-size: 1.1em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}
.card-created-at{
    margin:0; 
    font-size:.5em;
}


.c4{
    grid-area: c4;
    background-image: url('https://images.pexels.com/photos/87841/ivy-plants-leaves-wall-87841.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-image: url('https://images.pexels.com/photos/7420889/pexels-photo-7420889.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(85%);
    color: white;
    text-align: center;
    
    /* background-color: black; */
    
    /* background-color: rgb(104, 180, 50); */

}

.ir-btn{
    border: none;
    background-color: rgba(255, 255, 255, 0.896);
    padding: 7px 15px 7px 15px;
    width: 75%;
    border-radius: 5px;
    font-size: 2em;
    font-weight: 600;
    margin-top: 65px;
    color: rgba(162, 157, 61, 0.852);
}


.propaganda-text-controller{
    /* background-color: red; */
    font-weight: 700;
    font-size: 2.4em;
}

#side-banner-txt-1{
    margin-top: 25px;
}

#side-banner-txt-2{
    margin-top: 10px; margin-bottom: 85px;
}
#side-banner-txt-3{
    margin-top: 25px; margin-bottom: 25px;
}




/* 
.fa-solid{
    margin-right: 15px;
} */


::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(221, 221, 221);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(220, 220, 220);
}

.footer{
    height: 250px;
    background-color: rgb(230, 230, 230);
    width: 100vw;
    max-width: 2000px;
    min-width: 290px;
}










svg {
    fill: currentColor;
    height: auto;
    max-width: 80vmin;
    transform-origin: center;
    width: 66%;
    position: absolute;
    z-index: 5;
    color: white;
  }




  .cards-slide-inside-container{
    width: 1110px;
}
.cards-slide-block{
    width: 277.5px;
}











@media (max-width: 1210px){
    .cards-slide-inside-container{
        width: 930px;
    }
    .cards-slide-block{
        width: 232.5px;
    }

    .c3{
        grid-area: c3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        justify-content: left;
        padding: 0  7px 20px 7px;
        position: relative;
        padding-top: 125px;
    }
}



@media (max-width: 1100px){
    .cards-slide-inside-container{
        width: 920px;
    }
    .cards-slide-block{
        width: 230px;
    }
}



@media (max-width: 1000px){
    .cards-slide-inside-container{
        width: 840px;
    }
    .cards-slide-block{
        width: 210px;
    }
    

    .propaganda-text-controller{
        /* background-color: red; */
        font-size: 1.8em;
        /* color: blue; */
    }

    .container{

        max-width: 100vw;
        min-width: unset;
        width: 100vw;
        min-width: 95vw;
    }

  
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr .5fr;
        grid-template-areas: 
        "c9 c9 c9 c9 c9 c9"
        "c10 c10 c10 c10 c10 c10"
        "cardslides cardslides cardslides cardslides cardslides cardslides"
        "c1 c1 c1 c1 c1 c1"
        "c0 c0 c0 c0 c0 c0"
        "c12 c12 c12 c12 c12 c12"
        "c11 c11 c11 c11 c11 c11"
        "c3 c3 c3 c3 c3 c3";
        grid-template-rows: auto auto auto auto 400px 450px auto 600px;
        column-gap: 5px;
        /* row-gap: 25px; */
        padding-top: 10px;
        margin: auto;
        /* background-color: red; */
        width: 95vw;
        margin-top: 0;
        z-index: 0;
        margin-bottom: 100px;
        max-width: 2000px;
        justify-content: center;
    }
    .c0{
 
        max-width: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 0 0;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        /* width: fit; */
        margin: auto;
        justify-content: center;
        min-width: fit-content;
        width: fit-content;
        justify-content: space-around;
    }
    .website-card{
        margin: 0;
        width: 98%;
    }

    #fourth-card{
        width: 300%;
     
    }
    
    .c3{
      
        grid-area: c3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        justify-content: left;
        padding: 0  7px 20px 7px;
        position: relative;
        padding-top: 125px;
    }

    .c9{
      
    }
    .c9_1{
     
        
    }
    .c9_2{
    
    }
    .c9-pic{
        padding: 15px 18px 15px 18px;
        width: 45%;
    }
    
    .c9-pic-1{
        width:  45%;
    }
    
    .c9-pic-2{
        width:  45%;
    }
    .c9-texts{
        background-color: blue;
        padding: 15px 15px 15px 15px;
    }
    .c9-titles{
        font-size: 2.2em;
    }
   
}
@media (max-width: 950px){
  
    .cards-slide-inside-container{
        width: 840px;
    }
    .cards-slide-block{
        width: 210px;
    }

}


@media (max-width: 900px){
  
    .cards-slide-inside-container{
        width: 810px;
    }
    .cards-slide-block{
        width: 270px;
    }

}


@media (max-width: 885px){
  
        .cards-slide-inside-container{
            width: 720px;
        }
        .cards-slide-block{
            width: 240px;
        }
    

    .banner-title-container{
        width: 500px;
    }

    .propaganda-text-controller{
        /* background-color: rgba(255, 255, 0, 0.402); */
        font-size: 2.4em;
        width: 35%;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #side-banner-txt-1{
        width: fit-content;
        margin-top: 5px;
        
    }
    
    #side-banner-txt-2{
        width: fit-content;
        margin-top: 5px; margin-bottom: 15px;
    }
    #side-banner-txt-3{
        width: fit-content;
        margin-top: 8px; margin-bottom: 8px;
    }

    .ir-btn{
        border: none;
        background-color: rgba(255, 255, 255, 0.896);
        padding: 3px 55px 5px 55px;
        border-radius: 10px;
        font-weight: 600;
        /* position: absolute; */
      
        bottom: 50px;
        margin: auto;
        font-size: 1.9em;

        margin-bottom: 160px;
        /* color: #026800; */
        width: 50%;
        max-width: 270px;
    }
    
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr .5fr;
        grid-template-areas: 
        "c9 c9 c9 c9 c9 c9"
        "c10 c10 c10 c10 c10 c10"
        "cardslides cardslides cardslides cardslides cardslides cardslides"
        "c1 c1 c1 c1 c1 c1"
        "c0 c0 c0 c0 c0 c0"
        "c12 c12 c12 c12 c12 c12"
        "c11 c11 c11 c11 c11 c11"
        "c3 c3 c3 c3 c3 c3";
        grid-template-rows: auto auto auto auto 400px 450px auto 600px;
        column-gap: 0;
        /* row-gap: 25px; */
        padding-top: 10px;
        margin: auto;
        /* background-color: red; */
        width: 100vw;
        margin-top: 0;
        margin-bottom: 100px;
        max-width: unset;
        width: 95vw;
        justify-content: center;
        min-width: 95vw;

    }

    .c0{
        max-width: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 0 0;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        /* width: fit; */
        margin: auto;
        justify-content: center;
        min-width: fit-content;
        width: fit-content;
        justify-content: space-around;
    }
    .website-card{
        margin: 0;
        width: 98%;
    }

    #fourth-card{
        width: 300%;
    }
    
    
    .c1{
        width: 100%;
        max-width: unset;
        padding: 0;
        margin: 0;
        /* margin: auto; */
    }

    .c2{
        padding: 0;
    }

 
    
    
    
   
    .c3{
        grid-area: c3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        justify-content: left;
        padding: 0  7px 20px 7px;
        position: relative;
        padding-top: 125px;
        width: 95vw;
        margin: auto;
        min-width: 290px;
        /* background-color: rgb(245,245,245); */
    }
    
    /* .card-container{
        margin: auto;
        position: relative;
        margin-bottom: 10px;
        width: 350px;
        height: 450px;
        max-width: 260px;
        background-color: white;
    } */
}


@media (max-width: 850px){
    .c9{
        grid-area: c9;
        display: flex;
        height: fit-content;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .c9_1{
        height: fit-content;
        width: 70%;
        margin: auto;
        background-color: #134c78;
        background-color: #07431B;
        background-color: rgb(123, 21, 21);
        /* background-color: #74a82b; */
        /* background-color: #8005FB; */
        display: flex;
        
        /* flex-direction: column; */
        background-image: url('../assets/gota.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        height: 400px;

        margin-bottom: 12px;
        
    }
    .c9_2{
        background-color: #F1F5F8;
        background-color: #7c46bb;
        background-color: #1F516C;
        width: 70%;
        margin: auto;
        
        height: 400px;
        display: flex;
        background-image: url('../assets/9-2-chocolate-png.png');
        
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
       
       
        /* padding: 15px 25px 15px 25px; */
    }
    .c9-pic{
        padding: 15px 18px 15px 18px;
        width: 45%;
    }
    
    .c9-pic-1{
    
        width:  45%;
        /* background-image: url('https://images.pexels.com/photos/39015/wheat-field-wheat-cereals-grain-39015.jpeg?auto=compress&cs=tinysrgb&w=600'); */
        background-image: url('../assets/tomatoes.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .c9-pic-2{
    
        width:  45%;
        /* background-image: url('https://images.pexels.com/photos/39015/wheat-field-wheat-cereals-grain-39015.jpeg?auto=compress&cs=tinysrgb&w=600'); */
        background-image: url('../assets/chocolate.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
    .c9-texts{
        padding: 15px 15px 15px 15px;
        width: 55%;
        background-color: blue;
    }
    .c9-titles{
        color: rgb(115 105 96);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 2.2em;
        font-weight: 600;
    }
    .c9-text{
        font-weight: 500;
        color: rgb(182, 186, 189);
        font-size: 1.1em;
    }
}


@media (max-width: 750px) {
    .cards-slide-inside-container{
        width: 620px;
    }
    .cards-slide-block{
        width: 310px;
    }
}

@media (max-width: 730px){
    .c9_1{
        width: 90%;
        margin: auto;
        margin-bottom: 12px;
    }
    .c9_2{

        width: 90%;
        margin: auto;
    }

    .c2{
        grid-area: c2;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        background-color: white;
        box-shadow: 3px 3px 10px -3px rgb(0, 0, 0);
        padding: 0 0 25px 0;
    }

    .c1{
        padding: 35px 0 35px 0;
    }
    .c2-circle{
        width: 100%;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10em;
        position: relative;
        background-color: rgb(255, 255, 255);
        color: rgb(68, 68, 68);
        overflow: hidden;
        background-image: url('https://images.pexels.com/photos/96715/pexels-photo-96715.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-image: url('https://images.pexels.com/photos/461428/pexels-photo-461428.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-image: url('https://images.pexels.com/photos/698489/pexels-photo-698489.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-position: center center;
        background-size: cover;
    }

    .como-usar-cards-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
        padding: 10px 40px 10px 40px;
        width: 90%;
        height: 100%;
    }
    .como-usar-card{
        /* background-color: gray; */
        /* background-color: whitesmoke; */
        display: flex;
        padding: 8px;
        margin: 5px 0 5px 0;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        /* background-color: white; */
    }
}


















@media (max-width: 645px) {
    .cards-slide-inside-container{
        width: 470px;
    }
    .cards-slide-block{
        width: 235px;
    }

}















@media (max-width: 580px){

  .banner-title-container{
            width: 420px;
        }
        
        .propaganda-text-controller{
            visibility: hidden;
            position: absolute;
        }
    
        .ir-btn{
            padding: 4px 10px 4px 10px;
            border-radius: 5px;
            position: absolute;
            right: 0;
            bottom: 45px;
            left: 0;
            margin: auto;
            width: 65%;
        }


    
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr .5fr;
            grid-template-areas: 
            "c9 c9 c9 c9 c9 c9"
            "c10 c10 c10 c10 c10 c10"
            "cardslides cardslides cardslides cardslides cardslides cardslides"
            "c1 c1 c1 c1 c1 c1"
            "c0 c0 c0 c0 c0 c0"
            "c12 c12 c12 c12 c12 c12"
            "c11 c11 c11 c11 c11 c11"
            "c3 c3 c3 c3 c3 c3";
            grid-template-rows: auto auto auto auto 400px 450px auto 600px;
            column-gap: 0;
            /* row-gap: 25px; */
            padding-top: 10px;
            margin: auto;
            /* background-color: red; */
            width: 100vw;
            max-width: 100vw;
            margin-top: 0;
            z-index: inherit;
            margin-bottom: 100px;
 
            min-width: 290px;
            min-width: 100vw;
            overflow-x: hidden;

        }
    
        .c0{
         
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-direction: column;
            align-items: center;
            /* margin: auto; */
            min-width: 100%;
            min-width: fit-content;
            max-width: unset;
            width: fit-content;
            place-items: center;
        }

        .website-card{
            height: fit-content;
        
            /* border: 1px solid rgb(220,220,220); */
            width: 98%;
            /* min-width: 290px; */
            height: 325px;
            display: flex;
            flex-direction: column;
            box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.154);
            
        }

        #fourth-card{
            width: 98%;

        }
        

       
    
       
        .c3{
            grid-area: c3;
            display: grid;
     
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-content: left;
            padding: 0  7px 20px 7px;
            position: relative;
            padding-top: 125px;
            width: 95vw;
            margin: auto;
            min-width: 290px;
            /* background-color: rgb(245,245,245); */
        }

        .c1_1{
            padding: 10px 0 10px 0;
        }
    
        .oque-sao-organicos-title{
            width: 100%;

            font-size: 1.2em;
            text-align: center;
        }
    
        .oque-sao-organicos-text{
            padding: 10px 10px 10px 10px;
            
        }
    
        .c0, .c1, .c2, .c3{
            min-width: 290px;
        }
        
    
      
}



















































@media (max-width: 480px) {
    body{
        background-color: rgb(65, 21, 21);
    }
    .cards-slide-inside-container{
        width: 380px;
    }
    .cards-slide-block{
        width: 190px;
    }

}








@media (max-width: 440px){
    .banner-container{
        min-width: 290px;
    }

    body{
        overflow-x: hidden;
    }

    .banner{
        /* max-width: 1300px; */
        /* position: absolute; */
        height: 115vh;
        max-height: 700px;
        /* /* background-image: url('https://images.pexels.com/photos/691166/pexels-photo-691166.jpeg?auto=compress&cs=tinysrgb&w=600'); */
        /* background-image: url('https://images.pexels.com/photos/699422/pexels-photo-699422.jpeg?auto=compress&cs=tinysrgb&w=600'); */
        background-image: url('https://images.pexels.com/photos/70862/pexels-photo-70862.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-image: url('https://images.pexels.com/photos/35196/water-plant-green-fine-layers.jpg?auto=compress&cs=tinysrgb&w=600');
   
        background-attachment: fixed;
        filter: blur(12px) contrast(0.7);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        background-position: center;

        /* background-color: orange; */
        min-width: 290px;
    }

    .banner-title-container{
        position: absolute;
        inset: 0 0 0 0;
        margin: auto;
        z-index: 5;
        width: fit-content;
        height: fit-content;
        /* background-color: red; */
        width: 98%;
        min-width: 290px;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
   
        align-items: center;
        min-width: 290px;

        /* background-color: blue; */
    }
    .banner-title{
        font-size: 2em;
        /* color: white; */
        color: white;
        text-align: start;
        margin: 0;
        padding: 45px 25px 3px 25px;
        font-weight: 500;
        /* background-color: green; */
      
    }
   
    /* "c0 c0 c0 c0 c0 c0"
    "c1 c1 c1 c1 c1 c1"
    "c1_2 c1_2 c1_2 c1_2 c1_2 c1_2"
    "c1_1 c1_1 c1_1 c1_1 c1_1 c1_1"
    "c2 c2 c2 c2 c2 c2"
    "c3 c3 c3 c3 c3 c3"; */
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr .5fr;
        grid-template-areas: 
        "c9 c9 c9 c9 c9 c9"
        "c10 c10 c10 c10 c10 c10"
        "cardslides cardslides cardslides cardslides cardslides cardslides"
        "c1 c1 c1 c1 c1 c1"
        "c0 c0 c0 c0 c0 c0"
        "c12 c12 c12 c12 c12 c12"
        "c11 c11 c11 c11 c11 c11"
        "c3 c3 c3 c3 c3 c3";
        grid-template-rows: auto auto auto auto 400px 450px auto 600px;
        column-gap: 5px;
        /* row-gap: 25px; */
        padding-top: 10px;
        margin: auto;
        /* background-color: red; */
        width: 95vw;
        margin-top: 0;
        z-index: 0;
        margin-bottom: 100px;
        min-width: 290px;
        overflow-x: hidden;
    }

    .c1_1{
        padding: 10px 0 10px 0;
    }

    .oque-sao-organicos-title{
        width: 100%;
 
        font-size: 1.2em;
        text-align: center;
    }

    .oque-sao-organicos-text{
        padding: 10px 10px 10px 10px;
        
    }

    .c0, .c1, .c2, .c3{
        min-width: 290px;
    }

    
    .c0{
        flex-direction: column;
        margin: auto;
        min-width: 290px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }


    .c2{

        flex-direction: column;
    }

    /* .c2-circle{
        background-color: yellowgreen;
        height: 40%;
        width: 95%;
        min-width: 290px;
        
    } */
    
   
   
    .como-usar-cards-container{
        padding: 0;
    }
    .como-usar-card{
    }
    
    .card-number-container{
        margin-right: 10px;
    }
    .card-number{
        height: 34px;
        width: 34px;
        line-height: 24px;
    }

    .c9_1{
        width: 100%;
        margin: auto;
        margin-bottom: 12px;
        min-width: 290px;
        height: fit-content;
    }
    .c9_2{
        min-width: 290px;
        width: 100%;
        margin: auto;
        height: fit-content;
    }
    .c9-titles{
        font-size: 1.9em;
        word-break: break-all;
    }

 
 
}



@media (max-width: 380px) {
    body{
        background-color: brown;
    }
    .cards-slide-inside-container{
        width: 290px;
        min-width: 290px;
    }

    .cards-slide-block{
        min-width: 290px;
        width: 290px;
    }
}
