<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- PAGE -->
    <link rel="stylesheet" href="./home.css">
    <script src="./home.js" defer></script>

     <!-- GLOBALS -->
     <script src="../globals/auth.js" defer></script>
     <script src="../globals/sidebar.js" defer></script>
     <link rel="stylesheet" href="../globals/header.css" type="text/css">
     <link rel="stylesheet" href="../globals/footer.css">
     
 
     <!-- BOOTSTRAP CONFIG -->
     <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>


    <div id="spinning"></div>


    <header class="header">
        <div style="height: 100%; display: flex; align-items: center; background-color: rgb(250,250,250);" class="logo-header-container" onClick="window.location.href = '/'">
            <img src="../assets/logo_sem_marcadagua.png" style="width: 100%; height: 100%; margin-left: 8px; min-width: 75px; max-width: 85px;" alt="">
            <div class="company-name" style="height: fit-content; display: flex; padding: 0 35px;">
                <span style="font-family: monospace; font-size: 1.6em; color:rgb(41, 41, 41); text-decoration: solid;">
                    Go
                </span>
                <span style="font-family: monospace; font-size: 1.6em;color:rgb(122, 192, 16); font-weight: 800;">
                    Green
                </span>
            </div>
        </div>

        <div class="header-main">
            <p class="nav-item"><a href="/" style="color: rgb(68,68,68)">Home</a></p>
            <p class="nav-item"><a href="/sobre" style="color: rgb(68,68,68)">Sobre</a></p>
            <p class="nav-item"><a href="/produtos" style="color: rgb(68,68,68)">Produtos</a></p>
            <div class="nav-item" id="procurar-nav-item">
            <p id="procurar-and-icon-container">
                Procurar
                <i class="fa-solid fa-caret-down" id="seta" style="font-size: .9em; margin-left: 3px; height: fit-content;"></i>
            </p>
            <div class="procurar-painel-container" isOpen="false">
                <p style="margin: 0;" id="produtores-item" onClick="window.location.href = '/procurarUsuario'">Produtores</p>
                <p style="margin: 0; margin-top: 8px;"id="produtos-item" onClick="window.location.href = '/procurarProduto'">Produtos</p>
            </div>
            </div>
            <p class="hamburger-icon"><i class="fa-solid fa-bars"></i></p>
        </div>


        <div id="register-and-login" style="margin-left: 25px; display: flex; background-color: rgb(249, 249, 249); justify-content: center;">
            <p style="margin:0; padding-right: 15px; border-right: 1px solid rgb(92, 92, 92);" ><a href="/registrar" style="text-decoration: none;">
                <i class="fa-solid fa-user-plus" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
            </a>
        </p>
            <p style="margin:0; padding-left: 15px;">
                <a href="/login" style="text-decoration: none;">
                    <i class="fa-solid fa-right-to-bracket" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
                </a>
            </p>
        </div>

        <div class="header-user-icon-container">
            <img class="header-user-icon" src="" style="position:relative;">
            <div class="header-painel" style="visibility: hidden;">
                <li class="user-painel-item">
                    <a href="/"
                    style="text-decoration: none;" class="header-painel-li"
                    >Home</a></li>
                <li class="user-painel-item" >
                    <a href="/MeuPerfil"
                    style="text-decoration: none;"
                    class="header-painel-li"
                    >Meu Perfil</a></li>
                <li class="user-painel-item">
                    <a href="/estacaoDeCriacao"
                    style="text-decoration: none;"
                    class="header-painel-li">
                    Criar</a></li>
                <li class="user-painel-item">
                    <a href="/globalchat"
                    style="text-decoration: none;"
                    class="header-painel-li">
                    Global Chat</a></li>
                <li class="user-painel-item"><a href="/meusProdutos"
                    style="text-decoration: none; margin-bottom:25px;" class="header-painel-li"
                    >Meus produtos</a></li>
                <button class="logout-btn">
                    <p style="margin: 0; margin-left: 15px;">Sair</p>
                    <i class="fa-solid fa-person-walking-arrow-right" style="margin-left: 8px;"></i>
                </button>
            </div>
        </div>
    </header>


    <div class="sidebar" isOpen="false">
        <div class="sidebar-items">
            <p class="sidebar-item" onclick="window.location.href = '/'">Home</p>
            <p class="sidebar-item" onclick="window.location.href = '/sobreNos'">Sobre Nós</p>
            <p class="sidebar-item" onclick="window.location.href = '/produtos'">Produtos</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarProduto'">Procurar Produto</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarUsuario'">Procurar Produtor</p>
            <h2 id="click-to-close">CLICK PRA FECHAR</h2>
        </div>
    </div>





    <div class="bell-container">
        <div class="bell-inside-container">
            <i class="fa-regular fa-bell" id="bell-icon"></i>
            <div class="bell-painel">
                <div class="bell-painel-inside">
                <!-- <div class="select-all-messages-container">
                    <button class="delete-messages-button">Apagar pra mim</button>
                </div> -->
                <div class="all-messages-container">


                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- <div class="bell-container">
        <div class="bell-inside-container">
            <i class="fa-regular fa-bell" style="font-size: 2.5em;"></i>
            <div class="bell-painel">
                <div class="bell-painel-inside">
                </div>
            </div>
        </div>
    </div> -->


































    <div class="banner-container">
        <form class="banner-title-container">
            <!-- <h1 class="banner-title">COMPARTILHE</h1>
            <h1 class="banner-title">PRODUTOS</h1>
            <h1 class="banner-title">AGORA</h1> -->
            <h1 class="banner-title">Aqui voce encontrará informaçoes sobre produtos organicos que tem interesse livre de comissoes e compartilhados por outros criadores na Plataforma.</h1> 
            <div class="input-and-btn-container">
                <input type="text" placeholder="Buscar um produto" class="main-input"> 
                <button type="submit" class="search-btn">  <i class="fa-solid fa-magnifying-glass"></i>  </button>
            </div>
        
        </form>
        <div class="text-and-btn-container">
            
            <div class="banner-text-container">
            </div>
            <!-- <button class="quero-comecar-btn">Comecar</button> -->
        </div>
        <div class="banner">
        </div>
    </div>
    
    
    
    <div class="container">
 

        <div class="c0">
            <div class="website-card">
                <div class="website-card-first-part">
                    <!-- https://images.pexels.com/photos/270557/pexels-photo-270557.jpeg?auto=compress&cs=tinysrgb&w=600 -->
                    <div class="website-card-circle"
                    style="background-color: rgb(126, 176, 28); background-size: cover; background-position: center center;
                    display: flex; align-items: center; justify-content: center; font-size: 3em; color: white;
                    ">
                   <i class="fa-solid fa-fingerprint" style="margin: auto;"></i>
                   <!-- <i class="fa-solid fa-lock" style="margin: auto;"></i> -->
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Confiabilidade</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>

            <div class="website-card">
                <div class="website-card-first-part">
                    <!-- https://images.pexels.com/photos/270557/pexels-photo-270557.jpeg?auto=compress&cs=tinysrgb&w=600 -->
                    <div class="website-card-circle"
                    style="background-color: rgb(77, 50, 50); background-size: cover; background-position: center center;
                    display: flex; align-items: center; justify-content: center; font-size: 3em; color: white;
                    ">
                    <i class="fa-solid fa-check" style="margin:auto;"></i>
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Acessibilidade</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>

            <div class="website-card">
                <div class="website-card-first-part">
                    <!-- https://images.pexels.com/photos/270557/pexels-photo-270557.jpeg?auto=compress&cs=tinysrgb&w=600 -->
                    <div class="website-card-circle"
                    style="background-color: rgb(109, 151, 24); background-size: cover; background-position: center center;
                    display: flex; align-items: center; justify-content: center; font-size: 3em; color: white;
                    ">
                    <i class="fa-solid fa-heart-pulse" style="margin: auto;"></i>
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Saúde</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>

            <div class="website-card"  id="fourth-card">
                <div class="website-card-first-part">
                    <!-- https://images.pexels.com/photos/270557/pexels-photo-270557.jpeg?auto=compress&cs=tinysrgb&w=600 -->
                    <div class="website-card-circle"
                    style="background-color: rgb(48, 29, 29); background-size: cover; background-position: center center;
                    display: flex; align-items: center; justify-content: center; font-size: 3em; color: white;
                    ">
                    <i class="fa-solid fa-couch" style="margin: auto;"></i>
                </div>
                </div>
                <div class="website-card-second-part">
                    <h2 style="font-size: 1.8em;">Conforto</h2>
                    <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção grá</p>
                </div>
            </div>


        
           
        </div>



        <div class="c1">
            <h1>Plataforma</h1>
            <p style="margin: 0; font-size:1em;">Compartilhe seus produtos com outros usuarios agora mesmo em alguns cliques e torne-se um produtor em nosso site de forma gratuita. Somos uma empresa ficticia que tem o objetivo de auxiliar diversos tipos de produtores que desejam compartilhar sua mercadoria com mais pessoas. Uma plataforma para trazer produtores e pessoas que querem viver de forma mais saudavel em um unico lugar</p>
        </div>



        
        <div class="c1_2" 
        style="
     
        background-image: url('https://images.pexels.com/photos/128402/pexels-photo-128402.jpeg?auto=compress&cs=tinysrgb&w=600'); 
        border-radius: 50%;
        width: 350px;
        height: 350px;
        display: flex;
        align-items: center;
        margin-top: 150px;
        ">

        </div>





        <div class="c1_1" style="text-align: right;">
            <h1 style="text-align: right;text-justify: newspaper;  color: rgb(126, 176, 28);
                padding: 5px 0 5px 0;
            ">O que são Produtos Orgânicos?</h1>
            <p style="margin: 0; font-size:1em; margin-top: 10px; width: 100%;" class="oque-sao-organicos-text">
                Produtos Orgânicos são aqueles obtidos dentro de um sistema orgânico
                de produção agropecuária ou sustentável que beneficie o ecossistema local, proteja os recursos
                naturais, respeite as características socioeconômicas
                e culturais da comunidade local, preserve os direitos
                dos trabalhadores envolvidos e não utilize organismos
                geneticamente modificados nem químicos sintéticos.</p>
        </div>

      























            <div class="c2" style="position: relative;">
                <!-- <h2 style="
                    position: absolute; top: -55px; margin: auto; right: 0; left: 0;
                ">Veja como é fácil usar o GoGreen: </h2> -->
                <div class="c2-circle">
                    <!-- <i class="fa-solid fa-question" style="z-index: 3; margin-bottom: 15px; margin-left: 13px;"></i> -->
                    <div class="c2-inside-circle"></div>
                </div>

                <div class="como-usar-cards-container">
                    
                    <div class="como-usar-card" onClick="window.location.href = '/registrar'">
                        <div class="card-number-container" >
                            <div class=card-number>1</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Crie sua conta na GoGreen
                                <i class="fa-solid fa-user-tie" style="margin-left: 8px; font-size: .8em"></i> </h1>
                            <p class="como-usar-card-text">Cadastre-se gratuitamente agora mesmo. Voce pode usar sua conta para ter acesso à novas funcionalidades na plataforma, como publicas produtos e enviar mensagens para usuários</p>
                        </div>
                    </div>

                  
                    <div class="como-usar-card" onClick="window.location.href = '/meuPerfil'">
                        <div class="card-number-container">
                            <div class=card-number style="border-right: 4px solid rgb(126, 176, 28);">2</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Configure seu Perfil
                                <i class="fa-solid fa-gear" style="margin-left: 8px; font-size: .8em"></i>
                                
                            </h1>
                            <p class="como-usar-card-text">Adicione novos dados de cadastro em seu perfil para que outros usuários possam te contatar e conhecerem mais sobre voce e seus Produtos.</p>
                        </div>
                    </div>
                    
                    <div class="como-usar-card" onClick="window.location.href = '/estacaoDeCriacao'">
                        <div class="card-number-container">
                            <div class=card-number style="border-right: 4px solid rgb(126, 176, 28); border-bottom: 4px solid rgb(126, 176, 28);">3</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Divulgue seus Produtos
                                <i class="fa-solid fa-upload" style="margin-left: 8px; font-size: .8em"></i>

                            </h1>
                     
                            <p class="como-usar-card-text">Publique seus produtos na plataforma, preencha os campos para que assim outros usuários possam conhecê-los, visualizar suas respectivas informaçoes e .</p>
                        </div>
                </div>
                    <div class="como-usar-card" onClick="window.location.href = '/estacaoDeCriacao'">
                        <div class="card-number-container">
                            <div class=card-number style="border-right: 4px solid rgb(126, 176, 28); border-bottom: 4px solid rgb(126, 176, 28); border-left: 4px solid rgb(126, 176, 28);">4</div>
                        </div>
                        <div>
                            <h1 class="como-usar-card-title">Contate Usuários
                                <i class="fa-solid fa-comments" style="margin-left: 8px; font-size: .8em"></i>
                            </h1>
                     
                            <p class="como-usar-card-text">Envie propostas ou ofertas enviando mensangens para outros usuários através de seus perfis.</p>
                        </div>
                </div>
        </div>
        </div>

        
        
    
        <!-- <div class="c2">
            <div class="dicas-li-saudaveis-container">
                <h2>Dicas Saudáveis</h2>

                <p class="dicas-text" style="margin-top: 12px;">
                     Se alimente de forma saudavel a cada 3 horas
                </p>
                <p class="dicas-text">
                    Pratique exercicios físicos diariamente
                </p>
                <p class="dicas-text">
                     Beba no minimo dois litros de água por dia
                    </p>
                <p class="dicas-text">
                    Não vire a noite jogando Elden Ring 
                </p>           
                <p class="dicas-text">
                     Reduza os níveis de açúcar</p>        
                <p class="dicas-text">
                     Evite consumir produtos industrializados</p>                
            </div>
        </div> -->

      
     
        <div class="c3">

                 <h2 style="
                    position: absolute; top: 25px;
                ">Produtos em Destaque</h2>

                    
                         
                        
        </div> 
        <!-- <div class="c4">
            <div class="propaganda-text-controller">

                <p  id="side-banner-txt-1">COMEÇAR</p>
                <p  id="side-banner-txt-2">AGORA</p>
                
                <p>REGISTRAR</p>
                
                <p id="side-banner-txt-3">DE FORMA</p>
                <p>GRATUITA</p>
            </div>
            <button class="ir-btn">Registrar</button>

   
        
        </div> -->
        
 
        
    </div>






        <div class="footer">
            <!-- <div class="footer-circle">
                <div class="footer-circle-inside"></div>
            </div>
            <div class="footer-circle-2">
                <div class="footer-circle-inside-2">
               
                </div>
            </div> -->
            <!-- <div class="f1">
                <div class="f1-main">

                    <h2 class="f1-second-title">Produtos Orgânicos</h2>
                    <p class="f1-text">Somos uma empresa jovem procurando por idéias novas e criativas para ajudar a voce com seus produtos em seu trabalho diario ou voce que deseja ter uma vida mais saudavel através de boas práticas alimentares.</p>
                </div>
            </div> -->
            <div class="f2">
                <div class="f2-circle"></div>
                <h3 style="color:rgb(60,68,55); margin-bottom: 0;">Go<span style="color:rgb(122, 192, 16)">Green</span></h3>
                <h5 style="color: rgb(84, 84, 84);">Viva Bem</h5>
            </div>
            <!-- <div class="f3">
                <div class="f1-main">
                <h2 class="f1-second-title"> Siga-nos em nossas redes</h2>
                <div class="socials-container">

                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram" ></i>
                    <i class="fa-brands fa-twitter" ></i>
                </div>
               
            </div> -->
            </div>
        </div>
            
    </body>
            
</html>

           
    