@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body{
    background-color: #F5F5F5;
    background-color: red;
    height: 100vh;
    max-height: 100vh;
}


.container2{
    font-family: 'Inter', sans-serif;
    visibility: hidden;
    width: 450px;
    height: fit-content;
    margin: auto;
    margin-top: 100px;
}

.login-title{
    background-color: #72a220;
    border-radius: 25px 25px 0 0;
    color: white;
    width: 85%;
    margin: 0;
    margin: auto;
    text-align: center;
    padding: 22px 15px 22px 15px;
}

.form-container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 100%;
    box-shadow: 0 5px 5px 1px rgba(114, 114, 114, 0.639);
    margin: auto;
    background-color: white;
    padding: 30px 20px 13px 20px;
    position: relative;
}
.home{
    position: absolute;
    bottom: 15px;
    font-size: 1.3em;
    left: 36px;
    color: rgb(200,200,200);
    cursor: pointer;
}

h1{
    color: #555555e4;
    font-size: 1.1em;
    width: 90%;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 35px;
    padding-top: 35px;
    user-select: none;
  
}

label{
    font-size: .8em;
    color: rgb(210,210,210);
    margin: auto;
    margin-bottom: 3px;
    /* margin-left: 3px; */
    width: 90%;
    user-select: none;
}

input{
    margin-top: 0;
    background-color: rgb(235,235,235);
    color: rgb(135,135,135);
    border-radius: 2px;
    border: none;
    font-size: .9em;
    box-sizing: border-box;
    padding-left: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif!important;
}

input:focus{
    background-color: rgb(245,245,245);
    border: 1px solid rgb(235,235,235);
}

button, input{
    margin: auto;
    height: 38px;
    width: 90%;
}

#btn-logar{
    user-select: none;
    border-radius: 2px;
    color: rgb(236, 255, 226);
    height: 45px;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 35px;
    background: linear-gradient(to bottom, #7db023, #72a220);
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}
#btn-logar:hover{
    opacity: 90%;
    cursor: unset;
}



#inside-login-btn-circle{
    position: absolute;
    margin: auto;
    inset: 0 0 0 0;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid white;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    animation: infinite .8s linear spinningLogarButton;
    visibility: hidden;
}
@keyframes spinningLogarButton {
    from { transform: rotate(0deg); }
    to {  transform: rotate(360deg); }
}


.fail-message-container{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1.6em;
    font-weight: lighter;
    text-align: center;
    position: fixed;
    top: 15px;
    right: 25px;
    z-index: 2;
    max-width: 350px;
    font-size: .9em;
    border-radius: 4px;
    padding: 15px 20px 15px 20px;
    width: fit-content;
    height: fit-content;
    transition: 1s ease-in-out;
    opacity: 0%;
    visibility: hidden;
    cursor: pointer;
    background: linear-gradient(to bottom, #c82c2c, #bf1212);
    user-select: none;
}

@media (max-width: 460px){

    .container2{
        font-family: 'Inter', sans-serif;
        visibility: hidden;
        width: 450px;
        height: fit-content;
        margin: auto;
        margin-top: 50px;
        max-width: 100vw;
        min-width: 290px;
    }
    .login-title{
        width: 90%;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 100%;
        box-shadow: 0 5px 5px 1px rgba(114, 114, 114, 0.639);
        margin: auto;
        background-color: white;
        padding: 30px 20px 5px 20px;
    }

    button, input{
        margin: auto;
        height: 38px;
        width: 100%;
    }
    
    
}