@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body{
    background-color: #F5F5F5;
}


.container{
    font-family: 'Inter', sans-serif;
    visibility: hidden;
    background-color: #1818181a;
    width: fit-content;
    height: 300px;
    height: fit-content;
    width: 280px;
    padding: 0px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    margin-top: 105px;
    box-shadow: 0 5px 5px 1px rgba(114, 114, 114, 0.639);
}

h1{
    color: #555555e4;
    font-size: 1.6em;
    width: 90%;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 20px;
    user-select: none;
}

label{
    font-size: .8em;
    color: #555555cd;
    margin: auto;
    margin-bottom: 3px;
    /* margin-left: 3px; */
    width: 90%;
    user-select: none;
}

input{
    margin-top: 0;
    border: 1px solid #c4c4c4;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 6px;
    box-sizing: border-box;
    padding-left: 5px;
}

button, input{
    margin: auto;
    height: 38px;
    width: 90%;
}

button{
    user-select: none;
    border-radius: 8px;
    color: rgb(236, 255, 226);
    height: 38px;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 35px;
    background: linear-gradient(to bottom, #5C850C, #70A811);
    border: none;
    margin-bottom: 25px;
    position: relative;
}



#inside-login-btn-circle{
    position: absolute;
    margin: auto;
    inset: 0 0 0 0;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid white;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    animation: infinite .8s linear spinningLogarButton;
    visibility: hidden;
}
@keyframes spinningLogarButton {
    from { transform: rotate(0deg); }
    to {  transform: rotate(360deg); }
}


.fail-message-container{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1.6em;
    font-weight: lighter;
    text-align: center;
    position: fixed;
    /* margin: auto; */
    /* inset:  0 0 0; */
    top: 25px;
    right: 45px;
    /* bottom: unset; */
    z-index: 2;
    max-width: 300px;
    font-size: 1.1em;
    border-radius: 9px;
    padding: 27px 35px 27px 35px;
    width: fit-content;
    height: fit-content;
    transition: 1s ease-in-out;
    opacity: 0%;
    visibility: hidden;
    cursor: pointer;
    background: linear-gradient(to bottom, #D21B1B, #C10606);
    user-select: none;
}